<div
  [id]="menuId"
  class="dropdown-wrapper"
  tabindex="-1"
  role="menu"
  [attr.aria-label]="ariaLabel || null"
  [attr.aria-labelledby]="ariaLabelledby || null"
  [attr.aria-describedby]="ariaDescribedby || null"
>
  <button class="dropdown-trigger" (click)="isActive = !isActive" [ngStyle]="{ width: menuWidth }">
    <svg *ngIf="showIcon" viewBox="0 0 515.555 515.555" width="15" fill="#848484">
      <path
        d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
      />
      <path
        d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
      />
      <path
        d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
      />
    </svg>

    <div *ngIf="label" class="text-center block">{{ label }}</div>
    <ng-content select="div.label"></ng-content>

    <div *ngIf="!showIcon" [ngStyle]="{ transform: isActive ? 'rotate(180deg)' : 'rotate(0)' }">
      <own-icon icon="arrow-down" color="#3aabb9"></own-icon>
    </div>
  </button>
  <div
    class="dropdown-items"
    [class.active]="isActive"
    [class.dropdown-spacer]="fullWidth"
    (click)="isActive = false"
    [ngStyle]="{ left: showIcon ? '-140px' : '0', right: showIcon ? '' : '0' }"
  >
    <ng-content> </ng-content>
  </div>
</div>

<div class="menu-backdrop" *ngIf="isActive" (click)="isActive = false"></div>
