.dropdown-wrapper {
  position: relative;
}
.dropdown-trigger {
  border: none;
  padding: 10px 15px;
  background: transparent;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  text-align: center;
}
.dropdown-trigger:hover {
  cursor: pointer;
  outline: none;
}
.dropdown-items {
  opacity: 0;
  margin: 0 -1px;
  pointer-events: none;
  position: absolute;
  top: 38px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0 6px 6px 0 rgb(0 0 0 / 10%);
  background-clip: padding-box;
  border-radius: 0 0 0.35rem 0.35rem;
  border: 1px solid #cccccc;
  border-top: none;
  z-index: 9999;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.dropdown-spacer {
  padding-top: 20px;
}

.dropdown-items.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
