.toolbar-header {
    margin-top:68px; 
    background-color: transparent;
}

.toolbar-bottom-margin {
    margin-bottom: 24px;
}

.validators-container {
    display: flex;
}

.mat-expansion-panel-body {
    display: grid;
}
.mat-expansion-panel {
    margin-bottom: 15px !important;
}
.validator-header {
    background-color: transparent;
}
.validator-title {
    margin-left: 15px;
}