<div class="column-container align-center">
    <mat-form-field>
        <input matInput placeholder="block number" [value]="blockNumber" (input)="blockNumber = $event.target.value" type="number"
            required>
    </mat-form-field>
    <button (click)="onBlockInfoButtonClick()" mat-raised-button color="accent">GET BLOCK</button>
</div>
<div class="column-container" *ngIf="blockInfo">
    <mat-toolbar class="toolbar-header">Block info</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="block number" disabled value="{{blockInfo.number}}">
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="block hash" disabled value="{{blockInfo.hash}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="previous block hash" disabled value="{{blockInfo.previousHash}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="timestamp" disabled value="{{blockInfo.timestamp}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="validator address" disabled value="{{blockInfo.validator}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="transaction set root" disabled value="{{blockInfo.txSetRoot}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="transaction result set root" disabled value="{{blockInfo.txResultSetRoot}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="state root" disabled value="{{blockInfo.stateRoot}}"></textarea>
    </mat-form-field>
    <mat-toolbar class="toolbar-header">Transactions</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item *ngFor="let transaction of blockInfo.txSet" routerLink="/transaction/{{transaction}}">{{transaction}}</a>
    </mat-nav-list>
</div>
<div class="column-container" *ngIf="errors">
    <mat-toolbar class="toolbar-header">Errors</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
    </mat-list>