<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
            Set Account Controller
        </mat-panel-title>
        <button (click)="onRemoveAccountControllerClick()" mat-icon-button color="accent"
            aria-label="delete this row from actions list">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-expansion-panel-header>
    <mat-form-field class="address-field-width">
        <input matInput placeholder="account hash" [value]="setAccountController.accountHash || ''"
            (input)="setAccountController.accountHash = $event.target.value">
    </mat-form-field>
    <mat-form-field class="form-margin-right">
        <input matInput placeholder="controller address" [value]="setAccountController.controllerAddress || ''"
            (input)="setAccountController.controllerAddress = $event.target.value">
    </mat-form-field>
</mat-expansion-panel>