<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search by asset hash" [value]="assetHash"
          (input)="assetHash = $event.target.value" (keydown.enter)="onAssetInfoButtonClick()" required>
        <button class="search-button" (click)="onAssetInfoButtonClick()" title="Click to get detailed asset info.">
          <own-icon icon="search"></own-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="assetInfo">
  <div class="row">
    <div class="col-12 col-md-6">
      <own-card>
        <own-card-body [padding]="true">
          <div class="row">
            <div class="col-12">
              <b>Asset Hash</b>
            </div>
            <div class="col-12 text-truncate">
              {{ assetHash }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6 col-md-3">
              <b>Asset Code</b>
            </div>
            <div class="col-6 col-md-3 text-right brand border-right">
              {{ assetInfo.assetCode || '-' }}
            </div>
            <div class="col-6 col-md-3">
              <b>Eligibility</b>
            </div>
            <div class="col-6 col-md-3 text-right brand">
              {{ assetInfo.isEligibilityRequired ? 'Eligible' : 'Ineligible' }}
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <own-card>
          <own-card-body [padding]="true">
            <div class="row full-height align-items-center">
              <div class="col-12">
                <b>Current Controller Address</b>
                <div class="row">
                  <div class="col-8 text-truncate">
                    {{ assetInfo.controllerAddress }}
                  </div>
                  <div class="col-4 text-right">
                    <button class="button-transparent" ngxClipboard cbContent=" {{ assetInfo.controllerAddress }}" title="copy controller address">
                      <own-icon icon="copy" color="#eb6723"></own-icon>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<div *ngIf="errors">
  <h6>Errors</h6>
  <hr>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</div>
