<div class="container my-5" *ngIf="isKeyImported && accounts | async as accs">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-9">
      <div class="mega-input block bg-white shadow no-borders">
        <own-dropdown-menu id="account-selector" [fullWidth]="true" [showIcon]="false">
          <div class="label flex items-center justify-content-between">
            <div class="flex border-right">
              <div class="pl-2 pr-4 border-right">Account</div>
              <div class="px-4 text-normal flex">
                {{ selectedAccount ? selectedAccount : 'No accounts currently' }}

                <button
                  *ngIf="selectedAccount"
                  class="button-transparent"
                  title="Copy Account Hash"
                  ngxClipboard
                  cbContent="{{ selectedAccount }}"
                  (click)="copy($event)"
                >
                  <own-icon icon="copy"></own-icon>
                </button>
              </div>
            </div>
            <div>
              <a href="#" class="ml-4" title="Set Controller">
                <own-icon icon="settings" color="#eb6723"></own-icon>
              </a>
            </div>
          </div>
          <ng-container *ngFor="let acc of accs">
            <own-dropdown-item *ngIf="acc !== selectedAccount" (click)="selectAccount(acc)">
              <div class="flex items-center">
                <div class="px-4 border-right">Account</div>
                <div class="px-4 text-normal">{{ acc }}</div>
              </div>
            </own-dropdown-item>
          </ng-container>
        </own-dropdown-menu>
      </div>
    </div>
    <div class="col-12 col-md-1">
      <a
        class="mega-input text-lg bg-white no-borders flex items-center justify-content-center cursor-pointer"
        style="height: 45px"
        title="Add Account"
        (click)="addNewAccount()"
      >
        <own-icon icon="plus" class="mb-1" color="#3aabb9"></own-icon>
      </a>
    </div>

    <div class="col-12 col-md-10" *ngIf="!addingNewAsset && !addingNewAccount">
      <div class="mega-input block bg-white no-borders py-3 mt-4" *ngFor="let asset of accInfo.holdings">
        <div class="flex items-center justify-content-between">
          <div class="flex">
            <div class="px-4 border-right"><b>Asset</b></div>
            <div class="px-4 text-normal">
              {{ asset.assetHash }}
              <button class="button-transparent" title="Copy Asset Hash" ngxClipboard cbContent="{{ asset.assetHash }}">
                <own-icon icon="copy"></own-icon>
              </button>
            </div>
          </div>
          <div class="flex">
            <div class="px-4 border-right">
              <b>{{ asset.balance }}</b>
            </div>
            <div class="rotate-90 px-4 cursor-pointer">
              <own-icon icon="swap" color="#eb6723"></own-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="text-center">
        <button
          *ngIf="selectedAccount && !addingNewAsset && !addingNewAccount"
          class="own-effect mx-auto"
          type="button"
          (click)="addNewAsset()"
        >
          ADD NEW ASSET
        </button>
      </div>

      <div *ngIf="addingNewAsset" @flyUpDown>
        <app-add-asset
          (onClosed)="close()"
          (onAdded)="onNewAssetAdded($event)"
          [account]="selectedAccount"
        ></app-add-asset>
      </div>

      <div *ngIf="addingNewAccount" @flyUpDown>
        <app-add-account (onClosed)="close()" (onAdded)="onNewAccountAdded($event)"></app-add-account>
      </div>
    </div>
  </div>
</div>
