################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/chainium-wallet/.vscode
/Source/chainium-faucet/.vscode
