<div class="row-container" style="font-family:Roboto, 'Helvetica Neue', sans-serif">
    <h3>Disclaimer</h3>
</div>
<div class="row-container" style="font-family:Roboto, 'Helvetica Neue', sans-serif">
    <mat-icon color="accent">info_outline</mat-icon>
    <div class="margin-l-20">
        Write down and safely store your recovery phrase (a list of 24 words). <br><b>Remember:</b> without the recovery
        phrase you will not be able to restore your wallet if you ever need to.
    </div>
</div>
<div class="row-container margin-t-20" style="font-family:Roboto, 'Helvetica Neue', sans-serif">
    <mat-icon color="accent">info_outline</mat-icon>
    <div class="margin-l-20">
        Please avoid having the recovery phrase copy on the clipboard; we recommend to write it down on a piece of paper
        or type it into another device.
    </div>
</div>
<div class="column-container margin-t-20">
    <div class="margin-t-20">
        <div class="row">
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Recovery phrase" class="monospace-font" rows="5"
                    [formControl]="mnemonic" readonly required></textarea>
                <mat-icon matSuffix (click)="onGenerateMnemonic()" color="accent" class="margin-l-20 pointer"
                    matTooltip="Generate new recovery phrase">autorenew</mat-icon>
                <mat-error *ngIf="mnemonic.invalid">This field is required.</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="margin-t-20">
        <mat-form-field>
            <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="password"
                required />
            <mat-icon matSuffix (click)="hide = !hide" color="accent" class="pointer">
                {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.invalid">This field is required.</mat-error>
        </mat-form-field>
        <div class="row">
            <button (click)="onCreateNewWallet()" mat-raised-button color="accent">CREATE WALLET</button>
            <mat-checkbox class="margin-l-20" name="saveKeystore" [(ngModel)]="saveKeystore" matTooltip="">
                Save keystore file
            </mat-checkbox>
        </div>
    </div>
</div>