<div class="column-container">
    <mat-tab-group>
        <mat-tab label="Mnemonic">
            <div class="margin-t-20">
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Mnemonic" [formControl]="mnemonic" required></textarea>
                    <mat-error *ngIf="mnemonic.invalid">This field is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="margin-t-20">
                <mat-form-field class="full-width">
                    <input matInput placeholder="password" type="password" [formControl]="password" required />
                    <mat-error *ngIf="password.invalid">This field is required.</mat-error>
                </mat-form-field>

                <button (click)="onRestoreWithMnemonic()" mat-raised-button color="accent">Restore</button>
            </div>
        </mat-tab>

        <mat-tab label="Keystore">
            <div class="margin-t-20">
                <input type="file" (change)="fileChanged($event)" />
            </div>
            <div class="margin-t-20">
                <mat-form-field class="full-width">
                    <input matInput placeholder="password" type="password" [formControl]="password" required />
                    <mat-error *ngIf="password.invalid">This field is required.</mat-error>
                </mat-form-field>
                <button (click)="onRestoreWithFile()" mat-raised-button color="accent">Restore</button>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>