<div class="row-container" style="font-family:Roboto, 'Helvetica Neue', sans-serif">
    <mat-icon color="accent">info_outline</mat-icon>
    <div class="margin-l-20">
        Restoring the wallet with a recovery phrase or keystore file enables users to restore all of the CHX Addresses that have been created from it by clicking "Add CHX Address".
    </div>
</div>
<div class="column-container margin-t-20">
    <mat-tab-group>
        <mat-tab label="Recovery phrase">
            <div class="margin-t-20">
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Recovery phrase" class="monospace-font" rows="5" [formControl]="mnemonic" required></textarea>
                    <mat-error *ngIf="mnemonic.invalid">This field is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="margin-t-20">
                <mat-form-field>
                    <input matInput placeholder="password" [type]="hideWithMnemonic ? 'password' : 'text'" [formControl]="password" required />
                    <mat-icon matSuffix (click)="hideWithMnemonic = !hideWithMnemonic" color="accent" class="pointer">{{hideWithMnemonic ? 'visibility' : 'visibility_off'}}</mat-icon>            
                    <mat-error *ngIf="password.invalid">This field is required.</mat-error>
                </mat-form-field>
                <div class="row">
                    <button (click)="onRestoreWithMnemonic()" mat-raised-button color="accent">RESTORE</button>
                </div>                
            </div>
        </mat-tab>
        <mat-tab label="Keystore">
            <div class="margin-t-20">
                <input type="file" (change)="fileChanged($event)" />
            </div>
            <div class="margin-t-20">
                <mat-form-field>
                    <input matInput placeholder="password" [type]="hideWithKeystore ? 'password' : 'text'" [formControl]="password" required />
                    <mat-icon matSuffix (click)="hideWithKeystore = !hideWithKeystore" color="accent" class="pointer">{{hideWithKeystore ? 'visibility' : 'visibility_off'}}</mat-icon>            
                    <mat-error *ngIf="password.invalid">This field is required.</mat-error>
                </mat-form-field>
                <div *ngIf="password.valid && wrongPassword">
                    <mat-error class='error-font'>Invalid password!</mat-error>
                </div>
                <div class="row margin-t-20">
                    <button (click)="onRestoreWithFile()" mat-raised-button color="accent">RESTORE</button>
                </div>                
            </div>
        </mat-tab>
        <mat-tab label="Private Key">
            <mat-form-field class="full-width margin-t-20">
                <input matInput placeholder="enter private key" [type]="hideWithPrivateKey ? 'password' : 'text'" [value]="privateKey" (input)="privateKey = $event.target.value" required/>
                <mat-icon matSuffix (click)="hideWithPrivateKey = !hideWithPrivateKey" color="accent" class="pointer">{{hideWithPrivateKey ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <button (click)="onRestoreWithPrivateKey()" mat-raised-button color="accent" matTooltip="Enter your private key and click import in order to view info about account.">IMPORT</button>     
            <div class="column-container margin-t-20">
                <mat-toolbar class="toolbar-header">Warnings</mat-toolbar>                
                <mat-divider class="toolbar-bottom-margin"></mat-divider>
                <mat-list-item>
                    <mat-icon color="accent">report_problem</mat-icon>
                    Wallets restored with private keys are not recoverable if the private key is lost. 
                    Your private key will be unloaded from the wallet upon closing the application or clicking the "Unload Private Key" button.
                </mat-list-item>
                <mat-list-item>
                    <mat-icon color="accent">report_problem</mat-icon>
                    This is not a recommended way to access your wallet. Due to the sensitivity of the information involved, this option should only be used in offline settings by experienced users.
                </mat-list-item>
            </div>             
        </mat-tab>
    </mat-tab-group>
</div>