<div class="column-container align-center">                 
    <div class="row margin-t-20 align-center" >
        <div class="row-container">
            <mat-label class="condensed">Are you sure you want to Unload Wallet ?</mat-label>         
        </div>
        <div class="row-container margin-t-20 align-center">                    
            <button (click)="onCancel()" mat-raised-button color="accent">No</button>
            <button style="margin-left:20px" (click)="onSubmit()" mat-raised-button color="accent">Yes</button>        
        </div>
    </div>
</div>
