<div class="column-container align-center">                 
    <div class="row margin-t-20 align-center" >
        <div class="row-container">
            <mat-label style="font-family:Roboto, 'Helvetica Neue', sans-serif">Are you sure you want to unload your wallet? Unloading your wallet will remove the wallet context as if no wallet ever has been generated. However, once your wallet has been unloaded, you can use the 'Create Wallet' or 'Restore Wallet' options again.
                    Do you want to continue unloading your wallet?</mat-label>         
        </div>
        <div class="row-container margin-t-20 align-center">                    
            <button (click)="onCancel()" mat-raised-button color="accent">No</button>
            <button style="margin-left:20px" (click)="onSubmit()" mat-raised-button color="accent">Yes</button>        
        </div>
    </div>
</div>
