<div class="container my-5" *ngIf="isKeyImported && metaMaskStatus$ | async as status">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8">
      <own-card>
        <own-card-title>
          <div class="row justify-content-between">
            <div class="col">Cross-Chain Transfer</div>
            <div class="col text-right">
              <span class="text-small text-info mr-2" *ngIf="status === 'Connected' && chainName">
                {{ chainName }}
              </span>
              <a role="button" (click)="close()">
                <own-icon icon="close" viewBox="0 0 24 24"></own-icon>
              </a>
            </div>
          </div>
        </own-card-title>
        <own-card-body [padding]="true">
          <!-- Error -->
          <ng-container *ngIf="error" [ngTemplateOutlet]="errorScreen"></ng-container>

          <ng-container *ngIf="txStatus$ | async as txStatus">
            <!-- Mapping -->
            <ng-container
              *ngIf="showMapping && (txStatus === 'ready' || txStatus === 'mapping')"
              [ngTemplateOutlet]="mappingScreen"
            ></ng-container>

            <ng-container *ngIf="txResult$ | async as txRes">
              <!-- Proccessing -->
              <ng-container *ngIf="txStatus === 'proccessing'">
                <ng-container *ngTemplateOutlet="proccessingScreen; context: { txResult: txRes }"></ng-container>
              </ng-container>
              <!-- Transaction info -->
              <ng-container *ngIf="txStatus === 'done'">
                <ng-container *ngTemplateOutlet="transactionInfo; context: { txResult: txRes }"></ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!error && !showMapping && (!txStatus || txStatus === 'ready')">
              <!-- Step 1 - Accept Risks -->
              <div class="row" *ngIf="step === 1 && acceptBridgeForm">
                <div class="col">
                  <h4 class="mb-4">Terms to accept</h4>
                  <p>
                    This process allows you to transfer CHX tokens from the
                    <strong>WeOwn Blockchain</strong> onto other blockchains and back.
                  </p>
                  <p>
                    Before you proceed, please make sure you are familiar with inter-blockchain related swap / bridge /
                    wrap risks involved.
                  </p>
                  <p class="mt-4">The pre-requisites for the token bridge are:</p>
                  <ul>
                    <li>You have created a CHX wallet, loaded with enough CHX tokens incl. transaction fees.</li>
                    <li>
                      You have a wallet on the supported source and target blockchain with enough tokens and transaction
                      fees.
                    </li>
                    <li>
                      You are in control of all private keys for both source and target blockchain, safely stored in a
                      secure place.
                    </li>
                    <li>You have a MetaMask installed and you can access it.</li>
                  </ul>
                  <form [formGroup]="acceptBridgeForm">
                    <div class="row mt-4" [class.terms-disabled]="status !== 'Connected'">
                      <div class="col mt-4">
                        <input type="checkbox" formControlName="aware" id="aware-of-risks" />
                        <label class="m-0" for="aware-of-risks"
                          >I am fully aware of the risks involved, and any incorrect usage could result in total or
                          partial loss of my funds</label
                        >
                      </div>
                    </div>
                    <div class="row mt-4" [class.terms-disabled]="status !== 'Connected'">
                      <div class="col">
                        <input type="checkbox" formControlName="confirm" id="confirm" />
                        <label class="m-0" for="confirm">
                          I hereby confirm that both target and source wallets are in my control and I meet all
                          prerequisites described above.
                        </label>
                      </div>
                    </div>
                    <div class="row mt-4" [class.terms-disabled]="status !== 'Connected'">
                      <div class="col">
                        <input type="checkbox" formControlName="agree" id="agree" />
                        <label class="m-0" for="agree">
                          I confirm and agree that WeOwn cannot be held accountable for any incorrect or improper use of
                          the bridge feature.
                        </label>
                      </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                      <div class="col col-sm-6 mt-4">
                        <button
                          [disabled]="(status !== 'Disconnected' && acceptBridgeForm.invalid) || loading"
                          class="block own-effect"
                          (click)="metamask.currentAccount ? acceptRisks() : connect()"
                        >
                          <svg
                            *ngIf="loading || status === 'Connecting'"
                            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                          >
                            <circle
                              class="opacity-25"
                              cx="12"
                              cy="12"
                              r="10"
                              stroke="#ffffff"
                              stroke-width="4"
                            ></circle>
                            <path
                              class="opacity-75"
                              fill="#dfdfdf"
                              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                            ></path>
                          </svg>
                          <ng-container *ngIf="status !== 'Connecting'">
                            {{ status === 'Connected' ? 'ACCEPT AND CONTINUE' : 'CONNECT WITH METAMASK' }}
                          </ng-container>
                          {{ status === 'Connecting' ? 'CONNECTING...' : '' }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Form -->
              <div class="row" *ngIf="step === 2 && assetBridgeForm">
                <form class="col" [formGroup]="assetBridgeForm">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <label for="asset" class="col-2 ml-2">Asset</label>
                        <div class="col info text-right">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            {{ from === 'own' ? 'Balance: ' + chxBalance + ' CHX' : 'Balance: ' + balance + ' CHX' }}
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX'">
                            {{
                              from === 'own'
                                ? 'Balance: ' + nativeBalance + ' ' + (selectedAsset | uppercase)
                                : 'Balance: ' + balance + ' ' + (selectedAsset | uppercase)
                            }}
                          </ng-container>
                        </div>
                      </div>
                      <div class="mega-input block text-lg">
                        <own-dropdown-menu id="asset-selector" [showIcon]="false" [fullWidth]="true">
                          <div class="label flex items-center justify-content-between wallet-table">
                            <div class="flex items-center">
                              <img
                                width="30px"
                                height="30px"
                                class="mr-2"
                                [src]="'https://static.weown.com/own/bridge/' + selectedAsset + '.png'"
                              />
                              <div class="text-normal flex">
                                {{ selectedAsset ? selectedAsset : 'No assets currently' }}
                              </div>
                            </div>
                          </div>
                          <ng-container *ngFor="let asset of assets">
                            <own-dropdown-item
                              *ngIf="asset.assetCode !== selectedAsset"
                              [hasPadding]="false"
                              (click)="assetBridgeForm.get('asset').setValue(asset.assetCode)"
                            >
                              <div class="flex items-center px-4">
                                <img
                                  width="30px"
                                  height="30px"
                                  class="mr-2"
                                  [src]="'https://static.weown.com/own/bridge/' + asset.assetCode + '.png'"
                                />
                                <div class="text-normal">{{ asset.assetCode }}</div>
                              </div>
                            </own-dropdown-item>
                          </ng-container>
                        </own-dropdown-menu>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row">
                        <label for="amount" class="col-2 ml-2">Amount</label>
                        <div class="col info text-right">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            {{ to === 'own' ? 'Balance: ' + chxBalance + 'CHX' : 'Balance: ' + balance + ' CHX' }}
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX'">
                            {{
                              to === 'own'
                                ? 'Balance: ' + nativeBalance + ' ' + (selectedAsset | uppercase)
                                : 'Balance: ' + balance + ' ' + (selectedAsset | uppercase)
                            }}
                          </ng-container>
                        </div>
                      </div>
                      <div class="mega-input text-lg">
                        <input
                          id="amount"
                          name="amount"
                          class="block no-borders"
                          type="number"
                          formControlName="amount"
                        />
                      </div>
                      <span
                        class="text-danger p-2 text-small"
                        *ngIf="
                          assetBridgeForm.get('amount').dirty &&
                          assetBridgeForm.get('amount').touched &&
                          assetBridgeForm.get('amount').errors
                        "
                      >
                        <span
                          *ngIf="
                            assetBridgeForm.get('amount').errors?.min && !assetBridgeForm.get('amount').errors?.max
                          "
                        >
                          Minimum amount is {{ minWrapAmount }}
                        </span>

                        <span *ngIf="assetBridgeForm.get('amount').errors?.max">
                          Amount can't be greater than your balance
                        </span>

                        <span *ngIf="assetBridgeForm.get('amount').errors?.required"> Amount is required </span>
                      </span>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6">
                      <label for="from" class="ml-2">From</label>
                      <div class="shadow-sm border rounded">
                        <div class="p-4 pb-0 position-relative">
                          <ng-container *ngIf="selectedAsset === 'CHX' && from !== 'own' && !addressIsMapped">
                            <a
                              role="button"
                              (click)="showMapping = true"
                              class="position-absolute block right-0 text-right mb-4 pr-4"
                              >MAP ADDRESS</a
                            >
                          </ng-container>
                          <ng-container [ngSwitch]="from">
                            <ng-container *ngSwitchCase="'own'" [ngTemplateOutlet]="weownLogo"></ng-container>
                            <ng-container *ngSwitchCase="'eth'" [ngTemplateOutlet]="ethLogo"></ng-container>
                            <ng-container *ngSwitchCase="'bsc'" [ngTemplateOutlet]="bscLogo"></ng-container>
                          </ng-container>
                          <div class="position-absolute swap-chains">
                            <button
                              class="button-transparent cursor-pointer rotate-90 px-4"
                              title="Swap Blockchains"
                              (click)="swapBlockchains()"
                            >
                              <own-icon icon="swap"></own-icon>
                            </button>
                          </div>
                        </div>
                        <ng-container *ngIf="from !== 'own'">
                          <ng-container
                            *ngTemplateOutlet="bcDropdown; context: { target: 'from', current: from }"
                          ></ng-container>
                        </ng-container>
                        <ng-container *ngIf="from === 'own'">
                          <label class="px-4 mt-2">WeOwn</label>
                        </ng-container>
                        <div class="p-4 border-top-all">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            <div class="mb-2">Address:</div>
                            <div class="row">
                              <div class="info elipsis col">
                                {{ fromAddress }}
                              </div>
                              <div class="col-2">
                                <button
                                  class="button-transparent p-0"
                                  title="Copy Address"
                                  ngxClipboard
                                  cbContent="{{ fromAddress }}"
                                >
                                  <own-icon icon="copy" color="#EB6723"></own-icon>
                                </button>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && from !== 'own'">
                            <div class="mb-2">Address:</div>
                            <div class="mega-input">
                              <input
                                id="from-address"
                                name="from-address"
                                class="block no-borders elipsis"
                                type="text"
                                formControlName="fromAddress"
                              />
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && from === 'own'">
                            <div class="mb-2">Account:</div>
                            <button
                              *ngIf="accounts.length === 0"
                              type="button"
                              class="block own-effect"
                              routerLink="/wallet/portfolio"
                            >
                              ADD ACCOUNT
                            </button>
                            <div class="mega-input block position-relative" *ngIf="accounts.length > 0">
                              <ng-container [ngTemplateOutlet]="accountDropdown"></ng-container>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="from" class="ml-2">To</label>
                      <div class="shadow-sm border rounded">
                        <div class="p-4 pb-0 position-relative">
                          <ng-container *ngIf="selectedAsset === 'CHX' && to !== 'own' && !addressIsMapped">
                            <a
                              role="button"
                              (click)="showMapping = true"
                              class="position-absolute block right-0 text-right mb-4 pr-4"
                              >MAP ADDRESS</a
                            >
                          </ng-container>
                          <ng-container [ngSwitch]="to">
                            <ng-container *ngSwitchCase="'own'" [ngTemplateOutlet]="weownLogo"></ng-container>
                            <ng-container *ngSwitchCase="'eth'" [ngTemplateOutlet]="ethLogo"></ng-container>
                            <ng-container *ngSwitchCase="'bsc'" [ngTemplateOutlet]="bscLogo"></ng-container>
                          </ng-container>
                        </div>
                        <ng-container *ngIf="to === 'own'">
                          <label class="px-4 mt-2">WeOwn</label>
                        </ng-container>
                        <ng-container *ngIf="to !== 'own'">
                          <ng-container
                            *ngTemplateOutlet="bcDropdown; context: { target: 'to', current: to }"
                          ></ng-container>
                        </ng-container>
                        <div class="p-4 border-top-all">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            <div class="mb-2">Address:</div>
                            <div class="row">
                              <div class="info elipsis col">
                                {{ toAddress }}
                              </div>
                              <div class="col-2">
                                <button
                                  class="button-transparent p-0"
                                  title="Copy Address"
                                  ngxClipboard
                                  cbContent="{{ toAddress }}"
                                >
                                  <own-icon icon="copy" color="#EB6723"></own-icon>
                                </button>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && to !== 'own'">
                            <div class="mb-2">Address:</div>
                            <div class="mega-input">
                              <input
                                id="to-address"
                                name="to-address"
                                class="block no-borders elipsis"
                                type="text"
                                formControlName="toAddress"
                              />
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && to === 'own'">
                            <div class="mb-2">Account:</div>
                            <button
                              *ngIf="accounts.length === 0"
                              type="button"
                              class="block own-effect"
                              routerLink="/wallet/portfolio"
                            >
                              ADD ACCOUNT
                            </button>
                            <div class="mega-input block position-relative" *ngIf="accounts.length > 0">
                              <ng-container [ngTemplateOutlet]="accountDropdown"></ng-container>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4 pt-4">
                    <div class="col">
                      <ng-container *ngIf="bridgeFee" [ngTemplateOutlet]="bridgeFeesTpl"></ng-container>
                    </div>
                    <div class="col">
                      <button
                        [disabled]="assetBridgeForm.invalid || loading"
                        class="block own-effect"
                        (click)="transfer()"
                      >
                        <svg
                          *ngIf="loading"
                          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                          <path
                            class="opacity-75"
                            fill="#dfdfdf"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                          ></path>
                        </svg>
                        TRANSFER
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-container>
          </ng-container>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>

<ng-template #mappingScreen>
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4">Bind your WeOwn address with your {{ targetChainName(to !== 'own' ? to : from) }} address</h4>
      <p>
        In order to transfer and move CHX Tokens between both our WeOwn blockchain and the
        {{ targetChainName(to !== 'own' ? to : from) }} network, you’ll have to bind your WeOwn address directly with
        one of your {{ targetChainName(to !== 'own' ? to : from) }} addresses by using MetaMask. Once MetaMask opens,
        please confirm the mapped transaction, which binds your current WeOwn address with the
        {{ targetChainName(to !== 'own' ? to : from) }} address you select on MetaMask.
      </p>
      <p>
        The binding of the WeOwn address to your {{ targetChainName(to !== 'own' ? to : from) }} address is a one-time
        event. For transparency purpose, the following addresses and smart contracts are involved in the process:
      </p>

      <div class="mb-4 mt-4 text-lg">
        <div><strong>CHX Address:</strong> {{ chxAddress }}</div>
        <div>
          <strong>{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} Address:</strong> {{ metaMaskAddress }}
        </div>
      </div>

      <div class="mt-4 text-small text-info">
        <p>
          Once you have confirmed the mapping between both addresses, it cannot be undone. If you made a mistake with
          the binding, you need to create a new WeOwn address, and repeat the steps.
        </p>
        <p>
          The mapping does not automatically transfer funds – it only binds and connects both of your addresses. You are
          in full control of moving the funds, and the next steps will guide you on how to transfer tokens across both
          networks and your addresses.
        </p>
        <p>
          A transaction fee will be required while binding to the
          {{ targetChainName(to !== 'own' ? to : from) }} network. So please make sure you have adequate funds available
          in your MetaMask wallet. There will be no transaction fee required on the WeOwn WeOwn blockchain during this
          process.
        </p>
      </div>

      <div class="row mt-4 justify-content-center">
        <div class="col col-sm-6 mt-4">
          <button [disabled]="loading" class="block own-effect" (click)="mapAddress()">
            <svg
              *ngIf="loading"
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
              <path
                class="opacity-75"
                fill="#dfdfdf"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            BIND ADDRESSES ON METAMASK
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #accountDropdown>
  <own-dropdown-menu id="account-selector" [showIcon]="false" [fullWidth]="true">
    <div class="label flex items-center justify-content-between wallet-table col-11">
      <div class="elipsis -ml-1">
        {{ account ? account : 'No accounts currently' }}
      </div>
    </div>
    <ng-container *ngFor="let item of accounts">
      <own-dropdown-item
        *ngIf="item !== account"
        [hasPadding]="false"
        (click)="assetBridgeForm.get('account').setValue(item)"
      >
        <div class="row px-4">
          <div class="text-normal col-11 elipsis">{{ item }}</div>
        </div>
      </own-dropdown-item>
    </ng-container>
  </own-dropdown-menu>
</ng-template>

<ng-template #bcDropdown let-target="target" let-current="current">
  <own-dropdown-menu [showIcon]="false" [fullWidth]="true">
    <div class="label flex items-center justify-content-between wallet-table">
      <div class="flex pl-2">
        {{ targetChainName(current) }}
      </div>
    </div>
    <ng-container *ngFor="let chain of blockchains">
      <own-dropdown-item
        *ngIf="chain.code !== current"
        [hasPadding]="false"
        (click)="assetBridgeForm.get(target).setValue(chain.code)"
      >
        <div class="flex items-center">
          <div class="px-4 text-normal">{{ chain.name }}</div>
        </div>
      </own-dropdown-item>
    </ng-container>
  </own-dropdown-menu>
</ng-template>

<ng-template #weownLogo>
  <svg viewBox="0 0 440 540" width="100" height="100" style="margin-left: -30px">
    <path
      d="M207.32,295.78a2.5,2.5,0,0,0,3.68-1.17l39.15-71.2A29.15,29.15,0,0,1,288,207.08a28.68,28.68,0,0,1,4.23,2.09l3.45,2.1,53.1,31.84a2.49,2.49,0,0,0,3.47-.92l60-105A162.7,162.7,0,0,0,142.1,256.44Z"
      style="fill: #f26622"
    ></path>
    <path
      d="M394.65,319.7l-4.19,4.52A34.26,34.26,0,0,1,345,328.51l-61.1-42.86a2.5,2.5,0,0,0-3.63.72L240.73,341l-2.9,4.09A21,21,0,0,1,209,352.35a22.22,22.22,0,0,1-3.06-2.23l-57.75-46.47a162.75,162.75,0,0,0,319.34-44.33c0-3-.09-5.91-.25-8.84Z"
      style="fill: #f26622"
    ></path>
  </svg>
</ng-template>

<ng-template #ethLogo>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="100" height="100">
    <path
      class="ethereum-one"
      d="M99.88,15.1c.32-.57.38,0,.44.13.74,1.18,1.46,2.38,2.18,3.57l49.23,81.7a2.11,2.11,0,0,1,.45.88,1.73,1.73,0,0,1-.89-.22c-1.93-.87-3.84-1.76-5.77-2.64l-9.21-4.21-13-5.87-9.22-4.21-13.1-6c-1-.45-1-.47-1,.63v53.2c-.24-.2-.15-.48-.15-.72q0-26.71,0-53.43a1.71,1.71,0,0,0,.15-1V15.89C100,15.63,100.15,15.32,99.88,15.1Z"
    />
    <path
      class="ethereum-two"
      d="M99.88,15.1c.27.22.16.53.16.79V77a1.71,1.71,0,0,1-.15,1c-.76.32-1.52.63-2.27,1l-9.29,4.24L75.38,89l-9.22,4.21c-4.86,2.2-9.71,4.42-14.59,6.59a18.84,18.84,0,0,1-3.68,1.54,45.38,45.38,0,0,1,2.6-4.48Q69.36,65.55,88.25,34.21L99.54,15.49C99.63,15.34,99.69,15.16,99.88,15.1Z"
    />
    <path
      class="ethereum-three"
      d="M100,132.11V78.91c0-1.1,0-1.08,1-.63l13.1,6,9.22,4.21,13,5.87,9.21,4.21c1.93.88,3.84,1.77,5.77,2.64a1.73,1.73,0,0,0,.89.22c.26.48-.24.43-.4.53-3.23,1.93-6.48,3.85-9.72,5.76q-9.69,5.73-19.38,11.45c-5.08,3-10.17,6-15.25,9-2.24,1.32-4.46,2.68-6.7,4-.22.13-.4.34-.69.32Z"
    />
    <path
      class="ethereum-four"
      d="M100,132.11v.31a21.22,21.22,0,0,1-3.16-1.76Q72.61,116.34,48.35,102l-.45-.3v-.3h0a18.84,18.84,0,0,0,3.68-1.54c4.88-2.17,9.73-4.39,14.59-6.59L75.38,89l13-5.87,9.29-4.24c.75-.34,1.51-.65,2.27-1q0,26.72,0,53.43C99.89,131.63,99.8,131.91,100,132.11Z"
    />
    <path
      class="ethereum-five"
      d="M100.18,185c-.38.34-.41-.11-.51-.26-1.69-2.35-3.36-4.71-5-7.07L58.11,126.22l-9.78-13.79-.39-.57c.26-.16.41,0,.58.14l28.76,17,22.49,13.29c.09.05.19.08.28.12s0,.21,0,.31v41.66C100,184.59,100,184.84,100.18,185Z"
    />
    <path
      class="ethereum-six"
      d="M100.18,185c-.21-.18-.14-.43-.14-.65V142.71c0-.1,0-.2,0-.31L131.29,124l20-11.82a1.37,1.37,0,0,1,.68-.31c.07.32-.17.48-.31.68q-25.58,36-51.17,72.07Z"
    />
    <path d="M47.89,101.38v.3C47.67,101.59,47.72,101.49,47.89,101.38Z" style="fill: #8a92b1" />
  </svg>
</ng-template>

<ng-template #bscLogo>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="100" height="100">
    <path
      d="M66.29,113.93c.32.3.68.62,1,1q15.45,15.31,30.88,30.65c1.78,1.77,1.78,1.77,3.58,0q15.42-15.33,30.85-30.67c.91-.91,1.39-1,2.35,0q8.68,8.74,17.52,17.32c.87.85.93,1.31,0,2.22q-25.62,25.36-51.17,50.82c-1,1-1.54,1.1-2.6,0q-25.65-25.56-51.39-51c-.66-.65-.81-1,0-1.76,6-5.93,12.06-11.91,18.08-17.87C65.61,114.32,65.82,114,66.29,113.93Z"
    />
    <path
      d="M66.18,86.2c-.29-.25-.55-.44-.77-.66-6-6-12.09-12-18.18-18-.83-.81-.41-1.18.17-1.75L83.6,29.84c5.07-5,10.16-10,15.19-15.11.88-.89,1.35-1.06,2.35-.06q25.59,25.5,51.3,50.9c1,1,.82,1.47-.07,2.34q-8.85,8.67-17.58,17.47c-1,1-1.41.55-2.13-.16q-15.52-15.47-31.08-30.89c-1.62-1.6-1.61-1.6-3.24,0L67.24,85.21C66.91,85.54,66.56,85.85,66.18,86.2Z"
    />
    <path
      d="M100,80.23c.3.28.54.48.77.71C106.92,87,113,93.1,119.2,99.14c.74.73.62,1.15,0,1.8q-9.24,9.07-18.42,18.2c-.58.57-.95.61-1.55,0q-9.27-9.25-18.6-18.47c-.61-.6-.41-.9.08-1.4Q90,90.07,99.29,80.84C99.51,80.62,99.77,80.44,100,80.23Z"
    />
    <path
      d="M52.24,100c-.27.31-.46.55-.68.77q-9.08,9-18.13,18c-.66.66-1,.56-1.66,0q-9-9-18.16-18c-.62-.61-.55-.94,0-1.52q9-8.93,18-17.91c.73-.74,1.16-.72,1.9,0,5.94,6,11.93,11.87,17.91,17.8C51.73,99.42,52,99.7,52.24,100Z"
    />
    <path
      d="M167.33,119.47c-.29-.26-.54-.45-.77-.68q-9.08-9-18.16-18c-.6-.59-.61-.94,0-1.53q9.15-9,18.27-18.12c.52-.52.87-.57,1.42,0q9.16,9.15,18.37,18.25c.48.48.52.79,0,1.29q-9.21,9.11-18.39,18.23A7.3,7.3,0,0,1,167.33,119.47Z"
    />
  </svg>
</ng-template>

<ng-template #bridgeFeesTpl>
  <div
    class="
      row
      justify-content-center
      item-align-center
      text-info
      p-2
      mx-1
      bg-lighter
      rounded
      cursor-pointer
      position-relative
    "
    tabindex="1"
    title="Click to view detailed fee calculation"
    (click)="showFees = !showFees"
  >
    <div
      *ngIf="selectedAsset === 'CHX'"
      class="drop-menu position-absolute right-0 top-0 mt-1 mr-2 pt-2"
      [class.open]="showFees"
    >
      <own-icon icon="arrow-down"></own-icon>
    </div>
    <div class="col">
      <ng-container *ngIf="showFees && selectedAsset === 'CHX'">
        <div class="row mr-2">
          <div class="col">Gas consumption:</div>
          <div class="col text-right">{{ bridgeFee.gasConsumption }} Gas</div>
        </div>
        <div class="row mr-2">
          <div class="col">Gas price:</div>
          <div class="col text-right">{{ bridgeFee.gweiGasPrice }} Gwei</div>
        </div>

        <div class="row mr-2">
          <div class="col">{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} fee:</div>
          <div class="col text-right">{{ bridgeFee.targetCurrencyFee }} {{ networkToken }}</div>
        </div>

        <div class="row mr-2">
          <div class="col">CHX/{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} price rate:</div>
          <div class="col text-right">
            {{ bridgeFee.chxTargetCurrencyPriceRate }}
          </div>
        </div>

        <hr />

        <div class="row mr-2">
          <div class="col">Fee on {{ to !== 'own' ? (to | uppercase) : (from | uppercase) }}:</div>
          <div class="col text-right">{{ bridgeFee.targetFeeInChx | number: '1.0-7' }} CHX</div>
        </div>
        <div class="row mr-2">
          <div class="col">Fee on WeOwn blockchain:</div>
          <div class="col text-right">
            {{ from === 'own' ? (bridgeFee.chxFee + fee | number: '1.0-7') : (bridgeFee.chxFee | number: '1.0-7') }}
            CHX
          </div>
        </div>

        <hr />
      </ng-container>

      <div class="flex align-items-center justify-content-between" [class.text-bold]="showFees">
        <div class="-ml-1 flex align-items-center">
          <own-icon class="pt-2" icon="info" size="24" color="#EB6723"></own-icon>
          <div>Total fee:</div>
        </div>
        <div class="text-right">
          <div class="row mr-2">
            <div class="col">
              <ng-container *ngIf="selectedAsset === 'CHX'">
                {{
                  from === 'own' ? (bridgeFee.totalFee + fee | number: '1.0-7') : (bridgeFee.totalFee | number: '1.0-7')
                }}
                CHX
              </ng-container>
              <ng-container *ngIf="selectedAsset !== 'CHX'">
                {{ assetBridgeFee }}
                ETH {{ from === 'own' ? '/ 1 CHX' : '' }}
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #proccessingScreen let-txResult="txResult">
  <div class="row">
    <div class="col-12 text-center">
      <svg
        class="svg-loader"
        version="1.1"
        id="L4"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 0 0"
        xml:space="preserve"
      >
        <circle fill="#eb6723" stroke="none" cx="6" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
        </circle>
        <circle fill="#eb6723" stroke="none" cx="26" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
        </circle>
        <circle fill="#eb6723" stroke="none" cx="46" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
        </circle>
      </svg>
    </div>
    <div class="col-12 text-center">
      <h4>Processing...</h4>
      <p *ngIf="!addressIsMapped">Binding addresses ...</p>
      <p *ngIf="addressIsMapped">
        Your {{ selectedAsset | uppercase }} tokens will be added to your account after the transaction has been
        executed.
      </p>
    </div>
    <div class="col-12 mt-5">
      <div class="row justify-content-center">
        <div class="col col-md-6">
          <a
            *ngIf="to !== 'own'"
            class="button outline own-effect block text-center"
            [href]="explorer + '/tx/' + txResult.txHash"
            target="_blank"
          >
            VIEW TRANSACTION INFO
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #transactionInfo let-txResult="txResult">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row full-height align-items-center justify-content-between">
        <div class="col-12">
          <div class="token-success"></div>
        </div>
        <div class="col-12">
          <h4>Success!</h4>
          <p class="info">Your transaction has been successfully submitted.</p>
          <p>
            <b>
              <div class="row">
                <div class="col-12">Transaction:</div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      {{ txResult.txHash }}
                      <button
                        class="button-transparent"
                        title="Copy Transaction"
                        ngxClipboard
                        cbContent="{{ txResult.txHash }}"
                      >
                        <own-icon icon="copy" color="#eb6723"></own-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </b>
          </p>
          <div class="mt-5">
            <div class="row justify-content-center">
              <div class="col col-md-6">
                <button
                  *ngIf="from === 'own'"
                  class="outline own-effect block text-center"
                  [routerLink]="['/info/tx/' + txResult.txHash]"
                >
                  VIEW TRANSACTION INFO
                </button>
                <a
                  *ngIf="from !== 'own'"
                  class="button outline own-effect block text-center"
                  [href]="explorer + '/tx/' + txResult.txHash"
                  target="_blank"
                >
                  VIEW TRANSACTION INFO
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorScreen>
  <div class="row">
    <div class="col-12">
      <h2>Warning</h2>
      <p [innerHTML]="error"></p>
    </div>
    <div class="col-12">
      <div class="row mt-4">
        <div class="col col-sm-6">
          <button class="block own-effect" (click)="reset()">BACK</button>
        </div>
        <!-- <div class="col col-sm-6" *ngIf="wrongNetwork && blockchain !== 'eth'">
        <button [disabled]="loading" class="outline flat block own-effect" (click)="addCustomNetwork()">
          <svg
            *ngIf="loading"
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="#dfdfdf"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          ADD {{ blockchain | uppercase }} NETWORK TO METAMASK
        </button>
      </div> -->
      </div>
    </div>
  </div>
</ng-template>
