<div class="container my-5" *ngIf="isKeyImported && metaMaskStatus$ | async as status">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8">
      <own-card>
        <own-card-title>
          <div class="row justify-content-between">
            <div class="col">Cross-Chain Transfer</div>
            <div class="col text-right">
              <span class="text-small text-info mr-2" *ngIf="status === 'Connected' && chainName">
                {{ chainName }}
              </span>
              <a role="button" (click)="close()">
                <own-icon icon="close" viewBox="0 0 24 24"></own-icon>
              </a>
            </div>
          </div>
        </own-card-title>
        <own-card-body [padding]="true">
          <!-- Error -->
          <ng-container *ngIf="error" [ngTemplateOutlet]="errorScreen"></ng-container>

          <ng-container *ngIf="txStatus$ | async as txStatus">
            <!-- Mapping -->
            <ng-container
              *ngIf="showMapping && (txStatus === 'ready' || txStatus === 'mapping')"
              [ngTemplateOutlet]="mappingScreen"
            ></ng-container>

            <ng-container *ngIf="txResult$ | async as txRes">
              <!-- Proccessing -->
              <ng-container *ngIf="txStatus === 'proccessing'">
                <ng-container *ngTemplateOutlet="proccessingScreen; context: { txResult: txRes }"></ng-container>
              </ng-container>
              <!-- Transaction info -->
              <ng-container *ngIf="txStatus === 'done'">
                <ng-container *ngTemplateOutlet="transactionInfo; context: { txResult: txRes }"></ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!error && !showMapping && (!txStatus || txStatus === 'ready')">
              <!-- Step 1 - Accept Risks -->
              <div class="row" *ngIf="step === 1 && acceptBridgeForm">
                <div class="col">
                  <h4 class="mb-4">Terms to accept</h4>
                  <p>
                    This process allows you to transfer assets (and CHX token) from the
                    <strong>WeOwn Blockchain</strong> onto other blockchains and back.
                  </p>
                  <p>
                    Before you proceed, please make sure you are familiar with cross-blockchain bridge related risks
                    involved.
                  </p>
                  <p class="mt-4">The pre-requisites for the WeOwn cross-chain bridge are:</p>
                  <ul>
                    <li>You have created a CHX wallet, loaded with enough CHX token to cover for transaction fees.</li>
                    <li>You have a wallet on the supported source and target blockchains with enough tokens.</li>
                    <li>
                      You are in control of all private keys for both source and target blockchain, safely stored in a
                      secure place.
                    </li>
                    <li>You have a MetaMask installed and you can access it.</li>
                  </ul>
                  <form [formGroup]="acceptBridgeForm">
                    <div class="row mt-4">
                      <div class="col mt-4">
                        <input type="checkbox" formControlName="aware" id="aware-of-risks" />
                        <label class="m-0" for="aware-of-risks"
                          >I am fully aware of the risks involved, and any incorrect usage could result in total or
                          partial loss of my funds</label
                        >
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col">
                        <input type="checkbox" formControlName="confirm" id="confirm" />
                        <label class="m-0" for="confirm">
                          I hereby confirm that both target and source wallets are in my control and I meet all
                          prerequisites described above.
                        </label>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col">
                        <input type="checkbox" formControlName="agree" id="agree" />
                        <label class="m-0" for="agree">
                          I confirm and agree that WeOwn cannot be held accountable for any incorrect or improper use of
                          the bridge feature.
                        </label>
                      </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                      <div class="col col-sm-6 mt-4">
                        <button
                          [disabled]="(status !== 'Disconnected' && acceptBridgeForm.invalid) || loading"
                          class="block own-effect"
                          (click)="metamask.currentAccount ? acceptRisks() : connect()"
                        >
                          <svg
                            *ngIf="loading || status === 'Connecting'"
                            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                          >
                            <circle
                              class="opacity-25"
                              cx="12"
                              cy="12"
                              r="10"
                              stroke="#ffffff"
                              stroke-width="4"
                            ></circle>
                            <path
                              class="opacity-75"
                              fill="#dfdfdf"
                              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                            ></path>
                          </svg>
                          <ng-container *ngIf="status !== 'Connecting'">
                            {{ status === 'Connected' ? 'ACCEPT AND CONTINUE' : 'CONNECT WITH METAMASK' }}
                          </ng-container>
                          {{ status === 'Connecting' ? 'CONNECTING...' : '' }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Form -->
              <div class="row" *ngIf="step === 2 && assetBridgeForm">
                <form class="col" [formGroup]="assetBridgeForm">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <label for="asset" class="col-2 ml-2">Asset</label>
                      </div>
                      <div class="mega-input block text-lg">
                        <own-dropdown-menu id="asset-selector" [showIcon]="false" [fullWidth]="true">
                          <div class="label flex items-center justify-content-between wallet-table">
                            <div class="flex items-center">
                              <img
                                width="30px"
                                height="30px"
                                class="mr-2"
                                (error)="tokenImageError($event)"
                                [src]="'https://static.weown.com/own/bridge/' + selectedAsset + '.png'"
                              />
                              <div class="text-normal flex">
                                {{ selectedAsset ? selectedAsset : 'No assets currently' }}
                              </div>
                            </div>
                          </div>
                          <ng-container *ngFor="let asset of assets">
                            <own-dropdown-item
                              *ngIf="asset.assetCode !== selectedAsset"
                              [hasPadding]="false"
                              (click)="assetBridgeForm.get('asset').setValue(asset.assetCode)"
                            >
                              <div class="flex items-center px-4">
                                <img
                                  width="30px"
                                  height="30px"
                                  class="mr-2"
                                  (error)="tokenImageError($event)"
                                  [src]="'https://static.weown.com/own/bridge/' + asset.assetCode + '.png'"
                                />
                                <div class="text-normal">{{ asset.assetCode }}</div>
                              </div>
                            </own-dropdown-item>
                          </ng-container>
                        </own-dropdown-menu>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row">
                        <label for="amount" class="col-2 ml-2">Amount</label>
                        <div class="col info text-right">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            {{ to === 'own' ? 'Balance: ' + balance + 'CHX' : 'Balance: ' + chxBalance + 'CHX' }}
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX'">
                            {{
                              to === 'own'
                                ? 'Balance: ' + balance + (selectedAsset | uppercase)
                                : 'Balance: ' + nativeBalance + ' ' + (selectedAsset | uppercase)
                            }}
                          </ng-container>
                        </div>
                      </div>
                      <div class="mega-input text-lg position-relative">
                        <input
                          id="amount"
                          name="amount"
                          class="block no-borders"
                          type="number"
                          formControlName="amount"
                        />
                        <div class="max-button text-white text-small" (click)="setMaxAmount()">MAX</div>
                      </div>
                      <ng-container *ngIf="assetBridgeForm.valid && selectedAsset === 'CHX' && !addressIsMapped">
                        <span class="text-danger p-2 text-small"> Please map your address before transfer </span>
                      </ng-container>
                      <span
                        class="text-danger p-2 text-small"
                        *ngIf="
                          assetBridgeForm.get('amount').dirty &&
                          assetBridgeForm.get('amount').touched &&
                          assetBridgeForm.get('amount').errors
                        "
                      >
                        <span
                          *ngIf="
                            assetBridgeForm.get('amount').errors?.min && !assetBridgeForm.get('amount').errors?.max
                          "
                        >
                          Minimum amount is {{ minWrapAmount }}
                        </span>

                        <span *ngIf="assetBridgeForm.get('amount').errors?.max">
                          Amount can't be greater than your balance
                        </span>

                        <span *ngIf="assetBridgeForm.get('amount').errors?.required"> Amount is required </span>
                      </span>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6">
                      <label for="from" class="ml-2">From</label>
                      <div class="shadow-sm border rounded">
                        <div class="p-4 pb-0 position-relative">
                          <ng-container *ngIf="selectedAsset === 'CHX' && from !== 'own' && !addressIsMapped">
                            <a
                              role="button"
                              (click)="showMapping = true"
                              class="position-absolute block right-0 text-right mb-4 pr-4"
                              >MAP ADDRESS</a
                            >
                          </ng-container>
                          <ng-container [ngSwitch]="from">
                            <ng-container *ngSwitchCase="'own'" [ngTemplateOutlet]="weownLogo"></ng-container>
                            <ng-container *ngSwitchCase="'eth'" [ngTemplateOutlet]="ethLogo"></ng-container>
                            <ng-container *ngSwitchCase="'bsc'" [ngTemplateOutlet]="bscLogo"></ng-container>
                          </ng-container>
                          <div class="position-absolute swap-chains">
                            <button
                              class="button-transparent cursor-pointer px-4"
                              title="Swap Blockchains"
                              (click)="swapBlockchains()"
                            >
                              <ng-container [ngTemplateOutlet]="swapArrows"></ng-container>
                            </button>
                          </div>
                        </div>
                        <ng-container *ngIf="from !== 'own'">
                          <ng-container
                            *ngTemplateOutlet="bcDropdown; context: { target: 'from', current: from }"
                          ></ng-container>
                        </ng-container>
                        <ng-container *ngIf="from === 'own'">
                          <label class="px-4 mt-2">WeOwn</label>
                        </ng-container>
                        <div class="p-4 border-top-all">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            <div class="mb-2">Address:</div>
                            <div class="row">
                              <div class="info elipsis col">
                                {{ fromAddress }}
                              </div>
                              <div class="col-2">
                                <button
                                  class="button-transparent p-0"
                                  title="Copy Address"
                                  ngxClipboard
                                  cbContent="{{ fromAddress }}"
                                >
                                  <own-icon icon="copy" color="#EB6723"></own-icon>
                                </button>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && from !== 'own'">
                            <div class="mb-2">Address:</div>
                            <div class="mega-input">
                              <input
                                readonly
                                id="from-address"
                                name="from-address"
                                class="block no-borders elipsis"
                                type="text"
                                formControlName="fromAddress"
                              />
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && from === 'own'">
                            <div class="mb-2">Account:</div>
                            <button
                              *ngIf="accounts.length === 0"
                              type="button"
                              class="block own-effect"
                              routerLink="/wallet/portfolio"
                            >
                              ADD ACCOUNT
                            </button>
                            <div class="mega-input block position-relative" *ngIf="accounts.length > 0">
                              <ng-container [ngTemplateOutlet]="accountDropdown"></ng-container>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="from" class="ml-2">To</label>
                      <div class="shadow-sm border rounded">
                        <div class="p-4 pb-0 position-relative">
                          <ng-container *ngIf="selectedAsset === 'CHX' && to !== 'own' && !addressIsMapped">
                            <a
                              role="button"
                              (click)="showMapping = true"
                              class="position-absolute block right-0 text-right mb-4 pr-4"
                              >MAP ADDRESS</a
                            >
                          </ng-container>
                          <ng-container [ngSwitch]="to">
                            <ng-container *ngSwitchCase="'own'" [ngTemplateOutlet]="weownLogo"></ng-container>
                            <ng-container *ngSwitchCase="'eth'" [ngTemplateOutlet]="ethLogo"></ng-container>
                            <ng-container *ngSwitchCase="'bsc'" [ngTemplateOutlet]="bscLogo"></ng-container>
                          </ng-container>
                        </div>
                        <ng-container *ngIf="to === 'own'">
                          <label class="px-4 mt-2">WeOwn</label>
                        </ng-container>
                        <ng-container *ngIf="to !== 'own'">
                          <ng-container
                            *ngTemplateOutlet="bcDropdown; context: { target: 'to', current: to }"
                          ></ng-container>
                        </ng-container>
                        <div class="p-4 border-top-all">
                          <ng-container *ngIf="selectedAsset === 'CHX'">
                            <div class="mb-2">Address:</div>
                            <div class="row">
                              <div class="info elipsis col">
                                {{ toAddress }}
                              </div>
                              <div class="col-2">
                                <button
                                  class="button-transparent p-0"
                                  title="Copy Address"
                                  ngxClipboard
                                  cbContent="{{ toAddress }}"
                                >
                                  <own-icon icon="copy" color="#EB6723"></own-icon>
                                </button>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && to !== 'own'">
                            <div class="mb-2">Address:</div>
                            <div class="mega-input">
                              <input
                                id="to-address"
                                name="to-address"
                                class="block no-borders elipsis"
                                type="text"
                                formControlName="toAddress"
                              />
                            </div>
                            <span
                              class="text-danger p-2 text-small"
                              *ngIf="
                                assetBridgeForm.get('toAddress').dirty &&
                                assetBridgeForm.get('toAddress').touched &&
                                assetBridgeForm.get('toAddress').errors
                              "
                            >
                              <span *ngIf="assetBridgeForm.get('toAddress').errors?.notEthAddress">
                                Invalid {{ this.to | uppercase }} address
                              </span>
                              <span *ngIf="assetBridgeForm.get('toAddress').errors?.required">
                                Address is required
                              </span>
                            </span>
                          </ng-container>
                          <ng-container *ngIf="selectedAsset !== 'CHX' && to === 'own'">
                            <div class="mb-2">Account:</div>
                            <button
                              *ngIf="accounts.length === 0"
                              type="button"
                              class="block own-effect"
                              routerLink="/wallet/portfolio"
                            >
                              ADD ACCOUNT
                            </button>
                            <div class="mega-input block position-relative" *ngIf="accounts.length > 0">
                              <ng-container [ngTemplateOutlet]="accountDropdown"></ng-container>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4 pt-4">
                    <div class="col">
                      <ng-container [ngTemplateOutlet]="bridgeFeesTpl"></ng-container>
                    </div>
                    <div class="col">
                      <button
                        [disabled]="transferIsDisabled"
                        class="block own-effect"
                        (click)="transfer()"
                        [attr.title]="!addressIsMapped ? 'Please map address before proceeding' : ''"
                      >
                        <svg
                          *ngIf="loading"
                          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                          <path
                            class="opacity-75"
                            fill="#dfdfdf"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                          ></path>
                        </svg>
                        TRANSFER
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-container>
          </ng-container>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>

<ng-template #mappingScreen>
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4">Bind your WeOwn address with your {{ targetChainName(to !== 'own' ? to : from) }} address</h4>
      <p>
        In order to transfer and move CHX Tokens between both our WeOwn blockchain and the
        {{ targetChainName(to !== 'own' ? to : from) }} network, you’ll have to bind your WeOwn address directly with
        one of your {{ targetChainName(to !== 'own' ? to : from) }} addresses by using MetaMask. Once MetaMask opens,
        please confirm the mapped transaction, which binds your current WeOwn address with the
        {{ targetChainName(to !== 'own' ? to : from) }} address you select on MetaMask.
      </p>
      <p>
        The binding of the WeOwn address to your {{ targetChainName(to !== 'own' ? to : from) }} address is a one-time
        event. For transparency purpose, the following addresses and smart contracts are involved in the process:
      </p>

      <div class="mb-4 mt-4 text-lg">
        <div><strong>CHX Address:</strong> {{ chxAddress }}</div>
        <div>
          <strong>{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} Address:</strong> {{ metaMaskAddress }}
        </div>
      </div>

      <div class="mt-4 text-small text-info">
        <p>
          Once you have confirmed the mapping between both addresses, it cannot be undone. If you made a mistake with
          the binding, you need to create a new WeOwn address, and repeat the steps.
        </p>
        <p>
          The mapping does not automatically transfer funds – it only binds and connects both of your addresses. You are
          in full control of moving the funds, and the next steps will guide you on how to transfer tokens across both
          networks and your addresses.
        </p>
        <p>
          A transaction fee will be required while binding to the
          {{ targetChainName(to !== 'own' ? to : from) }} network. So please make sure you have adequate funds available
          in your MetaMask wallet. There will be no transaction fee required on the WeOwn WeOwn blockchain during this
          process.
        </p>
      </div>

      <div class="row mt-4 justify-content-center">
        <div class="col col-sm-6 mt-4">
          <button [disabled]="loading" class="block own-effect" (click)="mapAddress()">
            <svg
              *ngIf="loading"
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
              <path
                class="opacity-75"
                fill="#dfdfdf"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            BIND ADDRESSES ON METAMASK
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #accountDropdown>
  <own-dropdown-menu id="account-selector" [showIcon]="false" [fullWidth]="true">
    <div class="label flex items-center justify-content-between wallet-table row">
      <div class="col elipsis -ml-1">
        {{ account ? account : 'No accounts currently' }}
      </div>
    </div>
    <ng-container *ngFor="let item of accounts">
      <own-dropdown-item
        *ngIf="item !== account"
        [hasPadding]="false"
        (click)="assetBridgeForm.get('account').setValue(item)"
      >
        <div class="row px-4">
          <div class="text-normal col-11 elipsis">{{ item }}</div>
        </div>
      </own-dropdown-item>
    </ng-container>
  </own-dropdown-menu>
</ng-template>

<ng-template #bcDropdown let-target="target" let-current="current">
  <div class="mb-1">
    <own-dropdown-menu [showIcon]="false" [fullWidth]="true">
      <div class="label flex items-center justify-content-between wallet-table">
        <div class="flex pl-2">
          {{ targetChainName(current) }}
        </div>
      </div>
      <ng-container *ngFor="let chain of blockchains">
        <own-dropdown-item
          *ngIf="chain.code !== current"
          [hasPadding]="false"
          (click)="assetBridgeForm.get(target).setValue(chain.code)"
        >
          <div class="flex items-center">
            <div class="px-4 text-normal">{{ chain.name }}</div>
          </div>
        </own-dropdown-item>
      </ng-container>
    </own-dropdown-menu>
  </div>
</ng-template>

<ng-template #swapArrows>
  <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20.801 36.016">
    <g id="Group_837" data-name="Group 837" transform="translate(-938.734 -1049.229)">
      <path
        id="Path_251"
        data-name="Path 251"
        d="M23.625-8.016a1.12,1.12,0,0,0-.363-.832l-7.312-7.3a1.313,1.313,0,0,0-.4-.287,1.075,1.075,0,0,0-.428-.088,1.088,1.088,0,0,0-.785.3,1.028,1.028,0,0,0-.316.773,1.172,1.172,0,0,0,.082.439,1.052,1.052,0,0,0,.234.357l2.5,2.531,4.23,3.867.328-.656L17.66-9.129H3.949a1.106,1.106,0,0,0-.809.311,1.075,1.075,0,0,0-.316.8,1.09,1.09,0,0,0,.316.814,1.106,1.106,0,0,0,.809.311H17.66l3.727-.223-.328-.645L16.828-3.9l-2.5,2.531a1.052,1.052,0,0,0-.234.357,1.172,1.172,0,0,0-.082.439,1.014,1.014,0,0,0,.316.762,1.088,1.088,0,0,0,.785.3,1.117,1.117,0,0,0,.8-.34l7.348-7.336A1.1,1.1,0,0,0,23.625-8.016Z"
        transform="translate(935.91 1065.753)"
        fill="#ccc"
      />
      <path
        id="Path_252"
        data-name="Path 252"
        d="M23.625-8.984a1.12,1.12,0,0,1-.363.832l-7.312,7.3a1.313,1.313,0,0,1-.4.287,1.075,1.075,0,0,1-.428.088,1.088,1.088,0,0,1-.785-.3,1.028,1.028,0,0,1-.316-.773,1.172,1.172,0,0,1,.082-.439,1.052,1.052,0,0,1,.234-.357l2.5-2.531,4.23-3.867.328.656-3.727.223H3.949a1.106,1.106,0,0,1-.809-.311,1.075,1.075,0,0,1-.316-.8A1.09,1.09,0,0,1,3.141-9.8a1.106,1.106,0,0,1,.809-.311H17.66l3.727.223-.328.645L16.828-13.1l-2.5-2.531a1.052,1.052,0,0,1-.234-.357,1.172,1.172,0,0,1-.082-.439,1.014,1.014,0,0,1,.316-.762,1.088,1.088,0,0,1,.785-.3,1.117,1.117,0,0,1,.8.34l7.348,7.336A1.1,1.1,0,0,1,23.625-8.984Z"
        transform="translate(962.359 1067.753) rotate(180)"
        fill="#ccc"
      />
    </g>
  </svg>
</ng-template>

<ng-template #weownLogo>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 200 200">
    <g id="WeOwn" transform="translate(-11789 -9194)">
      <rect
        id="Rectangle_169"
        data-name="Rectangle 169"
        width="200"
        height="200"
        transform="translate(11789 9194)"
        fill="none"
      />
      <g id="WeOwn-2" data-name="WeOwn" transform="translate(11730.067 9144.252)">
        <path
          id="Path_249"
          data-name="Path 249"
          d="M107.56,168.965a1.317,1.317,0,0,0,1.94-.62l20.632-37.519a15.362,15.362,0,0,1,19.942-8.6,14.672,14.672,0,0,1,2.228,1.1l1.818,1.107L182.1,141.207a1.318,1.318,0,0,0,1.833-.484L215.558,85.37A85.743,85.743,0,0,0,73.19,148.232Z"
          transform="translate(0 0)"
          fill="#f26622"
        />
        <path
          id="Path_250"
          data-name="Path 250"
          d="M220.69,546.411l-2.2,2.382a18.057,18.057,0,0,1-23.968,2.262l-32.206-22.588a1.318,1.318,0,0,0-1.913.387l-20.823,28.8-1.531,2.155a11.08,11.08,0,0,1-15.2,3.819,11.846,11.846,0,0,1-1.613-1.178L90.8,537.946a85.764,85.764,0,0,0,168.282-23.359q0-2.346-.127-4.657Z"
          transform="translate(-14.408 -364.842)"
          fill="#f26622"
        />
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #ethLogo>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 200 200">
    <g id="Ethereum" transform="translate(-11550 -9194)">
      <rect
        id="Rectangle_168"
        data-name="Rectangle 168"
        width="200"
        height="200"
        transform="translate(11550 9194)"
        fill="none"
      />
      <g id="Ethereum-Logo.wine" transform="translate(11595.766 9205.678)">
        <path
          id="Path_251"
          data-name="Path 251"
          d="M125.166,120.827l1.184,1.182,54.218-32.048L126.35,0l-1.184,4.025Z"
          transform="translate(-72.133)"
          fill="#62688f"
        />
        <path id="Path_252" data-name="Path 252" d="M54.218,122.009V0L0,89.961Z" fill="#8a92b2" />
        <path
          id="Path_253"
          data-name="Path 253"
          d="M126.386,311.04l.667,1.949,54.251-76.4-54.25,32.032-.667.814Z"
          transform="translate(-72.836 -136.344)"
          fill="#62688f"
        />
        <path
          id="Path_254"
          data-name="Path 254"
          d="M0,236.585l54.218,76.4v-44.37Z"
          transform="translate(0 -136.343)"
          fill="#8a92b2"
        />
        <path
          id="Path_255"
          data-name="Path 255"
          d="M127.961,154.159V210.85L182.178,178.8Z"
          transform="translate(-73.744 -88.841)"
          fill="#454a75"
        />
        <path
          id="Path_256"
          data-name="Path 256"
          d="M54.217,154.159,0,178.8,54.217,210.85Z"
          transform="translate(0 -88.841)"
          fill="#62688f"
        />
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #bscLogo>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 200 200">
    <g id="Binance" transform="translate(-12038 -9194)">
      <rect
        id="Rectangle_170"
        data-name="Rectangle 170"
        width="200"
        height="200"
        transform="translate(12038 9194)"
        fill="none"
      />
      <g id="Binance-2" data-name="Binance" transform="translate(12048.839 9205.678)">
        <path
          id="Path_241"
          data-name="Path 241"
          d="M1240.022,657.8c.331.317.7.643,1.042.989q15.856,15.739,31.7,31.479c1.835,1.821,1.826,1.821,3.676-.015q15.849-15.738,31.683-31.488c.934-.935,1.431-.993,2.42,0q8.91,8.969,17.981,17.782c.9.877.954,1.344.01,2.279q-26.323,26.045-52.547,52.191c-1.023,1.018-1.588,1.12-2.668.044q-26.344-26.264-52.78-52.43c-.677-.672-.828-1.052-.054-1.806,6.218-6.091,12.387-12.226,18.576-18.351C1239.326,658.206,1239.541,657.87,1240.022,657.8Z"
          transform="translate(-1185.479 -555.175)"
          fill="#eeb80c"
        />
        <path
          id="Path_242"
          data-name="Path 242"
          d="M1239.905,710.868c-.3-.253-.56-.448-.788-.677-6.218-6.169-12.416-12.357-18.668-18.488-.852-.838-.424-1.217.171-1.806q18.594-18.441,37.18-36.9c5.2-5.166,10.424-10.313,15.591-15.517.905-.915,1.388-1.086,2.41-.068q26.292,26.19,52.683,52.274c1.013,1,.852,1.5-.063,2.405q-9.093,8.9-18.059,17.932c-.994,1.008-1.451.57-2.187-.165q-15.943-15.87-31.92-31.712c-1.656-1.646-1.646-1.641-3.321.019Q1256.974,694.016,1241,709.86C1240.655,710.2,1240.295,710.512,1239.905,710.868Z"
          transform="translate(-1185.475 -636.72)"
          fill="#eeb80c"
        />
        <path
          id="Path_243"
          data-name="Path 243"
          d="M1247.368,650.691c.306.282.55.5.779.726q9.45,9.348,18.911,18.692c.76.75.633,1.178-.038,1.845q-9.488,9.319-18.917,18.692c-.594.589-.979.624-1.588.015q-9.523-9.509-19.1-18.97c-.619-.613-.424-.93.087-1.437q9.576-9.458,19.121-18.945C1246.842,651.09,1247.1,650.905,1247.368,650.691Z"
          transform="translate(-1158.182 -582.669)"
          fill="#eeb80c"
        />
        <path
          id="Path_244"
          data-name="Path 244"
          d="M1253,670.543c-.272.312-.472.565-.7.789q-9.313,9.261-18.614,18.531c-.677.682-1.076.579-1.7-.044q-9.3-9.282-18.648-18.5c-.633-.628-.57-.964.029-1.553q9.29-9.173,18.517-18.4c.75-.75,1.193-.735,1.948.019q9.157,9.181,18.39,18.288C1252.479,669.93,1252.713,670.222,1253,670.543Z"
          transform="translate(-1212.885 -582.208)"
          fill="#eeb80c"
        />
        <path
          id="Path_245"
          data-name="Path 245"
          d="M1261.218,690.582c-.3-.262-.56-.467-.788-.7q-9.327-9.246-18.653-18.482c-.614-.609-.629-.969-.015-1.578q9.407-9.276,18.761-18.6c.54-.541.9-.584,1.46-.024q9.408,9.393,18.863,18.741c.5.5.531.818.015,1.329q-9.458,9.349-18.887,18.721A7.771,7.771,0,0,1,1261.218,690.582Z"
          transform="translate(-1102.912 -582.264)"
          fill="#eeb80c"
        />
      </g>
    </g>
  </svg>
</ng-template>

<ng-template #bridgeFeesTpl>
  <div
    class="
      row
      justify-content-center
      item-align-center
      text-info
      p-2
      mx-1
      bg-lighter
      rounded
      position-relative
      select-none
    "
    tabindex="1"
    [class.cursor-pointer]="selectedAsset === 'CHX'"
    [title]="selectedAsset === 'CHX' ? 'Click to view detailed fee calculation' : ''"
    (click)="showFees = !showFees"
  >
    <div
      *ngIf="selectedAsset === 'CHX'"
      class="drop-menu position-absolute right-0 top-0 mt-1 mr-2 pt-2"
      [class.open]="showFees"
    >
      <own-icon icon="arrow-down"></own-icon>
    </div>
    <div class="col">
      <ng-container *ngIf="showFees && selectedAsset === 'CHX'">
        <div class="row mr-2">
          <div class="col">Gas consumption:</div>
          <div class="col text-right">{{ bridgeFee.gasConsumption }} Gas</div>
        </div>
        <div class="row mr-2">
          <div class="col">Gas price:</div>
          <div class="col text-right">{{ bridgeFee.gweiGasPrice }} Gwei</div>
        </div>

        <div class="row mr-2">
          <div class="col">{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} fee:</div>
          <div class="col text-right">{{ bridgeFee.targetCurrencyFee }} {{ networkToken }}</div>
        </div>

        <div class="row mr-2">
          <div class="col">CHX/{{ to !== 'own' ? (to | uppercase) : (from | uppercase) }} price rate:</div>
          <div class="col text-right">
            {{ bridgeFee.chxTargetCurrencyPriceRate }}
          </div>
        </div>

        <hr />

        <div class="row mr-2">
          <div class="col">Fee on {{ to !== 'own' ? (to | uppercase) : (from | uppercase) }}:</div>
          <div class="col text-right">{{ bridgeFee.targetFeeInChx | number: '1.0-7' }} CHX</div>
        </div>
        <div class="row mr-2">
          <div class="col">Fee on WeOwn blockchain:</div>
          <div class="col text-right">
            {{ from === 'own' ? (bridgeFee.chxFee + fee | number: '1.0-7') : (bridgeFee.chxFee | number: '1.0-7') }}
            CHX
          </div>
        </div>

        <hr />
      </ng-container>

      <div class="flex align-items-center justify-content-between" [class.text-bold]="showFees">
        <div class="-ml-1 flex align-items-center">
          <own-icon class="pt-2" icon="info" size="24" color="#EB6723"></own-icon>
          <div>Total fee:</div>
        </div>
        <div class="text-right">
          <div class="row mr-2">
            <div class="col">
              <ng-container *ngIf="selectedAsset === 'CHX' && bridgeFee">
                {{
                  from === 'own' ? (bridgeFee.totalFee + fee | number: '1.0-7') : (bridgeFee.totalFee | number: '1.0-7')
                }}
                CHX
              </ng-container>
              <ng-container *ngIf="selectedAsset !== 'CHX'">
                {{ assetBridgeFee }}
                ETH {{ from === 'own' ? '+ 1 CHX' : '' }}
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #proccessingScreen let-txResult="txResult">
  <div class="row">
    <div class="col-12 ml-4 text-center">
      <svg
        class="svg-loader"
        version="1.1"
        id="L4"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 0 0"
        xml:space="preserve"
      >
        <circle fill="#eb6723" stroke="none" cx="6" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
        </circle>
        <circle fill="#eb6723" stroke="none" cx="26" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
        </circle>
        <circle fill="#eb6723" stroke="none" cx="46" cy="50" r="6">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
        </circle>
      </svg>
    </div>
    <div class="col-12 text-center">
      <h4>Processing...</h4>
      <p *ngIf="selectedAsset === 'CHX' && !addressIsMapped">Binding addresses ...</p>
      <p *ngIf="addressIsMapped && selectedAsset !== 'CHX' && from === 'own'">
        Please don't close the current window while transaction is being proccessed. This could lead to token loss.
      </p>
      <p *ngIf="selectedAsset !== 'CHX' || addressIsMapped">
        Your {{ selectedAsset | uppercase }} tokens will be added to your account after the transaction has been
        executed.
      </p>
    </div>
    <div class="col-12 mt-5">
      <div class="row justify-content-center">
        <div class="col col-md-6">
          <a
            *ngIf="to !== 'own'"
            class="button outline own-effect block text-center"
            [href]="explorer + '/tx/' + txResult.txHash"
            target="_blank"
          >
            VIEW TRANSACTION INFO
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #transactionInfo let-txResult="txResult">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row full-height align-items-center justify-content-between">
        <div class="col-12">
          <div class="token-success"></div>
        </div>
        <div class="col-12">
          <h4>Success!</h4>
          <p class="info">Your transaction has been successfully submitted.</p>
          <p>
            <b>
              <div class="row">
                <div class="col-12">Transaction:</div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      {{ txResult.txHash }}
                      <button
                        class="button-transparent"
                        title="Copy Transaction"
                        ngxClipboard
                        cbContent="{{ txResult.txHash }}"
                      >
                        <own-icon icon="copy" color="#eb6723"></own-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </b>
          </p>
          <div class="mt-5">
            <div class="row justify-content-center">
              <div class="col col-md-6">
                <button
                  *ngIf="from === 'own'"
                  class="outline own-effect block text-center"
                  [routerLink]="['/info/tx/' + txResult.txHash]"
                >
                  VIEW TRANSACTION INFO
                </button>
                <a
                  *ngIf="from !== 'own'"
                  class="button outline own-effect block text-center"
                  [href]="explorer + '/tx/' + txResult.txHash"
                  target="_blank"
                >
                  VIEW TRANSACTION INFO
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorScreen>
  <div class="row">
    <div class="col-12">
      <h2>Warning</h2>
      <h5>Something went wrong:</h5>
      <div class="monospace-font">
        <p [innerHTML]="error"></p>
      </div>
    </div>
    <div class="col-12">
      <div class="row mt-4">
        <div class="col col-sm-6">
          <button class="block own-effect" (click)="reset()">BACK</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
