<div class="column-container align-center chainium-gray">
  <mat-toolbar>
    <span>Address Info</span>
    <button mat-icon-button (click)="onRefreshAddressInfoClick()" style="margin-left: auto;">
      <mat-icon aria-label="Click to refresh balance info" color="accent" matTooltip="Click to refresh balance info.">autorenew</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-margin" *ngIf="addressInfo">
    <mat-form-field class="full-width address-font-size">
      <input matInput placeholder="CHX address" class="condensed" disabled value="{{addressInfo.chainiumAddress}}">
      <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{addressInfo.chainiumAddress}}" class="pointer margin-l-20">file_copy</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="balance" class="condensed" disabled value="{{addressInfo.balance}}" type="text">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="nonce" class="condensed" disabled value="{{addressInfo.nonce}}" type="text">
    </mat-form-field>
  </div>
  <section class="mat-typography container-margin" *ngIf="!addressInfo">
    <h2>Unable to load balance info for imported key. Please check value that you have entered...</h2>
  </section>
</div>