<div class="column-container align-center chainium-gray">
  <mat-toolbar>
    <span>Address Info</span>
    <button mat-icon-button (click)="onRefreshAddressInfoClick()" style="margin-left: auto;">
      <mat-icon aria-label="click to refresh balance info" color="accent">autorenew</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-margin" *ngIf="addressInfo">
    <mat-form-field class="full-width address-font-size">
      <input matInput placeholder="CHX address" disabled value="{{addressInfo.chainiumAddress}}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="balance" disabled value="{{addressInfo.balance}}" type="number">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="nonce" disabled value="{{addressInfo.nonce}}" type="number">
    </mat-form-field>
  </div>
  <section class="mat-typography container-margin" *ngIf="!addressInfo">
    <h2>Unable to load balance info for imported key. Please check value that you have entered...</h2>
  </section>
</div>