.active {
    color: rgba(255, 255, 255, 0.8);
}

.wallet-action {
    width: 50%;
    margin-top: 50px;
    color: #CF6B02;
}

.wallet-password {
    width: 10%;
    color: #CF6B02;
}

.font-white {
    color: white !important;
}
