<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <own-card>
        <own-card-title>
          <b>Login</b>
        </own-card-title>
        <own-card-body [padding]="true">
          <div class="row">
            <div class="col-12">
              <label>Password</label>
              <input class="block" [type]="hide ? 'password' : 'text'" [formControl]="password"
              (keydown)="onKeyDown($event)" required />
              <div class="info" *ngIf="password.errors && password.errors.required && password.touched">
                This field is required.
              </div>
              <div class="info" *ngIf="password.errors && password.errors.incorrect && password.touched">
                Invalid password!
              </div>
              <div class="row mt-5">
                  <div class="col-12 col-md-5 mb-2 mb-md-0">
                    <button class="own-effect block" (click)="onSubmitPassword()">LOGIN</button>
                  </div>
                  <div class="col-12 col-md-7">
                    <button class="own-effect outline flat block" (click)="onUnloadWallet()">UNLOAD WALLET</button>
                  </div>
              </div>
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>
