.card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.6), 0px 4px 15px rgba(0, 0, 0, 0.1), 0 -1px 5px rgba(0, 0, 0, 0.4);
}

.card.transparent {
  background-color: transparent;
  box-shadow: none;
}

.card.collapsable {
  height: 64px;
  transition: all 0.5s;
}

.card.collapsable.collapsed {
  height: 100%;
}

.card.collapsable .card-trigger {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}

.card.collapsable svg {
  fill: var(--color-brand);
  transform: rotate(0);
  transition: all 0.5s;
}

.card.collapsable.collapsed svg {
  transform: rotate(180deg);
}
