<div class="column-container">
        <h1 mat-dialog-title>SUBMIT TRANSACTION</h1>
        <div mat-dialog-content>
                <mat-form-field class="full-width">
                        <textarea matInput placeholder="transaction envelope" [value]="txtEnvelope" matTooltip="this is a raw view of your transaction which will be submited to node if you click button send"></textarea>
                </mat-form-field>
                <a mat-button class="full-width" *ngIf="txResult" (click)="onTransactionHashClick()" matTooltip="click on transaction hash for a detailed transaction view">{{txResult.txHash}}</a>
                <mat-toolbar class="toolbar-header" *ngIf="submissionErrors">Submission errors</mat-toolbar>
                <mat-divider></mat-divider>
                <mat-list>
                        <mat-list-item *ngFor="let error of submissionErrors">
                                {{error}}
                        </mat-list-item>
                </mat-list>
        </div>
        <div mat-dialog-actions class="align-center">
                <button mat-button (click)="onCloseClick()">CLOSE</button>
                <button (click)="onSubmitButtonClick()" color="accent" mat-raised-button *ngIf="!isSubmited">
                        SUBMIT
                </button>
        </div>
</div>