<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <input
            class="form-control"
            type="number"
            placeholder="Block number"
            [value]="blockNumber>=0 ? blockNumber : (-1*blockNumber)"
            (input)="blockNumber = $event.target.value"
            (keydown.enter)="onBlockInfoButtonClick()"
            required>
            <button class="search-button" (click)="onBlockInfoButtonClick()" title="Click to get detailed block info.">
              <own-icon icon="search"></own-icon>
            </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="blockInfo">
    <div class="container mt-5" @contentInOut>

      <div class="row">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <own-card>
            <own-card-body [padding]="true">
              <div class="row justify-content-between align-items-center">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                        <b>Block number:</b>
                    </div>
                    <div class="col-6 mt-2 mt-2 mt-md-0 brand text-right">
                      <h6 class="m-0">{{ blockInfo.number }}</h6>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-4 mt-2 mt-md-0">
                          <b>Block hash:</b>
                      </div>
                      <div class="col-8 mt-2 mt-md-0 text-truncate text-right">
                        {{ blockInfo.hash }}
                      </div>
                    </div>
                </div>
              </div>
            </own-card-body>
          </own-card>
        </div>
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <own-card>
            <own-card-body [padding]="true">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <b>Configuration block number:</b>
                    </div>
                      <div class="col-6 mt-2 mt-2 mt-md-0 text-right">
                        <h6 class="m-0">
                          {{blockInfo.configurationBlockNumber}}
                        </h6>
                      </div>
                    </div>
                <div class="row">
                  <div class="col-6">
                    <b>Previous block hash:</b>
                  </div>
                  <div class="col-6 mt-2 mt-md-0 text-right text-truncate">
                    {{ blockInfo.previousHash }}
                  </div>
                </div>
                </div>
              </div>
            </own-card-body>
          </own-card>
        </div>
      </div>
    </div>

    <div class="container mt-5 px-5">
        <div class="row mt-5 mt-md-0">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-2">
                <b>Timestamp</b>
              </div>
              <div class="col-10 border-right text-right text-truncate">
                {{ blockInfo.blockTime }}
                <br>
                {{ blockInfo.timestamp }}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 border-top mt-5 mt-md-0">
            <div class="row mt-5 mt-md-0">
              <div class="col-4">
                <b>Proposer Address</b>
              </div>
              <div class="col-8 text-right text-truncate">
                {{ blockInfo.proposerAddress }}
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container mt-3">
      <div class="row">
          <div class="col">
            <own-card [collapsable]="true" [transparent]="true">
              <own-card-title>
                <b>Merkle Roots</b>
              </own-card-title>
              <own-card-body>
                <li class="own-list-item" *ngIf="blockInfo.txSetRoot">
                    <div class="row justify-content-between align-items-center">
                      <div class="col-12 col-md-4">
                        <b>Transactions root</b>
                      </div>
                      <div class="col-12 col-md-8 text-wrap text-right">
                        {{ blockInfo.txSetRoot || '-' }}
                        <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.txSetRoot || '-' }}">
                          <own-icon icon="copy" color="#eb6723"></own-icon>
                        </button>
                      </div>
                    </div>
                </li>
                <li class="own-list-item" *ngIf="blockInfo.txResultSetRoot">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-4">
                      <b>Transactions results root</b>
                    </div>
                    <div class="col-12 col-md-8 text-wrap text-right">
                      {{ blockInfo.txResultSetRoot || '-' }}
                      <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.txResultSetRoot || '-' }}">
                        <own-icon icon="copy" color="#eb6723"></own-icon>
                      </button>
                    </div>
                  </div>
               </li>
               <li class="own-list-item" *ngIf="blockInfo.equivocationProofsRoot">
                <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-4">
                    <b>Equivocation proofs root</b>
                  </div>
                  <div class="col-12 col-md-8 text-wrap text-right">
                    {{ blockInfo.equivocationProofsRoot || '-' }}
                    <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.equivocationProofsRoot || '-' }}">
                      <own-icon icon="copy" color="#eb6723"></own-icon>
                    </button>
                  </div>
                </div>
             </li>
             <li class="own-list-item" *ngIf="blockInfo.equivocationProofResultsRoot">
              <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-4">
                  <b>Equivocation proofs results root</b>
                </div>
                <div class="col-12 col-md-8 text-wrap text-right">
                  {{ blockInfo.equivocationProofResultsRoot || '-' }}
                  <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.equivocationProofResultsRoot || '' }}">
                    <own-icon icon="copy" color="#eb6723"></own-icon>
                  </button>
                </div>
              </div>
             </li>
             <li class="own-list-item" *ngIf="blockInfo.stateRoot">
              <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-4">
                  <b>State root</b>
                </div>
                <div class="col-12 col-md-8 text-wrap text-right">
                  {{ blockInfo.stateRoot || '-' }}
                  <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.stateRoot || '-' }}">
                    <own-icon icon="copy" color="#eb6723"></own-icon>
                  </button>
                </div>
              </div>
             </li>
             <li class="own-list-item" *ngIf="blockInfo.stakingRewardsRoot">
              <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-4">
                  <b>Staking rewards set root</b>
                </div>
                <div class="col-12 col-md-8 text-wrap text-right">
                  {{ blockInfo.stakingRewardsRoot || '-' }}
                  <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.stakingRewardsRoot || '-' }}">
                    <own-icon icon="copy" color="#eb6723"></own-icon>
                  </button>
                </div>
              </div>
             </li>
             <li class="own-list-item" *ngIf="blockInfo.configurationRoot">
              <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-4">
                  <b>Configuration root</b>
                </div>
                <div class="col-12 col-md-8 text-wrap text-right">
                  {{ blockInfo.configurationRoot || '-' }}
                  <button class="button-transparent" ngxClipboard cbContent="{{ blockInfo.configurationRoot || '-' }}">
                    <own-icon icon="copy" color="#eb6723"></own-icon>
                  </button>
                </div>
              </div>
             </li>
            </own-card-body>
          </own-card>
      </div>
    </div>
  </div>

      <ng-container class="info-item-margin" *ngIf="blockInfo.signatures.length > 0">
          <div class="container mt-5">
              <div class="row">
                  <div class="col">
                    <own-card [collapsable]="true">
                      <own-card-title>
                        <b>Signatures</b>
                      </own-card-title>
                      <own-card-body>
                        <div class="own-list-header">
                          <div class="row justify-content-between">
                            <div class="col-2">
                              consensus round
                            </div>
                            <div class="col-4 text-right">
                              {{ blockInfo.consensusRound }}
                            </div>
                          </div>
                        </div>
                        <li class="own-list-item" *ngFor="let signature of blockInfo.signatures; let i=index">
                            <div class="row justify-content-between align-items-center">
                              <div class="col-12">
                                <b>Signature {{ i + 1 }}</b>
                              </div>
                              <div class="col-12 text-wrap">
                                {{ signature }}
                              </div>
                            </div>
                        </li>
                      </own-card-body>
                  </own-card>
              </div>
            </div>
          </div>
      </ng-container>

      <ng-container *ngIf="blockInfo.txSet.length > 0">
          <div class="container mt-3">
            <div class="row">
                <div class="col">
                  <own-card [collapsable]="true">
                    <own-card-title>
                      <b>Transactions</b>
                    </own-card-title>
                    <own-card-body>
                      <li class="own-list-item" *ngFor="let transaction of blockInfo.txSet">
                        <a routerLink="/info/tx/{{transaction}}"
                        title="Click to get detailed transaction info.">
                            {{ transaction }}
                        </a>
                      </li>
                    </own-card-body>
                </own-card>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="blockInfo.equivocationProofs.length > 0">
          <div class="container mt-3">
              <div class="row">
                  <div class="col">
                    <own-card [collapsable]="true">
                      <own-card-title>
                        <b>Equivocation Proofs</b>
                      </own-card-title>
                      <own-card-body>
                        <li class="own-list-item" *ngFor="let equivocationProof of blockInfo.equivocationProofs">
                          <a routerLink="/info/equivocation/{{equivocationProof}}"
                            title="Click to get detailed equivocation proof info.">
                              {{ equivocationProof }}
                          </a>
                        </li>
                      </own-card-body>
                    </own-card>
                </div>
              </div>
            </div>
      </ng-container>

      <ng-container *ngIf="showStakingRewards">
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                  <own-card [collapsable]="true">
                    <own-card-title>
                      <b>Staking rewards</b>
                    </own-card-title>
                    <own-card-body>
                        <div class="own-list-header">
                          <div class="row justify-content-between">
                            <div class="col-6">
                              Staker address
                            </div>
                            <div class="col-4 text-right">
                              Amount
                            </div>
                          </div>
                      </div>
                      <li class="own-list-item" *ngFor="let reward of blockInfo.stakingRewards">
                        <ng-container *ngIf="reward.amount > 0">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-5 text-truncate">
                              <a routerLink="/info/address/{{reward.stakerAddress}}"
                              title="Click to get detailed transaction info.">
                                {{ reward.stakerAddress }}
                              </a>
                            </div>
                            <div class="col-4 text-right">
                              {{ reward.amount }}
                            </div>
                          </div>
                        </ng-container>
                      </li>
                    </own-card-body>
                  </own-card>
              </div>
            </div>
          </div>
    </ng-container>

    <ng-container *ngIf="blockInfo.configuration">
        <div class="container mt-5">
          <h5 class="pl-2">Configuration</h5>
            <div class="row">
              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <own-card>
                  <own-card-body [padding]="true">
                    <div class="row justify-content-between align-items-center">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6">
                              <b>Block delta:</b>
                          </div>
                          <div class="col-6 mt-2 mt-2 mt-md-0 text-right">
                            {{ blockInfo.configuration.configurationBlockDelta }}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mt-2 mt-md-0">
                                <b>Max tx per block:</b>
                            </div>
                            <div class="col-8 mt-2 mt-md-0 text-right">
                              {{ blockInfo.configuration.maxTxCountPerBlock }}
                            </div>
                          </div>
                      </div>
                    </div>
                  </own-card-body>
                </own-card>
              </div>
              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <own-card>
                  <own-card-body [padding]="true">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6">
                            <b>Validator depsit lock time:</b>
                          </div>
                            <div class="col-6 mt-2 mt-2 mt-md-0 text-right">
                              {{ blockInfo.configuration.validatorDepositLockTime }}
                            </div>
                          </div>
                      <div class="row">
                        <div class="col-6">
                          <b>Blacklist time:</b>
                        </div>
                        <div class="col-6 mt-2 mt-md-0 text-right">
                          {{ blockInfo.configuration.validatorBlacklistTime }}
                        </div>
                      </div>
                      </div>
                    </div>
                  </own-card-body>
                </own-card>
              </div>
            </div>
          </div>

          <div class="container mt-5" *ngIf="blockInfo.configuration.validators.length > 0">
            <div class="row">
              <div class="col-12">
                <own-card>
                  <own-card-title>Validators</own-card-title>
                  <own-card-body>
                      <ngx-datatable
                      class="wallet-table"
                      [rows]="blockInfo.configuration.validators"
                      [columns]="validatorColumns"
                      [columnMode]="ColumnMode.flex"
                      [headerHeight]="50"
                      [footerHeight]="20"
                      [rowHeight]="'auto'">
                    </ngx-datatable>
                  </own-card-body>
                </own-card>
              </div>
            </div>
          </div>

          <div class="container mt-5" *ngIf="blockInfo.configuration.validatorsBlacklist.length > 0">
            <div class="row">
              <div class="col-12">
                <own-card>
                  <own-card-title>Validators Blacklist</own-card-title>
                  <own-card-body>
                    <li class="own-list-header">
                      Address
                    </li>
                    <li class="own-list-item" *ngFor="let validator of blockInfo.configuration.validatorsBlacklist">
                        {{ validator }}
                    </li>
                  </own-card-body>
                </own-card>
              </div>
            </div>
          </div>

    </ng-container>

    <div class="container mt-5"></div>

</ng-container>

<ng-template #rewardPerc let-row="row" let-value="value">
    <div class="progress" style="height: 15px; margin-right: 25px;">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ width: value + '%' }"
        [attr.aria-valuenow]="value"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ value }}%
      </div>
    </div>
  </ng-template>
