<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Search by transaction hash"
            [value]="transactionHash"
            (input)="transactionHash = $event.target.value"
            (keydown.enter)="onTransactionInfoButtonClick()"
            required>
            <button class="search-button" (click)="onTransactionInfoButtonClick()" title="Click to get detailed transaction info.">
              <own-icon icon="search"></own-icon>
            </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="txInfo && ready">
    <div class="container mt-5 mb-3 mb-md-0" @contentInOut>
      <div class="row">
        <div class="col-12 col-md-8">
          <own-card>
            <own-card-body [padding]="true">
              <div class="row justify-content-between">
                <div class="col-12 col-sm-2 text-center mb-5 mb-sm-0">
                  <div class="loader-item" [class.complete]="txInfo.status==='Success'" [class.fail]="txInfo.status!=='Success'">
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                        <ng-container *ngIf="txInfo.status==='Success'">
                        <svg viewBox="0 0 507.2 507.2" class="icon">
                          <circle style="fill:#32BA7C;" cx="253.6" cy="253.6" r="253.6"/>
                          <path style="fill:#FFFFFF;" d="M260,310.4c11.2,11.2,11.2,30.4,0,41.6l-23.2,23.2c-11.2,11.2-30.4,11.2-41.6,0L93.6,272.8
                              c-11.2-11.2-11.2-30.4,0-41.6l23.2-23.2c11.2-11.2,30.4-11.2,41.6,0L260,310.4z"/>
                          <path style="fill:#FFFFFF;" d="M348.8,133.6c11.2-11.2,30.4-11.2,41.6,0l23.2,23.2c11.2,11.2,11.2,30.4,0,41.6l-176,175.2
                              c-11.2,11.2-30.4,11.2-41.6,0l-23.2-23.2c-11.2-11.2-11.2-30.4,0-41.6L348.8,133.6z"/>
                        </svg>
                      </ng-container>
                      <ng-container *ngIf="txInfo.status!=='Success'">
                      <svg viewBox="0 0 512 512" class="icon">
                        <circle style="fill:#E21B1B;" cx="256" cy="256" r="256"/>
                        <path style="fill:#FFFFFF;" d="M354.376,371.536c-5.12,0-10.232-1.952-14.144-5.856L146.408,171.848
                            c-7.816-7.816-7.816-20.472,0-28.28s20.472-7.816,28.28,0L368.52,337.4c7.816,7.816,7.816,20.472,0,28.28
                            C364.608,369.584,359.496,371.536,354.376,371.536z"/>
                        <path style="fill:#FFFFFF;" d="M160.544,371.536c-5.12,0-10.232-1.952-14.144-5.856c-7.816-7.816-7.816-20.472,0-28.28
                            l193.832-193.832c7.816-7.816,20.472-7.816,28.28,0s7.816,20.472,0,28.28L174.688,365.68
                            C170.784,369.584,165.664,371.536,160.544,371.536z"/>
                      </svg>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-7">
                    <div class="col-12">
                        <b>Transaction hash</b>
                    </div>
                    <div class="col-12 mt-2 text-truncate mb-3 mb-sm-0">
                      {{ txInfo.txHash }}
                    </div>
                    <div class="col-12 error-info" *ngIf="txInfo.status==='Failure'">
                      {{ txInfo.errorCode | camelToSpace }} {{ txInfo.failedActionNumber ? '(action ' + txInfo.failedActionNumber + ')' : '' }}
                    </div>
                </div>
                <div class="col-12 col-sm-3 text-left text-sm-center border-left">
                  <div class="col-12 pt-2 pt-md-0">
                    <b>Block number</b>
                  </div>
                  <div class="col-12 mt-2">
                    {{ txInfo.includedInBlockNumber }}
                  </div>
              </div>
            </div>
           </own-card-body>
          </own-card>
        </div>
        <div class="col-12 col-md-4 px-5 px-md-0">
          <div class="p-0 p-md-5 mt-5 mt-md-0">
            <div class="row full-height justify-content-center align-items-center">
              <div class="col-12">
                <b>From</b>
              </div>
              <div class="col-12 text-truncate">
                {{txInfo.senderAddress}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 px-5 border-top">
      <div class="row mt-5 mt-md-0">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col">
              <b>Nonce</b>
            </div>
            <div class="col border-right text-right">
              {{ txInfo.nonce }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <b>Expiration time</b>
            </div>
            <div class="col border-right text-right" [innerHTML]="txInfo.expirationTime ? showTime(txInfo.expirationTime) : '-'">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 border-top mt-5 mt-md-0">
          <div class="row mt-5 mt-md-0">
            <div class="col">
              <b>Action fee</b>
            </div>
            <div class="col text-right">
              {{ txInfo.actionFee }} CHX
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <b>Total fee</b>
            </div>
            <div class="col text-right">
              {{ totalFee }} CHX
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">

          <!-- ACTIONS INFORMATION -->
          <div class="col-12 mt-3 mb-5">

                <own-card [transparent]="true">
                  <own-card-title><b>Actions</b></own-card-title>
                  <own-card-body>

            <div class="card-body mt-4 px-0 px-md-5">

              <div id="actions-lit" class="row">
                <div class="col-12 head">
                  <div class="row">
                    <div class="col-2">
                      <b>Number</b>
                    </div>
                    <div class="col-10">
                      <b>Type</b>
                    </div>
                  </div>
                </div>
                
                <div class="col-12">
                  <div class="row detail-info mt-3" *ngFor="let action of txInfo.actions; let i = index">
                    <div class="col-2">
                      {{ i + 1 }}
                    </div>
                    <div class="col-10">
                      {{ action.actionType }}
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row details-row-item" *ngIf="action.actionType === 'CreateAsset'">
                        <div class="col-12 col-md-2">
                          <b>Asset</b>
                        </div>
                        <div class="col-12 col-md-10">
                          {{ deriveHash(txInfo.senderAddress, txInfo.nonce, actionIndex + 1) }}
                        </div>
                      </div>
                      <div class="row details-row-item" *ngIf="action.actionType === 'CreateAccount'">
                        <div class="col-12 col-md-2">
                          <b>Account</b>
                        </div>
                        <div class="col-12 col-md-10">
                          {{ deriveHash(txInfo.senderAddress, txInfo.nonce, actionIndex + 1) }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 my-3">
                      <div class="row details-row-item" *ngFor="let item of action.actionData | keyvalue">
                        <div class="col-12 col-md-2">
                          <b>{{ item.key | camelToSpace }}</b>
                        </div>
                        <div class="col-12 col-md-10">
                          {{ item.value }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </own-card-body>
          </own-card>
          </div>
        </div>
      </div>
  </div>
</ng-container>


