<div class="column-container">

    <mat-form-field class="full-width">
        <textarea matInput placeholder="message" [formControl]="message" required></textarea>            
        <mat-error *ngIf="message.invalid">This field is required.</mat-error>
    </mat-form-field>

    <mat-toolbar class="toolbar-header full-width">Signing</mat-toolbar>
    
    <div class="margin-t-20">
        <button (click)="onSignMessageButtonClick()" mat-raised-button color="accent" [disabled]="!isKeyImported" >SIGN MESSAGE</button>
        <br>
        <mat-hint *ngIf="!isKeyImported">Wallet has not been imported, please use import wallet feature from the menu in order to enable Sign Message.</mat-hint>
        <mat-form-field class="full-width margin-t-20" *ngIf="signature">
            <input matInput placeholder="signature" disabled value="{{signature}}" />
            <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{signature}}"
                class="pointer margin-l-20 animate-click">file_copy</mat-icon>
        </mat-form-field>
    </div>

    <div class="margin-t-20">
        <mat-toolbar class="toolbar-header full-width">Verification</mat-toolbar>
    </div>
    <div class="margin-t-20">
        <mat-form-field class="full-width">
            <input matInput placeholder="signature" [formControl]="verificationSignature" required />
                <mat-error *ngIf="verificationSignature.invalid">This field is required.</mat-error>
        </mat-form-field>

        <button (click)="onVerifySignature()" mat-raised-button color="accent">VERIFY SIGNATURE</button>


        <mat-form-field class="full-width margin-t-20" *ngIf="signerAddress">
            <input matInput placeholder="signer address" disabled value="{{signerAddress}}" />
            <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{signerAddress}}"
                class="pointer margin-l-20 animate-click">file_copy</mat-icon>
        </mat-form-field>

    </div>

</div>