<div class="container my-5">

    <div class="row px-5 mb-5 info">
      <div class="col-2 text-right">
        <own-icon icon="info" size="30" color="#39a2ae"></own-icon>
      </div>
      <div class="col-10">
        <p>
            Restoring the Wallet with a recovery phrase or keystore file (but not with private key) enables users to restore all of the CHX Addresses that have been previously created from it by clicking "Add CHX Address" (this option is available once the wallet is restored and the first CHX address is created).
        </p>
      </div>
    </div>

      <own-card>
        <own-card-title>
          <b>Import Wallet</b>
        </own-card-title>
        <own-card-body>

          <ul class="card-tabs">
            <li [class.selected]="method==='key'" (click)="method='key'">Private Key</li>
            <li [class.selected]="method==='phrase'" (click)="method='phrase'">Recovery phrase</li>
            <li [class.selected]="method==='keystore'" (click)="method='keystore'">Keystore</li>
          </ul>

          <div class="tab-content">

              <div class="row p-5 align-items-center" *ngIf="method==='key'">
                  <div class="col-12 col-md-6 border-right" @contentInOut>
                    <h6>
                      <own-icon icon="danger" color="#d3240c" size="25"></own-icon>
                      &nbsp; Warnings
                    </h6>
                    <p>
                        Wallets restored with private keys are not recoverable if the private key is lost. Your private key will be unloaded from the wallet upon closing the application or clicking the "Unload Private Key" button.
                    </p>
                    <p>
                        This is not a recommended way to access your wallet. Due to the sensitivity of the information involved, this option should only be used in offline settings by experienced users.
                    </p>
                  </div>
                  <div class="col-12 col-md-6 mt-5 mt-md-0">

                      <label>Enter private key</label>
                      <input class="block" [type]="hideWithPrivateKey ? 'password' : 'text'" [value]="privateKey" (input)="privateKey = $event.target.value" required/>

                      <div class="row justify-content-between mt-4">
                          <div class="col-12 col-sm-6">
                            <button class="block own-effect" (click)="onRestoreWithPrivateKey()">
                              IMPORT
                            </button>
                          </div>

                        <div class="col-12 col-sm-6 mt-5 mt-sm-0 text-right">
                          <button class="button-transparent" (click)="hideWithPrivateKey = !hideWithPrivateKey">
                            <own-icon *ngIf="hideWithPrivateKey" icon="eye" size="25"></own-icon>
                            <own-icon *ngIf="!hideWithPrivateKey" icon="eye-crossed" size="25"></own-icon>
                          </button>
                        </div>
                      </div>

                  </div>
              </div>

            <div class="row p-5" *ngIf="method==='phrase'">
              <div class="col-12 col-md-6 border-right" @contentInOut>
                  <textarea
                    placeholder="Enter your recovery phrase"
                    class="monospace-font block"
                    rows="5"
                    [formControl]="mnemonic"
                    required>
                  </textarea>
                  <div class="row">
                    <div class="col-12 info">
                        Recovery phrase *
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 mt-5 mt-md-0">
                <form [formGroup]="registerForm" class="p-4">

                  <div class="row mb-4">
                    <div class="col-12">
                      <label>Password</label>
                      <input class="block" [type]="hideWithMnemonic ? 'password' : 'text'" formControlName="password" />
                      <div class="info mt-1" *ngIf="registerForm.get('password').errors && registerForm.get('password').errors.required && registerForm.get('password').touched">
                        This field is required.
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                      <div class="col-12">
                        <label>Confirm Password</label>
                        <input class="block" [type]="hideWithMnemonic ? 'password' : 'text'" formControlName="confirmPassword"
                        required />

                        <div class="info mt-1" *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched">
                          This field is required.
                        </div>
                        <div class="info mt-1" *ngIf="registerForm.errors && registerForm.errors.mustMatch && registerForm.get('confirmPassword').touched">
                          Passwords must match
                        </div>

                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div class="col-12 col-sm-6">
                        <button class="block own-effect" (click)="onRestoreWithMnemonic()">
                          RESTORE
                        </button>
                    </div>

                    <div class="col-12 col-sm-6 mt-5 mt-sm-0 text-right">
                        <input type="checkbox" formControlName="saveKeystore"> Save keystore file
                        <button class="button-transparent" (click)="hideWithMnemonic = !hideWithMnemonic">
                          <own-icon *ngIf="hideWithMnemonic" icon="eye" size="25"></own-icon>
                          <own-icon *ngIf="!hideWithMnemonic" icon="eye-crossed" size="25"></own-icon>
                        </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row p-5" *ngIf="method==='keystore'">
              <div class="col-12 col-md-6 border-right" @contentInOut>
                  <label class="block">Select keystore file</label>
                  <input class="own-upload" type="file" (change)="fileChanged($event)" placeholder="Select keystore file"/>
              </div>
              <div class="col-12 col-md-6 mt-5 mt-md-0">
                  <div [formGroup]="registerForm">

                    <label>Password</label>
                    <input class="block" [type]="hideWithKeystore ? 'password' : 'text'" formControlName="password"
                        required />

                    <div class="info mt-1" *ngIf="registerForm.get('password').errors && registerForm.get('password').errors && registerForm.get('password').touched">
                      This field is required.
                    </div>

                    <div class="row justify-content-between mt-4">
                      <div class="col-12 col-sm-6">
                        <button class="block own-effect" (click)="onRestoreWithFile()">
                          RESTORE
                        </button>
                      </div>

                    <div class="col-12 col-sm-6 mt-5 mt-sm-0 text-right">
                      <button class="button-transparent" (click)="hideWithKeystore = !hideWithKeystore">
                        <own-icon *ngIf="hideWithKeystore" icon="eye" size="25"></own-icon>
                        <own-icon *ngIf="!hideWithKeystore" icon="eye-crossed" size="25"></own-icon>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </own-card-body>
      </own-card>
</div>
