<div *ngIf="!isKeyImported">
  <h1 class="mat-display-1 accent-font-color ">Wallet has not been imported, please use import wallet feature from the
    menu.</h1>
</div>
<div *ngIf="isKeyImported && tx">
  <div class="column-container">
    <div class="row-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advanced options
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="form-margin-right">
          <input matInput placeholder="nonce" value="{{tx.nonce}}" type="number"
            (input)="tx.nonce = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="fee" value="{{tx.actionFee}}" type="number"
            (input)="tx.actionFee = $event.target.value"
            matTooltip="this is a recommended minimum fee which will be charged for each action in action list">
        </mat-form-field>
      </mat-expansion-panel>
    </div>
    <div class="column-container" *ngIf="displayActions">
      <mat-toolbar>
        <span class="font-bold">Actions</span>
      </mat-toolbar>
      <mat-accordion>
        <ng-template ngFor let-addedAction [ngForOf]="tx.actions">
          <ng-template [ngIf]="addedAction.actionType=='TransferChx'">
            <app-chx-transfer [chxTransfer]="addedAction.actionData" [removalService]="removalService">
            </app-chx-transfer>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='DelegateStake'">
            <app-delegate-stake [delegateStake]="addedAction.actionData" [removalService]="removalService">
            </app-delegate-stake>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='ConfigureValidator'">
            <app-configure-validator [configureValidator]="addedAction.actionData" [removalService]="removalService">
            </app-configure-validator>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='RemoveValidator'">
            <app-remove-validator [removeValidator]="addedAction.actionData" [removalService]="removalService">
            </app-remove-validator>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='TransferAsset'">
            <app-asset-transfer [assetTransfer]="addedAction.actionData" [removalService]="removalService">
            </app-asset-transfer>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='CreateAssetEmission'">
            <app-create-asset-emission [assetEmission]="addedAction.actionData" [removalService]="removalService">
            </app-create-asset-emission>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='CreateAsset'">
            <app-create-asset [createAsset]="addedAction.actionData" [removalService]="removalService">
            </app-create-asset>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='SetAssetCode'">
            <app-set-asset-code [setAssetCode]="addedAction.actionData" [removalService]="removalService">
            </app-set-asset-code>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='CreateAccount'">
            <app-create-account [createAccount]="addedAction.actionData" [removalService]="removalService">
            </app-create-account>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='SetAssetController'">
            <app-set-asset-controller [setAssetController]="addedAction.actionData" [removalService]="removalService">
            </app-set-asset-controller>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='SetAccountController'">
            <app-set-account-controller [setAccountController]="addedAction.actionData"
              [removalService]="removalService">
            </app-set-account-controller>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='SubmitVote'">
            <app-submit-vote [submitVote]="addedAction.actionData" [removalService]="removalService">
            </app-submit-vote>
          </ng-template>
          <ng-template [ngIf]="addedAction.actionType=='SubmitVoteWeight'">
            <app-submit-vote-weight [submitVoteWeight]="addedAction.actionData" [removalService]="removalService">
            </app-submit-vote-weight>
          </ng-template>
        </ng-template>
      </mat-accordion>
    </div>
  </div>
  <div class="submit-transaction row-container">
    <mat-form-field class="form-margin-right">
      <mat-select placeholder="add new action" matTooltip="Add action from a list of predefined action.">
        <mat-option *ngFor="let action of availableActions" [value]="action.value"
          (onSelectionChange)="onActionSelected($event, action)">
          {{ action.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="totalFee()>0">
      <mat-form-field class="form-margin-right">
        <input matInput placeholder="total fee" disabled value="{{totalFee()}}" type="text">
      </mat-form-field>
      <button mat-fab matTooltip="review and/or submit transaction" (click)="openSubmissionDialog()">
        <mat-icon>done_all</mat-icon>
      </button>
    </div>
  </div>
</div>