<ng-container *ngIf="equivocationProofInfo">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h5>Equivocation proof info</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <own-card>
                <own-card-body [padding]="true">
                    <div class="row">
                        
                        <div class="col-12 col-md-8">
                            <b>Equivocation proof hash</b>
                            <br>
                            {{ equivocationProofInfo.equivocationProofHash }}
                        </div>
                        <div class="col-12 col-md-4">
                            <b>Block number</b>
                            <br>
                            {{ equivocationProofInfo.blockNumber }}
                        </div>
                    </div>
                </own-card-body>
            </own-card>
        </div>
        <div class="col-12 col-md-4 mt-4 mt-md-0">
            <div class="row">
                <div class="col-12 mb-4">
                    <b>Detected in:</b>
                </div>
                <div class="col-6"><b>Block number</b></div>
                <div class="col-6 text-right">{{ equivocationProofInfo.includedInBlockNumber }}</div>
                <div class="col-6"><b>Consensus round</b></div>
                <div class="col-6 text-right">{{ equivocationProofInfo.consensusRound }}</div>
                <div class="col-6"><b>Consensus step</b></div>
                <div class="col-6 text-right">{{ equivocationProofInfo.consensusStep }}</div>
            </div>
        </div>
    </div>
  </div>

  <div class="container my-5">
      <div class="row pl-0 pl-md-5">
          <div class="col-12 col-md-6">
              <div class="row">
                  <div class="col-6"><b>Value 1</b></div>
                  <div class="col-6 border-right text-right">{{ equivocationProofInfo.equivocationValue1 }}</div>
              </div>
              <div class="row">
                <div class="col-6"><b>Value 2</b></div>
                <div class="col-6 border-right text-right">{{ equivocationProofInfo.equivocationValue2 }}</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-6"><b>Signature 1</b></div>
                <div class="col-6 text-right">{{ equivocationProofInfo.signature1 }}</div>
            </div>
            <div class="row">
              <div class="col-6"><b>Signature 2</b></div>
              <div class="col-6 text-right">{{ equivocationProofInfo.signature2 }}</div>
          </div>
        </div>
      </div>
  </div>

  <div class="container mb-5">
      <div class="row">
          <div class="col-12">
            <own-card [transparent]="true">
                <own-card-title>
                  <b>Taken Deposit</b>
                </own-card-title>
                <own-card-body>
                    <div class="row px-0 px-md-3 mt-4">
                        <div class="col-12 col-md-6">
                            <div class="col-12">
                                <b>Address</b>
                            </div>
                            <div class="col-12">
                                {{ equivocationProofInfo.validatorAddress }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="col-12 text-right">
                                <b>Amount</b>
                            </div>
                            <div class="col-12 text-right">
                                {{ equivocationProofInfo.depositTaken }}
                            </div>
                        </div>
                    </div>
                </own-card-body>
            </own-card>
          </div>
      </div>
  </div>

  <ng-container class="info-item-margin" *ngIf="equivocationProofInfo.depositDistribution.length > 0">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
              <own-card [collapsable]="true">
                <own-card-title>
                  <b>Given Deposits</b>
                </own-card-title>
                <own-card-body>
                  <div class="own-list-header">
                    <div class="row justify-content-between">
                      <div class="col-8">
                        Address
                      </div>
                      <div class="col-4 text-right">
                        Amount
                      </div>
                    </div>
                  </div>
                  <li class="own-list-item" *ngFor="let depositDistributionInfo of equivocationProofInfo.depositDistribution; let i=index">
                      <div class="row justify-content-between align-items-center">
                        <div class="col-8">
                            {{ depositDistributionInfo.validatorAddress }}
                        </div>
                        <div class="col-4 text-right">
                            {{ depositDistributionInfo.amount }}
                        </div>
                      </div>
                  </li>
                </own-card-body>
            </own-card>
        </div>
      </div>
    </div>
</ng-container>

</ng-container>