<!--
<div class="column-container" *ngIf="equivocationProofInfo">
    <mat-toolbar class="toolbar-header">Equivocation proof info</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="equivocation proof hash"
            disabled value="{{equivocationProofInfo.equivocationProofHash}}">
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="validator address"
            disabled value="{{equivocationProofInfo.validatorAddress}}">
        </textarea>
        <mat-icon matSuffix color="accent" ngxClipboard
            cbContent="{{equivocationProofInfo.validatorAddress}}"
            class="pointer margin-l-20 animate-click">
                file_copy
        </mat-icon>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="block number" disabled
            value="{{equivocationProofInfo.blockNumber}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="consensus round" disabled
            value="{{equivocationProofInfo.consensusRound}}"></textarea>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="consensus step" disabled
            value="{{equivocationProofInfo.consensusStep}}"></textarea>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="equivocation value 1"
            disabled value="{{equivocationProofInfo.equivocationValue1}}">
        </textarea>
        <mat-icon matSuffix color="accent" ngxClipboard
            cbContent="{{equivocationProofInfo.equivocationValue1}}"
            class="pointer margin-l-20 animate-click">
                file_copy
        </mat-icon>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="equivocation value 2"
            disabled value="{{equivocationProofInfo.equivocationValue2}}">
        </textarea>
        <mat-icon matSuffix color="accent" ngxClipboard
            cbContent="{{equivocationProofInfo.equivocationValue2}}"
            class="pointer margin-l-20 animate-click">
                file_copy
        </mat-icon>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="signature value 1"
            disabled value="{{equivocationProofInfo.signature1}}">
        </textarea>
        <mat-icon matSuffix color="accent" ngxClipboard
            cbContent="{{equivocationProofInfo.signature1}}"
            class="pointer margin-l-20 animate-click">
                file_copy
        </mat-icon>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="signature value 2"
            disabled value="{{equivocationProofInfo.signature2}}">
        </textarea>
        <mat-icon matSuffix color="accent" ngxClipboard
            cbContent="{{equivocationProofInfo.signature2}}"
            class="pointer margin-l-20 animate-click">
                file_copy
        </mat-icon>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="deposit taken" disabled
            value="{{equivocationProofInfo.depositTaken}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="included in block number" disabled
            value="{{equivocationProofInfo.includedInBlockNumber}}"></textarea>
    </mat-form-field>

    <ng-container class="info-item-margin"
        *ngIf="equivocationProofInfo.depositDistribution.length > 0">
        <ng-container
            *ngFor="let depositDistributionInfo of equivocationProofInfo.depositDistribution; let i=index">
            <mat-form-field class="info-item-margin">
                    <textarea matInput placeholder="validator address {{i+1}}" disabled
                        value="{{depositDistributionInfo.validatorAddress}}">
                    </textarea>
                    <mat-icon matSuffix color="accent" ngxClipboard
                        cbContent="{{depositDistributionInfo.validatorAddress}}"
                        class="pointer margin-l-20 animate-click">
                            file_copy
                    </mat-icon>
            </mat-form-field>
            <mat-form-field class="info-item-margin">
                <textarea matInput placeholder="amount {{i+1}}" disabled
                    value="{{depositDistributionInfo.amount}}"></textarea>
            </mat-form-field>
        </ng-container>
    </ng-container>
</div>
<div class="column-container" *ngIf="errors">
    <mat-toolbar class="toolbar-header">Errors</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
    </mat-list>
</div>
-->
