<div class="container">
  <nav class="tabs mt-2 mt-md-5">
    <ul>
      <li
        class="tab text-center text-md-left cursor-pointer"
        [class.active]="tab==='mystakes'"
        (click)="tab = 'mystakes'">
        <a>
            My Stakes
        </a>
      </li>
      <li
        class="tab text-center text-md-left cursor-pointer ml-2"
        [class.active]="tab==='delegated'"
        (click)="tab = 'delegated'">
        <a>
            Available validators
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container my-5" *ngIf="tab==='mystakes'">
  <div class="row justify-content-center" @contentInOut>
    <div class="col-12">

      <ngx-datatable
        class="wallet-table"
        [rows]="myStakes | async"
        [columnMode]="ColumnMode.flex"
        [headerHeight]="50"
        [footerHeight]="20"
        [loadingIndicator]="isLoading"
        [rowHeight]="'auto'">

        <ngx-datatable-column name="validatorAddress" [flexGrow]="8">
          <ng-template let-column="column" ngx-datatable-header-template>
            Staker Address
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <strong>
              <a [routerLink]="['/info/validator', value]">
                {{ value }}
              </a>
            </strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="amount" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
            Amount
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="amount" [flexGrow]="4">
          <ng-template let-column="column" ngx-datatable-header-template>
          </ng-template>
          <ng-template #validatorActions let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="text-right mr-4">
              <button
                class="action-button-small mr-1 block"
                (click)="showActionForm(row, 'delegate')">
                <span class="action-icon">+</span>
                <span class="action-text">
                  Delegate
                </span>
              </button>
              <button
                class="action-button-small block mt-2"
                [disabled]="!value"
                (click)="showActionForm(row, 'revoke')">
                <span class="action-icon">-</span>
                <span class="action-text">
                  Revoke
                </span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>

<div class="container my-5" [hidden]="tab!=='delegated'">
    <div class="row justify-content-center" @contentInOut>
      <div class="col-12">

        <ngx-datatable
          #vinfotable
          class="wallet-table"
          [rows]="delegated | async"
          [columnMode]="ColumnMode.flex"
          [headerHeight]="50"
          [footerHeight]="20"
          [loadingIndicator]="isLoading"
          [rowHeight]="'auto'">

          <ngx-datatable-column name="isActive" [flexGrow]="1" [maxWidth]="50">
            <ng-template let-column="column" ngx-datatable-header-template></ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="d-none d-sm-block">
                  <ng-container *ngIf="value">
                    <svg viewBox="0 0 507.2 507.2" width="25">
                      <circle style="fill:#32BA7C;" cx="253.6" cy="253.6" r="253.6"/>
                      <path style="fill:#FFFFFF;" d="M260,310.4c11.2,11.2,11.2,30.4,0,41.6l-23.2,23.2c-11.2,11.2-30.4,11.2-41.6,0L93.6,272.8
                          c-11.2-11.2-11.2-30.4,0-41.6l23.2-23.2c11.2-11.2,30.4-11.2,41.6,0L260,310.4z"/>
                      <path style="fill:#FFFFFF;" d="M348.8,133.6c11.2-11.2,30.4-11.2,41.6,0l23.2,23.2c11.2,11.2,11.2,30.4,0,41.6l-176,175.2
                          c-11.2,11.2-30.4,11.2-41.6,0l-23.2-23.2c-11.2-11.2-11.2-30.4,0-41.6L348.8,133.6z"/>
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="!value">
                    <svg viewBox="0 0 512 512" width="25">
                      <circle style="fill:#E21B1B;" cx="256" cy="256" r="256"/>
                      <path style="fill:#FFFFFF;" d="M354.376,371.536c-5.12,0-10.232-1.952-14.144-5.856L146.408,171.848
                          c-7.816-7.816-7.816-20.472,0-28.28s20.472-7.816,28.28,0L368.52,337.4c7.816,7.816,7.816,20.472,0,28.28
                          C364.608,369.584,359.496,371.536,354.376,371.536z"/>
                      <path style="fill:#FFFFFF;" d="M160.544,371.536c-5.12,0-10.232-1.952-14.144-5.856c-7.816-7.816-7.816-20.472,0-28.28
                          l193.832-193.832c7.816-7.816,20.472-7.816,28.28,0s7.816,20.472,0,28.28L174.688,365.68
                          C170.784,369.584,165.664,371.536,160.544,371.536z"/>
                    </svg>
                </ng-container>
                </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="validatorAddress" [flexGrow]="10">
            <ng-template let-column="column" ngx-datatable-header-template>
              Validator Address
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/info/validator', value]">
                  {{ value }}
                </a>
                <br>
                {{ row.networkAddress }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="sharedRewardPercent" [flexGrow]="2">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="d-none d-sm-block">Reward %</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="d-none d-sm-block">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="amount" [flexGrow]="2">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="d-none d-sm-block">
                Amount
              </span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="d-none d-sm-block">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="amount" [flexGrow]="4">
            <ng-template let-column="column" ngx-datatable-header-template>
            </ng-template>
            <ng-template #validatorActions let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="text-right mr-4">
                <button
                  class="action-button-small block"
                  (click)="showActionForm(row, 'delegate')">
                  <span class="action-icon">+</span>
                  <span class="action-text">
                    Delegate
                  </span>
                </button>
                <button
                  class="action-button-small block mt-2"
                  [disabled]="!value"
                  (click)="showActionForm(row, 'revoke')">
                  <span class="action-icon">-</span>
                  <span class="action-text">
                    Revoke
                  </span>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(vinfotable, row)"
              class="desktop-hidden">
                <span *ngIf="!expanded">
                  <svg viewBox="0 0 185.344 185.344" width="20">
                    <path style="fill:#848484;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18
                      c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0
                      c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"/>
                    </svg>
                </span>
                <span *ngIf="expanded">
                  <svg viewBox="0 0 185.344 185.344" width="20">
                    <path style="fill:#848484;" d="M174.612,144.368c-2.747,0-5.493-1.044-7.593-3.144L92.672,66.872l-74.347,74.352
                    c-4.194,4.194-10.987,4.194-15.18,0c-4.194-4.194-4.194-10.981,0-15.17l81.934-81.945c4.194-4.194,10.992-4.194,15.18,0
                    l81.929,81.945c4.194,4.194,4.194,10.976,0,15.17C180.105,143.318,177.364,144.368,174.612,144.368z"/>
                    </svg>
                </span>
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="row-details py-2 px-5">
                <b>Amount:</b> {{ row.amount ? row.amount : '0' }}
                <b> Reward %:</b> {{ row.sharedRewardPercent }}
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        </ngx-datatable>

      </div>
    </div>
  </div>

  <own-modal id="form-modal">
    <h6>
      {{ action === 'delegate' ? 'Delegate stake to validator' : 'Revoke stake from validator' }}
    </h6>
    <p>
      {{ validator }}
    </p>
    <ng-container *ngIf="actionForm">
      <form [formGroup]="actionForm">
        <input class="block" type="number" formControlName="amount" placeholder="Enter amount">
        <button
          type="button"
          class="own-effect block mt-3"
          [disabled]="!actionForm.valid"
          (click)="completeTx()">
            CONFIRM
        </button>
        <button
        type="button"
        class="own-effect outline flat block mt-2"
        (click)="closeModal('form-modal')">
        CANCEL
      </button>
      </form>
    </ng-container>
  </own-modal>

  <own-modal id="error-modal">
    <div class="text-center">
      <div class="token-fail"></div>
    </div>
    <h6 class="text-center">Sorry</h6>
    <p *ngFor="let error of submissionErrors" class="p-4">
      {{ error }}
    </p>
  </own-modal>

  <own-modal id="success-modal">
    <div class="text-center">
      <div class="token-success"></div>
    </div>
    <h6 class="text-center">Congrats!</h6>
    <p class="p-4">
      Your transaction has been submited.
    </p>
    <button class="outline own-effect block" [routerLink]="['/info/tx/' + txResult?.txHash]">
      VIEW TRANSACTION INFO
    </button>
  </own-modal>
