<div class="container">
  <nav class="tabs mt-2 mt-md-5">
    <ul>
      <li
        class="tab text-center text-md-left cursor-pointer"
        [class.active]="tab==='mystakes'"
        (click)="tab = 'mystakes'">
        <a>
            My Stakes
        </a>
      </li>
      <li
        class="tab text-center text-md-left cursor-pointer ml-2"
        [class.active]="tab==='delegated'"
        (click)="tab = 'delegated'">
        <a>
            Available validators
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container my-5" *ngIf="tab==='mystakes'">
  <div class="row justify-content-center" @contentInOut>
    <div class="col-12">

      <ngx-datatable
        class="wallet-table"
        [rows]="myStakes | async"
        [columns]="myStakesColumns"
        [columnMode]="ColumnMode.flex"
        [headerHeight]="50"
        [footerHeight]="20"
        [loadingIndicator]="isLoading"
        [rowHeight]="'auto'">
      </ngx-datatable>

    </div>
  </div>
</div>

<div class="container my-5" [hidden]="tab!=='delegated'">
    <div class="row justify-content-center" @contentInOut>
      <div class="col-12">

        <ngx-datatable
          class="wallet-table"
          [rows]="delegated | async"
          [columns]="validatorsColumns"
          [columnMode]="ColumnMode.flex"
          [headerHeight]="50"
          [footerHeight]="20"
          [loadingIndicator]="isLoading"
          [rowHeight]="'auto'">
        </ngx-datatable>

        <ng-template #validatorStatus let-row="row" let-value="value">
          <div class="text-center mobile-hidden">
            <img *ngIf="value === true" src="assets/images/success-icon.svg" />
            <img *ngIf="value === false" src="assets/images/failed-icon.svg" />
          </div>
        </ng-template>

        <ng-template #rewardPerc let-row="row" let-value="value">
            <div class="text-center mobile-hidden">
              {{ value }}
            </div>
          </ng-template>


        <ng-template #validatorActions let-row="row" let-value="value">
          <button
            class="action-button-small mr-1"
            (click)="showActionForm(row, 'delegate')">
            <span>+</span>
              Delegate
          </button>
          <button
            class="action-button-small"
            [disabled]="!value"
            (click)="showActionForm(row, 'revoke')">
            <span>-</span>
              Revoke
          </button>
        </ng-template>

      </div>
    </div>
  </div>

  <own-modal id="form-modal">
    <h6>
      {{ action === 'delegate' ? 'Delegate stake to validator' : 'Revoke stake from validator' }}
    </h6>
    <p>
      {{ validator }}
    </p>
    <ng-container *ngIf="actionForm">
      <form [formGroup]="actionForm">
        <input class="block" type="number" formControlName="amount" placeholder="Enter amount">
        <button
          type="button"
          class="own-effect block mt-3"
          [disabled]="!actionForm.valid"
          (click)="completeTx()">
            CONFIRM
        </button>
      </form>
    </ng-container>
  </own-modal>

  <own-modal id="error-modal">
    <div class="text-center">
      <img src="assets/images/token-fail.png" alt="" width="100%">
    </div>
    <h6 class="text-center">Sorry</h6>
    <p *ngFor="let error of submissionErrors" class="p-4">
      {{ error }}
    </p>
  </own-modal>

  <own-modal id="success-modal">
    <div class="text-center">
      <img src="assets/images/token-success.png" alt="" width="100%">
    </div>
    <h6 class="text-center">Congrats!</h6>
    <p class="p-4">
      Your transaction has been submited.
    </p>
    <button class="outline own-effect block" [routerLink]="['/info/tx/' + txResult?.txHash]">
      VIEW TRANSACTION INFO
    </button>
  </own-modal>
