<div class="column-container">
  <div class="column-container align-center">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Own address" [value]="chainiumAddress" (input)="chainiumAddress = $event.target.value"
        required></textarea>
    </mat-form-field>
    <button (click)="onAddressInfoButtonClick()" mat-raised-button color="accent" matTooltip="Click to get detailed address info.">GET ADRESSS INFO</button>
  </div>
  <div *ngIf="accountsInfo">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="balance" [value]="addressInfo.balance" disabled></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="nonce" [value]="addressInfo.nonce" disabled></textarea>
    </mat-form-field>

    <mat-toolbar class="toolbar-header">Accounts</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list *ngIf="accountsInfo.accounts && accountsInfo.accounts.length > 0; else noAccounts">
      <mat-list-item *ngFor="let account of accountsInfo.accounts">{{account}}
        <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{account}}" class="pointer margin-l-20 animate-click">file_copy</mat-icon>
      </mat-list-item>
    </mat-list>

    <ng-template #noAccounts>
      <mat-list>
        <mat-list-item>
          There are no accounts associated with this address
        </mat-list-item>
      </mat-list>
    </ng-template>
  </div>
  <div *ngIf="errors">
      <mat-toolbar class="toolbar-header">Errors</mat-toolbar>
      <mat-divider class="toolbar-bottom-margin"></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
      </mat-list>
  </div>
</div>