<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
            Create Asset Emission
        </mat-panel-title>
        <button (click)="onRemoveAssetEmissionClick()" mat-icon-button color="accent"
            aria-label="delete this row from actions list">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-expansion-panel-header>
    <mat-form-field class="address-field-width">
        <input matInput placeholder="from account hash" [value]="assetEmission.emissionAccountHash || ''"
            (input)="assetEmission.emissionAccountHash = $event.target.value">
    </mat-form-field>
    <mat-form-field class="address-field-width">
        <input matInput placeholder="asset hash" [value]="assetEmission.assetHash || ''"
            (input)="assetEmission.assetHash = $event.target.value">
    </mat-form-field>
    <mat-form-field class="form-margin-right">
        <input matInput placeholder="amount" [value]="assetEmission.amount" type="number"
            (input)="assetEmission.amount = $event.target.value">
    </mat-form-field>
</mat-expansion-panel>