<div class="container my-5" *ngIf="isKeyImported && acceptWrapForm && wrapForm">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8">
      <own-card>
        <own-card-title>Wrap CHX</own-card-title>
        <own-card-body [padding]="true">
          <div class="row" *ngIf="!risksAccepted && !showWarning">
            <div class="col">
              <p>
                This process allows you to transfer CHX tokens from the
                <strong>Own Blockchain</strong> to other blockchains and vice
                versa.
              </p>
              <p>
                Before you proceed, please make sure that you are familiar with
                the concept of token wraps and risks associated with it.
              </p>
              <p class="mt-4">The pre-requisites for token wrap are:</p>
              <ul>
                <li>
                  You have already created a CHX wallet with a holding of at
                  least X CHX token
                </li>
                <li>
                  You have a wallet on the supported source/target blockchain
                  with sufficient holding
                </li>
                <li>You are in control of the private keys of both wallets</li>
                <li>You have a MetaMask wallet account</li>
              </ul>
              <form [formGroup]="acceptWrapForm">
                <div class="row mt-4">
                  <div class="col mt-4">
                    <input
                      type="checkbox"
                      formControlName="aware"
                      id="aware-of-risks"
                    />
                    <label class="m-0" for="aware-of-risks"
                      >I'am fully aware of the risks of a token wrap and the
                      fact that incorrect use may result in a total or partial
                      loss of my tokens.</label
                    >
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input
                      type="checkbox"
                      formControlName="confirm"
                      id="confirm"
                    />
                    <label class="m-0" for="confirm">
                      I hereby confirm that the Wallets used for the Token Wrap
                      are under my control and possession and that I have the
                      requirements for a Token Wrap described above
                    </label>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="checkbox" formControlName="agree" id="agree" />
                    <label class="m-0" for="agree">
                      I agree that Own accepts no liability whatsoever for any
                      incorrect or improper use of the Token Wrap functionality
                    </label>
                  </div>
                </div>
                <div class="row mt-4 justify-content-center">
                  <div class="col col-sm-6 mt-4">
                    <button
                      [disabled]="acceptWrapForm.invalid || loading"
                      class="block own-effect"
                      (click)="acceptRisks()"
                    >
                      <svg
                        *ngIf="loading"
                        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <circle
                          class="opacity-25"
                          cx="12"
                          cy="12"
                          r="10"
                          stroke="#ffffff"
                          stroke-width="4"
                        ></circle>
                        <path
                          class="opacity-75"
                          fill="#dfdfdf"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                      </svg>
                      ACCEPT AND CONTINUE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="showWarning && warningMessage">
            <div class="col-12">
              <h2>Warning</h2>
              <p [innerHTML]="warningMessage"></p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col col-sm-6">
                  <button class="block own-effect mt-4" (click)="reset()">
                    BACK
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="connectingToMetaMask">
            <div class="col-12">
              <h2>Connecting to MetaMask ...</h2>
            </div>
          </div>

          <div
            class="row"
            *ngIf="risksAccepted && !showWarning && !connectingToMetaMask"
          >
            <div class="col">
              <form [formGroup]="wrapForm">
                <div class="row">
                  <div class="col">
                    <div class="row mb-4">
                      <div class="col">
                        <label>Ethereum address</label>
                      </div>
                      <div class="col-12">
                        <input
                          class="block"
                          type="text"
                          formControlName="ethAddress"
                        />
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <label for="from" class="col">From</label>
                      <div class="col-4 text-center text-info">
                        Balance:
                        {{
                          fromBlockchain === "chx"
                            ? chxBalance + " CHX"
                            : wChxBalance + " wCHX"
                        }}
                      </div>
                    </div>
                    <div class="mega-input text-lg">
                      <input
                        class="block no-borders"
                        type="number"
                        formControlName="fromAmount"
                      />
                      <div class="border-right my-2"></div>
                      <select
                        class="no-borders col-4 text-center"
                        formControlName="fromBlockchain"
                      >
                        <option value="chx">CHX</option>
                        <option value="eth">wCHX</option>
                      </select>
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="
                        wrapForm.get('fromAmount').dirty &&
                        wrapForm.get('fromAmount').touched &&
                        wrapForm.get('fromAmount').errors?.min
                      "
                    >
                      Minimum amount is {{ minWrapAmount }}
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="row justify-content-between">
                      <label for="from" class="col">To</label>
                      <div class="col-4 text-center position-relative">
                        <span class="swap-button" (click)="swapBlockchains()">
                          <own-icon
                            icon="swap"
                            size="15"
                            color="#ffffff"
                          ></own-icon>
                        </span>
                      </div>
                    </div>

                    <div class="mega-input text-lg">
                      <input
                        readonly
                        class="block no-borders"
                        type="number"
                        formControlName="toAmount"
                      />
                      <div class="border-right my-2"></div>
                      <select
                        class="no-borders col-4"
                        formControlName="toBlockchain"
                      >
                        <option value="eth">wCHX</option>
                        <option value="chx">CHX</option>
                      </select>
                    </div>

                    <div class="row justify-content-end mt-2">
                      <div class="col-4 text-info">
                        Balance:
                        {{
                          toBlockchain === "eth"
                            ? wChxBalance + " wCHX"
                            : chxBalance + " CHX"
                        }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4 justify-content-center">
                  <div class="col col-sm-6 mt-4">
                    <button
                      [disabled]="wrapForm.invalid || loading"
                      class="block own-effect"
                      (click)="connect()"
                    >
                      {{ fromBlockchain === "chx" ? "WRAP" : "UNWRAP" }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>
