  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Search by address hash"
            [value]="blockchainAddress"
            (input)="blockchainAddress = $event.target.value"
            (keydown.enter)="onAddressInfoButtonClick()"
            required>
            <button class="search-button" (click)="onAddressInfoButtonClick()" title="Click to get detailed address info.">
              <own-icon icon="search"></own-icon>
            </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="accountsInfo && ready">
  <div class="container mt-5" @contentInOut>

    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card p-4 p-md-5">
          <div class="row justify-content-between align-items-center">
            <div class="col-8">
                <div class="col-12">
                    <b>Address:</b>
                </div>
                <div class="col-12 mt-2 text-truncate">
                  {{ addressInfo.blockchainAddress }}
                </div>
            </div>
            <div class="col-4 text-center border-left">
                <div class="col-12 pt-2 pt-md-0">
                    <b>Nonce:</b>
                </div>
                <div class="col-12 mt-2">
                  {{ addressInfo.nonce }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card p-4 p-md-5 text-center mt-4 mt-md-0">
          <div class="row full-height justify-content-center align-items-center">
            <div class="col-12">
              <h6 class="m-0">{{ addressInfo.balance.total }} CHX</h6>
            </div>
            <div class="col-12">
              <b>Total Balance</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4 text-center border-right mt-4 mt-md-0 border-top">
        <div class="col-12 pt-4 pt-md-0">
            <h6 class="m-0">{{ addressInfo.balance.deposit }} CHX</h6>
         </div>
         <div class="col-12">
           <b class="wallet-info">Deposit</b>
         </div>
      </div>
      <div class="col-12 col-md-4 text-center border-right mt-3 mt-md-0">
          <div class="col-12">
              <h6 class="m-0">{{ addressInfo.balance.staked }} CHX</h6>
           </div>
           <div class="col-12">
             <b class="wallet-info">Delegated</b>
           </div>
      </div>
      <div class="col-12 col-md-4 text-center mt-4 mt-md-0 border-top">
          <div class="col-12 brand pt-4 pt-md-0">
              <h6 class="m-0">{{ addressInfo.balance.available }} CHX</h6>
           </div>
           <div class="col-12">
             <b class="wallet-info">Available</b>
           </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="stakeInfo.stakes && stakeInfo.stakes.length > 0">
        <div class="col-12">
          <div class="card">
            <p class="m-0 card-title p-4">
              <b>Stakes delegated by this address</b>
            </p>
              <ngx-datatable
                class="wallet-table"
                [rows]="stakeInfo.stakes"
                [columns]="stakeColumns"
                [columnMode]="ColumnMode.flex"
                [headerHeight]="50"
                [footerHeight]="20"
                [rowHeight]="'auto'">
              </ngx-datatable>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
          <ng-container *ngIf="accountsInfo.accounts.length > 0">
              <div class="col-12 col-md-6" [ngClass]="assetsInfo.assets.length > 0 ? 'col-12 col-md-6' : 'col-12'">
                 <own-card>
                   <own-card-title>
                     <b>Accounts</b>
                   </own-card-title>
                   <own-card-body [scrollY]="true" [height]="300">
                      <div class="own-list-header">
                        <div class="row justify-content-between">
                          <div class="col">
                            Account hash
                          </div>
                      </div>
                      </div>
                      <li class="own-list-item" *ngFor="let account of accountsInfo.accounts; let i=index">
                        <div class="row justify-content-between align-items-center">
                          <div class="col-10 text-truncate">
                            {{ account }}
                          </div>
                          <div class="col-2 text-right">
                            <button class="button-transparent" ngxClipboard cbContent="{{ account }}" title="copy account hash">
                              <own-icon icon="copy" color="#eb6723"></own-icon>
                            </button>
                          </div>
                        </div>
                      </li>
                </own-card-body>
              </own-card>
            </div>
        </ng-container>
          <ng-container *ngIf="assetsInfo.assets.length > 0">
           <div class="col-12 col-md-6" [ngClass]="accountsInfo.accounts.length > 0 ? 'col-12 col-md-6 mt-5 mt-md-0' : 'col-12 mt-5 mt-md-0'">
              <own-card>
                <own-card-title>
                  <b>Assets</b>
                </own-card-title>
                <own-card-body [scrollY]="true" [height]="300">
                    <div class="own-list-header">
                        <div class="row justify-content-between">
                          <div class="col">
                            Asset hash
                          </div>
                        </div>
                      </div>
                      <li class="own-list-item" *ngFor="let asset of assetsInfo.assets; let i=index">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-10 text-truncate">
                              {{ asset }}
                            </div>
                            <div class="col-2 text-right">
                              <button class="button-transparent" ngxClipboard cbContent="{{ asset }}" title="copy asset hash">
                                <own-icon icon="copy" color="#eb6723"></own-icon>
                              </button>
                            </div>
                          </div>
                      </li>
                </own-card-body>
              </own-card>
            </div>
          </ng-container>
        </div>
  </div>
</ng-container>
