<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
            Configure Validator
        </mat-panel-title>
        <mat-panel-description *ngIf="configureValidator.sharedRewardPercent
                || configureValidator.networkAddress">
            {{configureValidator.networkAddress}} &nbsp; / &nbsp; shares
            {{configureValidator.sharedRewardPercent || 0}}% &nbsp; / &nbsp;
            <ng-container *ngIf="!configureValidator.isEnabled">not &nbsp;</ng-container>
            active
        </mat-panel-description>
        <button (click)="onRemoveConfigureValidatorClick()" mat-icon-button color="accent"
            aria-label="delete this row from actions list">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-expansion-panel-header>
    <mat-form-field class="address-field-width">
        <input matInput placeholder="network address" [value]="configureValidator.networkAddress || ''"
            (input)="configureValidator.networkAddress = $event.target.value">
    </mat-form-field>
    <mat-form-field class="form-margin-right">
        <input matInput placeholder="shared reward percent" [value]="configureValidator.sharedRewardPercent"
            (input)="configureValidator.sharedRewardPercent = $event.target.value" type="number">
    </mat-form-field>
    <mat-checkbox name="enable-validator" [(ngModel)]="configureValidator.isEnabled">Is enabled? </mat-checkbox>
</mat-expansion-panel>