/** NEW STYLES */

/* You can add global styles to this file, and also import other style files */
:root {
  --color-bg: #f4f4f4;
  --color-brand: #eb6723;
  --color-danger: #d3240c;
  --color-accent:#39a2ae;
  --color-text: #333447;
  --color-text-info: #848484;
  --color-navbar-bg: #ffffff;
  --color-link: #0073dd;
  --color-link-hover: #373737;
  --color-navbar-link: #373737;
  --color-navbar-link-active: #22242A;
  --color-card-bg-inactive: #EAEAEA;
  --color-border: #dee2e6;
  --base-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Nunito", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
/* ROOT FONT STYLES */

* {
  font-family: var(--base-font-family);
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 100%;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

button {
  border: none;
  background-color: var(--color-brand);
  color: white;
  font-weight: 600;
}

button:focus {
  outline: none;
}

button.button-transparent {
  background-color: transparent;
  box-shadow: none;
  padding: 0 0 0 20px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-brand);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: var(--color-card-bg-inactive);
  border-radius: .25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-accent);
  transition: width .6s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: -.1rem;
	margin-bottom: 2.0rem;
  margin-top: 0;
  font-family: var(--heading-font-family);
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.25;
}

h3 {
	font-size: 2rem;
	line-height: 1.3;
}

h4 {
	font-size: 1.8rem;
	letter-spacing: -.08rem;
  line-height: 1.35;
  margin-bottom: .5rem;
}

h5 {
	font-size: 1.5rem;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.3rem;
	letter-spacing: 0;
	line-height: 1.4;
}

a {
	color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
    color: var(--color-link-hover);
}

.card {
  box-shadow: 0 3px 14px rgba(0,0,0,.11);
  background-color: #fff;
  border: none;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

.card-title {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.own-list-header, .own-list-item {
  list-style: none;
  min-height: 50px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.own-list-header {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.own-list-item:last-child {
  border-bottom: none;
}

/* Forms */
.input-group {
  border: 1px solid var(--color-brand);
  border-radius: .3em;
  margin: .2em 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  line-height: calc(1.5em + .75rem + 2px);
}

textarea {
  font-size: 1.3rem;
  min-height: 200px;
  padding: 0 20px;
  color: var(--color-accent);
  border: none;
  border-bottom: 1px dashed var(--color-border);
}

.wallet-table {
  width: 100%;
}

.wallet-table .datatable-header,
.wallet-table .datatable-footer {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .empty-row {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .datatable-footer,
.wallet-table .empty-row {
  padding: 1rem 1.5rem;
}

label {
  font-weight: 600;
}

button {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
}

.own-effect::before {
  position: absolute;
  content: '';
  display: block;
  top: -50px;
  right: -120px;
  height: 400px;
  width: 40px;
  transform: rotate(-30deg);
  background-color: var(--color-navbar-bg);
  opacity: .1;
  transition: all 1s ease-in-out;
}

button.own-effect:hover::before {
  right: 500px;
}

button:hover {
  text-shadow: 0 0 2px rgba(0,0,0,.5);
}

.action-button-small {
  line-height: 1.5rem;
  color: var(--color-text-info);
  background: transparent;
  padding: .1rem 1rem;
  font-size: .9rem;
  box-shadow: none;
  border: 2px solid var(--color-text-info);
}

.action-button-small:hover {
  text-shadow: none;
  color: var(--color-navbar-bg);
  background: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.action-button-small span {
  padding-top: 4px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-accent);
}

.action-button-small:hover span {
  font-size: 1rem;
  color: var(--color-navbar-bg);
}

input {
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  border: 1px solid var(--color-text-info);
  border-radius: 7px;
  padding: 10px 20px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus {
  box-shadow: inset 0 0 4px var(--color-border);
  outline: none;
  border-color: var(--color-brand);
}

.own-upload {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 10px;
  border: 1px dashed var(--color-text-info);
  transition: all .5s ease-in-out;
}

.own-upload:hover {
  border: 1px solid var(--color-accent);
  color: var(--color-navbar-bg);
  box-shadow: inset 0 0 0 100px var(--color-accent);
  cursor: pointer;
}

.own-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.block {
  width: 100%;
}

.input-group input {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group .form-control:focus {
  border: 1px solid var(--color-brand);
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 7px;
  box-shadow: none;
}

.border-top {
  border-top: none;
}

.border-right {
  border-right: 1px solid var(--color-border);
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.brand {
  color: var(--color-brand);
  fill: var(--color-brand);
}

.info {
  font-size: .8rem;
  color: var(--color-text-info);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.full-height {
  height: 100%;
}

.info-value {
  text-transform: capitalize;
}

.search-icon {
  fill: #86909A;
}

.cursor-pointer {
  cursor: pointer;
}

.wallet-info {
  color: var(--color-text-info);
}

.card-tabs {
  padding: 0;
  list-style: none;
  display: flex;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.card-tabs li {
  padding: 15px 20px;
  color: var(--color-text-info);
}

.card-tabs li:hover {
  cursor: pointer;
  font-weight: 600;
}

.card-tabs li.selected {
  font-weight: 600;
  background-color: var(--color-navbar-bg);
}

@media only screen and (max-width: 766px) {
  .border-top {
    border-top: 1px solid var(--color-border);
  }
  .border-right {
    border-right: none;
  }
  .border-left {
    border-left: none;
  }
  .text-truncate {
    font-size: .8rem;
  }
}
