@import './assets/images/images.css';

:root {
  --color-bg: #f4f4f4;
  --color-brand: #eb6723;
  --color-danger: #d3240c;
  --color-accent:#39a2ae;
  --color-text: #414549;
  --color-text-info: #848484;
  --color-navbar-bg: #ffffff;
  --color-link: #0073dd;
  --color-link-hover: #373737;
  --color-navbar-link: #373737;
  --color-navbar-link-active: #22242A;
  --color-card-bg-inactive: #EAEAEA;
  --color-border: #dee2e6;
  --color-bg-advanced: #DFDFDF;
  --base-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Nunito", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
/* ROOT FONT STYLES */

* {
  font-family: var(--base-font-family);
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 100%;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

button {
  border: none;
  background-color: var(--color-brand);
  color: white;
  font-weight: 600;
}

button:focus {
  outline: none;
}

button.button-transparent {
  color: var(--color-text);
  background-color: transparent;
  box-shadow: none;
  padding: 0 0 0 20px;
}

button.button-transparent:hover, button.link:hover {
  color: var(--color-brand);
  text-shadow: none;
  box-shadow: none;
}

button.link {
  border-radius: 0;
  background-color: transparent;
  color: var(--color-accent);
  text-decoration: underline;
  box-shadow: none;
  padding: 0 4px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-brand);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.monospace-font {
  font-family: monospace;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: var(--color-card-bg-inactive);
  border-radius: .25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-accent);
  transition: width .6s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: -.1rem;
	margin-bottom: 2.0rem;
  margin-top: 0;
  font-family: var(--heading-font-family);
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.25;
}

h3 {
	font-size: 2rem;
	line-height: 1.3;
}

h4 {
	font-size: 1.8rem;
	letter-spacing: -.08rem;
  line-height: 1.35;
  margin-bottom: .5rem;
}

h5 {
	font-size: 1.5rem;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.3rem;
	letter-spacing: 0;
	line-height: 1.4;
}

a {
	color: var(--color-text);
  font-weight: 800;
}

a:focus,
a:hover {
    color: var(--color-link-hover);
}

.card {
  box-shadow: 0 3px 14px rgba(0,0,0,.11);
  background-color: #fff;
  border: none;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

.card-title {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.own-list-header, .own-list-item {
  list-style: none;
  min-height: 50px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.own-list-header {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.own-list-item:last-child {
  border-bottom: none;
}

/* Forms */
.input-group {
  border: 1px solid var(--color-brand);
  border-radius: .3em;
  margin: .2em 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  line-height: calc(1.5em + .75rem + 2px);
}

textarea {
  font-size: 1.3rem;
  min-height: 200px;
  padding: 0 20px;
  color: var(--color-accent);
  border: none;
  border-bottom: 1px dashed var(--color-border);
}

.wallet-table {
  width: 100%;
}

.wallet-table .datatable-header,
.wallet-table .datatable-footer {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .empty-row {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .datatable-footer,
.wallet-table .empty-row {
  padding: 1rem 1.5rem;
}

.wallet-table .datatable-body-cell {
  overflow: hidden;
}

.wallet-table .row-details {
  background-color: var(--color-border);
}

label {
  font-weight: 600;
  position: relative;
}

label + label {
  margin-right: 1.5rem;
}

button {
  position: relative;
  border-radius: 2rem;
  padding: 10px 25px;
  transition: all .5s ease-in-out;
}

.own-effect {
  overflow: hidden;
}

.own-effect::before {
  position: absolute;
  content: '';
  display: block;
  top: -50px;
  right: -120px;
  height: 400px;
  width: 40px;
  transform: rotate(-30deg);
  background-color: var(--color-navbar-bg);
  opacity: .1;
  transition: all 1s ease-in-out;
}

button.own-effect:hover::before {
  right: 500px;
}

button:hover {
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

button.outline {
  color: var(--color-brand);
  background-color: transparent;
  border: 1px solid var(--color-brand);
}

button.outline:hover {
  color: var(--color-navbar-bg);
  background-color: var(--color-brand);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

button.flat {
  box-shadow: none;
}

button:disabled {
  background-color: var(--color-text-info);
}

button:disabled:hover {
  text-shadow: none;
  cursor: not-allowed;
}

.action-button-small, .action-button-small:disabled:hover {
  line-height: 1.5rem;
  color: var(--color-text-info);
  background: transparent;
  padding: .1rem 1rem;
  font-size: .9rem;
  box-shadow: none;
  border: 2px solid var(--color-text-info);
}

.action-button-small:hover {
  text-shadow: none;
  color: var(--color-navbar-bg);
  background: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.action-button-small .action-icon {
  padding-top: 4px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-accent);
}

.action-button-small:hover .action-icon {
  font-size: 1rem;
  color: var(--color-navbar-bg);
}

.action-button-small:disabled {
  border: 1px solid #dee2e6;
  background-color: transparent;
  opacity: .7;
}

.action-button-small:disabled:hover {
  opacity: .7;
  border: 1px solid #dee2e6;
}

.action-button-small:disabled:hover .action-icon {
  color: var(--color-accent);
}

@media (max-width: 700px) {
  .action-button-small .action-text {
    display: none;
  }
}

input {
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 7px;
  padding: 10px 20px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus {
  box-shadow: inset 0 0 4px var(--color-border);
  outline: none;
  border-color: var(--color-brand);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type=checkbox] { display: none; }

input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=checkbox] + label:last-child { margin-bottom: 0; }

input[type=checkbox] + label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-text-info);
  position: absolute;
  left: 0;
  top: 0;
  opacity: .7;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type=checkbox]:checked + label::before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-right-color: var(--color-brand);
  border-bottom-color: var(--color-brand);
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


input[type=checkbox].own-switch + label::before {
	height: 0;
  width: 0;
	visibility: hidden;
}

.own-switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.own-switch-label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

.own-switch:checked + .own-switch-label {
  z-index: 2;
	background: var(--color-accent);
}

.own-switch:checked + .own-switch-label:after {
	left: 100%;
	transform: translateX(-100%);
}

.own-switch-label:active:after {
	width: 130px;
}

.spin {
    animation: rotate .5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

.own-upload {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 10px;
  border: 1px dashed var(--color-text-info);
  transition: all .5s ease-in-out;
}

.own-upload:hover {
  border: 1px solid var(--color-accent);
  color: var(--color-navbar-bg);
  box-shadow: inset 0 0 0 100px var(--color-accent);
  cursor: pointer;
}

.own-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.block {
  width: 100%;
}

.input-group input {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group .form-control:focus {
  border: 1px solid var(--color-brand);
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 7px;
  box-shadow: none;
}

.border-top {
  border-top: none;
}

.border-top-all {
  border-top: 1px solid var(--color-border);
}

.border-right {
  border-right: 1px solid var(--color-border);
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.brand {
  color: var(--color-brand);
  fill: var(--color-brand);
}

.info {
  font-size: .8rem;
  color: var(--color-text-info);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.full-height {
  height: 100%;
}

.info-value {
  text-transform: capitalize;
}

.search-icon {
  fill: #86909A;
}

.cursor-pointer {
  cursor: pointer;
}

.wallet-info {
  color: var(--color-text-info);
}

.tabs ul {
  padding: 0;
  display: flex;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid var(--color-bg-advanced);
}
.tabs ul li {
  color: var(--color-text-info);
  position: relative;
  padding: 10px;
  font-size: .9rem;
}
.tabs ul li svg {
  width: 20px;
  fill: var(--color-text-info);
  margin-right: 10px;
}
.tabs ul li a {
  font-weight: 600;
}
.tabs ul li:hover a {
  color: var(--color-brand);
  text-decoration: none;
}
.tabs ul li.active {
  border-bottom: 2px solid var(--color-brand);
}
.tabs ul li.active a {
  color: var(--color-brand);
}
.tabs ul li.active svg {
  fill: var(--color-brand);
}
.tabs ul li.active:focus {
  outline: none;
}
.jsb {
  justify-content: space-between;
}
.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.loader  {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #39a2ae;
  box-shadow: 30px 0 0 #eb6723;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: white;
  box-shadow: 30px 0 0 white;
}

.drop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: all .3s ease-out;
}

.drop-menu.open {
  transform-origin : center center;
  transform: rotate(180deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 white;
  }
  50% {
    box-shadow: 0 0 0 white;
    margin-bottom: 0;
    transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 white;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #eb6723;
  }
  50% {
    box-shadow: 0 0 0 #eb6723;
    margin-top: -20px;
    transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 #eb6723;
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .tabs ul li svg {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .tabs ul li svg {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .tabs ul li a.info-title {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 390px) {
  .tabs ul li a.info-title {
    display: none;
  }
}

.card-tabs {
  padding: 0;
  list-style: none;
  display: flex;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.card-tabs li {
  padding: 15px 20px;
  color: var(--color-text-info);
}

.card-tabs li:hover {
  cursor: pointer;
  font-weight: 600;
}

.card-tabs li.selected {
  font-weight: 600;
  background-color: var(--color-navbar-bg);
}

@media only screen and (max-width: 766px) {
  .border-top {
    border-top: 1px solid var(--color-border);
  }
  .border-right {
    border-right: none;
  }
  .border-left {
    border-left: none;
  }
  .text-truncate {
    font-size: .8rem;
  }
}
