/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
body{
 background-color : #161616;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.full-width{
    width: 100%;
}

.fab-bottom-right {
    top: auto !important;
    right: 30px !important;
    bottom: 30px !important;
    left: auto !important;
    position: fixed !important;
    z-index: 1500 !important;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.form-margin-right
{
    margin-right: 24px;    
}

.font-bold
{
    font-weight: bold;
}

.align-left
{
    margin-right:auto;
}

.chx-address-width
{
    width: 350px;
}

.align-right
{
    margin-left: auto;
}

.chainium-gray
{
    background-color: #161616;
}

body{
    margin:0px;
    padding: 0px;
    border-width: 0px;
}

button{
    font-weight: bold;
}

.info-item-margin
{
    margin-left: 16px;
    margin-right: 16px;
}

.toolbar-bottom-margin
{
    margin-bottom: 24px;
}

.toolbar-header
{
    margin-top:68px; 
    background-color: transparent;
}

.pointer{
    cursor: pointer;
}
