@import './assets/images/images.css';

:root {
  --color-bg: #f4f4f4;
  --color-bg-lighter: #f7f7f7;
  --color-brand: #eb6723;
  --color-danger: #d3240c;
  --color-accent: #3aabb9;
  --color-text: #414549;
  --color-text-info: #848484;
  --color-navbar-bg: #ffffff;
  --color-link: #0073dd;
  --color-link-hover: #373737;
  --color-navbar-link: #373737;
  --color-navbar-link-active: #22242a;
  --color-card-bg-inactive: #eaeaea;
  --color-border: #dee2e6;
  --color-bg-advanced: #dfdfdf;
  --base-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Nunito', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  font-family: var(--base-font-family);
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 100%;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

hr {
  border-top: 1px solid var(--color-border);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

b,
strong,
.text-bold {
  font-weight: bold;
}

p {
  margin-top: 0;
}

button {
  border: none;
  background-color: var(--color-brand);
  color: white;
  font-weight: 600;
}

button:focus {
  outline: none;
}

button.button-transparent {
  color: var(--color-text);
  background-color: transparent;
  box-shadow: none;
  padding: 0 0 0 20px;
}

button.button-transparent:hover,
button.link:hover {
  color: var(--color-brand);
  text-shadow: none;
  box-shadow: none;
}

button.link {
  border-radius: 0;
  background-color: transparent;
  color: var(--color-accent);
  text-decoration: underline;
  box-shadow: none;
  padding: 0 4px;
}

.swap-button {
  background-color: var(--color-text-info);
  border-radius: 4px;
  position: absolute;
  top: -10px;
  left: calc(50% - 25px);
  cursor: pointer;
  padding: 0px 4px 4px 4px;
}

.max-button {
  background-color: var(--color-text-info);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 225px;
  cursor: pointer;
  padding: 4px;
}

.float-left {
  float: left;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.mb-6 {
  margin-bottom: 1rem;
}

.-mr-1 {
  margin-right: -0.65rem;
}

.-ml-1 {
  margin-left: -0.25rem;
}

.-ml-2 {
  margin-left: -2rem;
}

.-mt-2 {
  margin-top: -1rem;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mr-6 {
  margin-right: 24px;
}

.pr-6 {
  padding-right: 24px;
}

.m-0 {
  margin: 0;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.text-lg {
  font-size: 1.2rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.left {
  left: 0;
}

.bottom {
  bottom: 0;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-brand);
}

.text-info {
  color: var(--color-text-info);
}

.text-danger {
  color: var(--color-danger);
}

.text-accent {
  color: var(--color-accent);
}

.text-brand {
  color: var(--color-brand);
}

.bg {
  background-color: var(--color-bg);
}

.bg-lighter {
  background-color: var(--color-bg-lighter);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-info {
  background-color: var(--color-text-info);
}

.text-white {
  color: white;
}

.rounded {
  border-radius: 7px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 0.9rem;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.monospace-font {
  font-family: monospace;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: var(--color-card-bg-inactive);
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-accent);
  transition: width 0.6s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 1.4;
}

a {
  color: var(--color-accent);
}

a:focus,
a:hover {
  color: var(--color-link-hover);
}

.card {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  border: none;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

.card-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.own-list-header,
.own-list-item {
  list-style: none;
  min-height: 50px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.own-list-header {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.own-list-item:last-child {
  border-bottom: none;
}

/* Forms */
.input-group {
  border: 1px solid var(--color-brand);
  border-radius: 0.3em;
  margin: 0.2em 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  line-height: calc(1.5em + 0.75rem + 2px);
}

textarea {
  font-size: 1.3rem;
  min-height: 200px;
  padding: 0 20px;
  color: var(--color-accent);
  border: none;
  border-bottom: 1px dashed var(--color-border);
}

.wallet-table {
  width: 100%;
}

.wallet-table .datatable-header,
.wallet-table .datatable-footer {
  background-color: var(--color-bg);
  color: var(--color-text-info);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .empty-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.wallet-table .datatable-header,
.wallet-table .datatable-body-row,
.wallet-table .datatable-footer,
.wallet-table .empty-row {
  padding: 1rem 1.5rem;
}

.wallet-table .datatable-body-cell {
  overflow: hidden;
}

.wallet-table .row-details {
  background-color: var(--color-border);
}

label {
  font-weight: 600;
  position: relative;
}

label + label {
  margin-right: 1.5rem;
}

button,
.button {
  position: relative;
  border-radius: 2rem;
  padding: 10px 25px;
  transition: all 0.5s ease-in-out;
}

.own-effect {
  overflow: hidden;
}

.own-effect::before {
  position: absolute;
  content: '';
  display: block;
  top: -50px;
  right: -120px;
  height: 400px;
  width: 40px;
  transform: rotate(-30deg);
  background-color: var(--color-navbar-bg);
  opacity: 0.1;
  transition: all 1s ease-in-out;
}

button.own-effect:hover::before,
.button.own-effect:hover::before {
  right: 500px;
}

button:hover,
.button:hover {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

button.outline,
.button.outline {
  color: var(--color-brand);
  background-color: transparent;
  border: 1px solid var(--color-brand);
}

button.outline:hover,
.button.outline:hover {
  color: var(--color-navbar-bg);
  background-color: var(--color-brand);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

button.flat {
  box-shadow: none;
}

button:disabled {
  background-color: var(--color-text-info);
}

button:disabled:hover {
  text-shadow: none;
  cursor: not-allowed;
}

.action-button-small,
.action-button-small:disabled:hover {
  line-height: 1.5rem;
  color: var(--color-text-info);
  background: transparent;
  padding: 0.1rem 1rem;
  font-size: 0.9rem;
  box-shadow: none;
  border: 2px solid var(--color-text-info);
}

.action-button-small:hover {
  text-shadow: none;
  color: var(--color-navbar-bg);
  background: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.action-button-small .action-icon {
  padding-top: 4px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-accent);
}

.action-button-small:hover .action-icon {
  font-size: 1rem;
  color: var(--color-navbar-bg);
}

.action-button-small:disabled {
  border: 1px solid #dee2e6;
  background-color: transparent;
  opacity: 0.7;
}

.action-button-small:disabled:hover {
  opacity: 0.7;
  border: 1px solid #dee2e6;
}

.action-button-small:disabled:hover .action-icon {
  color: var(--color-accent);
}

@media (max-width: 700px) {
  .action-button-small .action-text {
    display: none;
  }
}

select {
  position: relative;
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23848484%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  cursor: pointer;
  font-weight: 800;
}

select:focus {
  border-color: var(--color-brand);
}

.no-borders {
  border: none;
}

.mega-input {
  position: relative;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.mega-input input {
  font-weight: 600;
}

input {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 20px;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus {
  box-shadow: inset 0 0 4px var(--color-border);
  outline: none;
  border-color: var(--color-brand);
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type='checkbox'] + label:last-child {
  margin-bottom: 0;
}

input[type='checkbox'] + label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-text-info);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type='checkbox']:checked + label::before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-right-color: var(--color-brand);
  border-bottom-color: var(--color-brand);
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type='checkbox'].own-switch + label::before {
  height: 0;
  width: 0;
  visibility: hidden;
}

input:read-only {
  color: var(--color-text-info);
  background-color: var(--color-bg-lighter);
}

.own-switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.own-switch-label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

.own-switch:checked + .own-switch-label {
  z-index: 2;
  background: var(--color-accent);
}

.own-switch:checked + .own-switch-label:after {
  left: 100%;
  transform: translateX(-100%);
}

.own-switch-label:active:after {
  width: 130px;
}

.spin {
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.own-upload {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 10px;
  border: 1px dashed var(--color-text-info);
  transition: all 0.5s ease-in-out;
}

.own-upload:hover {
  border: 1px solid var(--color-accent);
  color: var(--color-navbar-bg);
  box-shadow: inset 0 0 0 100px var(--color-accent);
  cursor: pointer;
}

.own-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.block {
  width: 100%;
  display: block;
}

.input-group input {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group .form-control:focus {
  border: 1px solid var(--color-brand);
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 7px;
  box-shadow: none;
}

.border-top {
  border-top: none;
}

.border-top-all {
  border-top: 1px solid var(--color-border);
}

.border-right {
  border-right: 1px solid var(--color-border);
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.brand {
  color: var(--color-brand);
  fill: var(--color-brand);
}

.info {
  font-size: 0.8rem;
  color: var(--color-text-info);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.full-height {
  height: 100%;
}

.info-value {
  text-transform: capitalize;
}

.search-icon {
  fill: #86909a;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.wallet-info {
  color: var(--color-text-info);
}

.tabs ul {
  padding: 0;
  display: flex;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid var(--color-bg-advanced);
}
.tabs ul li {
  color: var(--color-text-info);
  position: relative;
  padding: 10px;
  font-size: 0.9rem;
}
.tabs ul li svg {
  width: 20px;
  fill: var(--color-text-info);
  margin-right: 10px;
}
.tabs ul li a {
  font-weight: 600;
}
.tabs ul li:hover a {
  color: var(--color-brand);
  text-decoration: none;
}
.tabs ul li.active {
  border-bottom: 2px solid var(--color-brand);
}
.tabs ul li.active a {
  color: var(--color-brand);
}
.tabs ul li.active svg {
  fill: var(--color-brand);
}
.tabs ul li.active:focus {
  outline: none;
}
.jsb {
  justify-content: space-between;
}
.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #39a2ae;
  box-shadow: 30px 0 0 #eb6723;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: white;
  box-shadow: 30px 0 0 white;
}

.drop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: all 0.3s ease-out;
}

.drop-menu.open {
  transform-origin: center center;
  transform: rotate(180deg);
}

.svg-loader {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 white;
  }
  50% {
    box-shadow: 0 0 0 white;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 white;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #eb6723;
  }
  50% {
    box-shadow: 0 0 0 #eb6723;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #eb6723;
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .tabs ul li svg {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .tabs ul li svg {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .tabs ul li a.info-title {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 390px) {
  .tabs ul li a.info-title {
    display: none;
  }
}

.card-tabs {
  padding: 0;
  list-style: none;
  display: flex;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.card-tabs li {
  padding: 15px 20px;
  color: var(--color-text-info);
}

.card-tabs li:hover {
  cursor: pointer;
  font-weight: 600;
}

.card-tabs li.selected {
  font-weight: 600;
  background-color: var(--color-navbar-bg);
}

@media only screen and (max-width: 766px) {
  .border-top {
    border-top: 1px solid var(--color-border);
  }
  .border-right {
    border-right: none;
  }
  .border-left {
    border-left: none;
  }
  .text-truncate {
    font-size: 0.8rem;
  }
}
