<div class="container my-5" *ngIf="isKeyImported && acceptBridgeForm && bridgeForm">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8">
      <own-card>
        <own-card-title>
          <div class="row justify-content-between">
            <div class="col-2">Bridge</div>
            <div class="col text-right" *ngIf="metaMaskConnected && chainId">
              <span class="text-small text-info mr-2">
                {{ chainName }}
              </span>
              <span class="bg-danger rounded text-white text-small p-1" *ngIf="!isProduction"> TEST MODE </span>
            </div>
          </div>
        </own-card-title>
        <own-card-body [padding]="true">
          <div class="row" *ngIf="!risksAccepted && !showWarning">
            <div class="col">
              <p>
                This process allows you to transfer CHX tokens from the
                <strong>WeOwn Blockchain</strong> onto other blockchains and back.
              </p>
              <p>
                Before you proceed, please make sure you are familiar with inter-blockchain related swap / bridge / wrap
                risks involved.
              </p>
              <p class="mt-4">The pre-requisites for the token bridge are:</p>
              <ul>
                <li>You have created a CHX wallet, loaded with enough CHX tokens incl. transaction fees.</li>
                <li>
                  You have a wallet on the supported source and target blockchain with enough tokens and transaction
                  fees.
                </li>
                <li>
                  You are in control of all private keys for both source and target blockchain, safely stored in a
                  secure place.
                </li>
                <li>You have a MetaMask installed and you can access it.</li>
              </ul>
              <form [formGroup]="acceptBridgeForm">
                <div class="row mt-4">
                  <div class="col mt-4">
                    <input type="checkbox" formControlName="aware" id="aware-of-risks" />
                    <label class="m-0" for="aware-of-risks"
                      >I am fully aware of the risks involved, and any incorrect usage could result in total or partial
                      loss of my funds</label
                    >
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="checkbox" formControlName="confirm" id="confirm" />
                    <label class="m-0" for="confirm">
                      I hereby confirm that both target and source wallets are in my control and I meet all
                      prerequisites described above.
                    </label>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="checkbox" formControlName="agree" id="agree" />
                    <label class="m-0" for="agree">
                      I confirm and agree that WeOwn cannot be held accountable for any incorrect or improper use of the
                      bridge feature.
                    </label>
                  </div>
                </div>
                <div class="row mt-4 justify-content-center">
                  <div class="col col-sm-6 mt-4">
                    <button
                      [disabled]="acceptBridgeForm.invalid || loading"
                      class="block own-effect"
                      (click)="acceptRisks()"
                    >
                      <svg
                        *ngIf="loading"
                        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                        <path
                          class="opacity-75"
                          fill="#dfdfdf"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                      </svg>
                      ACCEPT AND CONTINUE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="showWarning && warningMessage">
            <div class="col-12">
              <h2>Warning</h2>
              <p [innerHTML]="warningMessage"></p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col col-sm-6">
                  <button class="block own-effect mt-4" (click)="reset()">BACK</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="connectingToMetaMask">
            <div class="col-12 text-center">
              <svg
                class="svg-loader"
                version="1.1"
                id="L4"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 100 100"
                enable-background="new 0 0 0 0"
                xml:space="preserve"
              >
                <circle fill="#eb6723" stroke="none" cx="6" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
                </circle>
                <circle fill="#eb6723" stroke="none" cx="26" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
                </circle>
                <circle fill="#eb6723" stroke="none" cx="46" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
                </circle>
              </svg>
            </div>
            <div class="col-12">
              <h4 class="text-center">Connecting to MetaMask ...</h4>
            </div>
          </div>

          <div
            class="row"
            *ngIf="risksAccepted && !showWarning && !connectingToMetaMask && !confirmTransfer && !txResult"
          >
            <div class="col">
              <form [formGroup]="bridgeForm">
                <div class="row">
                  <div class="col">
                    <div class="row justify-content-between mb-6">
                      <label for="from" class="col-2">From</label>
                      <div class="col text-right">
                        <span
                          class="text-white bg-danger p-2 rounded text-small"
                          *ngIf="
                            bridgeForm.get('fromAmount').dirty &&
                            bridgeForm.get('fromAmount').touched &&
                            bridgeForm.get('fromAmount').errors
                          "
                        >
                          <span
                            *ngIf="
                              bridgeForm.get('fromAmount').errors?.min && !bridgeForm.get('fromAmount').errors?.max
                            "
                          >
                            Minimum amount is {{ minWrapAmount }}
                          </span>

                          <span *ngIf="bridgeForm.get('fromAmount').errors?.max">
                            Amount can't be greater than your current
                            {{ fromBlockchain === 'chx' ? 'CHX' : 'wCHX' }}
                            balance
                          </span>

                          <span *ngIf="bridgeForm.get('fromAmount').errors?.required"> Amount is required </span>
                        </span>
                      </div>
                    </div>
                    <div class="mega-input text-lg">
                      <input class="block no-borders" type="number" formControlName="fromAmount" />
                      <div class="border-right my-2"></div>

                      <own-dropdown-menu [showIcon]="false" [label]="fromBlockchain === 'chx' ? 'CHX' : 'wCHX'">
                        <own-dropdown-item (click)="bridgeForm.get('fromBlockchain').setValue('chx')">
                          CHX
                        </own-dropdown-item>
                        <own-dropdown-item (click)="bridgeForm.get('fromBlockchain').setValue('eth')">
                          wCHX
                        </own-dropdown-item>
                      </own-dropdown-menu>
                    </div>

                    <div class="row text-info justify-content-between mt-2">
                      <div class="col">
                        {{ fromBlockchain === 'chx' ? chxAddress : ethAddress }}
                      </div>
                      <div class="col-4">
                        Balance:
                        {{ fromBlockchain === 'chx' ? chxBalance + ' CHX' : wChxBalance + ' wCHX' }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="row justify-content-between mb-6">
                      <label for="from" class="col">To</label>
                      <div class="col-4 text-center position-relative">
                        <span class="swap-button" (click)="swapBlockchains()">
                          <own-icon icon="swap" size="15" color="#ffffff"></own-icon>
                        </span>
                      </div>
                    </div>

                    <div class="mega-input text-lg">
                      <input
                        readonly
                        class="block no-borders cursor-not-allowed"
                        type="number"
                        formControlName="toAmount"
                      />
                      <div class="border-right my-2"></div>

                      <own-dropdown-menu [showIcon]="false" [label]="toBlockchain === 'eth' ? 'wCHX' : 'CHX'">
                        <own-dropdown-item (click)="bridgeForm.get('toBlockchain').setValue('chx')">
                          CHX
                        </own-dropdown-item>
                        <own-dropdown-item (click)="bridgeForm.get('toBlockchain').setValue('eth')">
                          wCHX
                        </own-dropdown-item>
                      </own-dropdown-menu>
                    </div>

                    <div class="row justify-content-between mt-2 text-info">
                      <div class="col">
                        {{ toBlockchain === 'eth' ? ethAddress : chxAddress }}
                      </div>

                      <div class="col-4" *ngIf="wChxBalance !== undefined">
                        Balance:
                        {{ toBlockchain === 'eth' ? wChxBalance + ' wCHX' : chxBalance + ' CHX' }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4 justify-content-center">
                  <div class="col col-sm-6 mt-4">
                    <button
                      *ngIf="(!metaMaskConnected && fromBlockchain === 'eth') || (!metaMaskConnected && !ethAddrMapped)"
                      [disabled]="loading"
                      class="block own-effect"
                      (click)="initiateMetaMaskProvider()"
                    >
                      <svg
                        *ngIf="loading"
                        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                        <path
                          class="opacity-75"
                          fill="#dfdfdf"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                      </svg>
                      CONNECT WITH METAMASK
                    </button>
                    <button
                      *ngIf="metaMaskConnected || (fromBlockchain === 'chx' && ethAddrMapped)"
                      [disabled]="bridgeForm.invalid || loading"
                      class="block own-effect"
                      (click)="confirmTransfer = true"
                    >
                      <svg
                        *ngIf="loading"
                        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                        <path
                          class="opacity-75"
                          fill="#dfdfdf"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                      </svg>
                      TRANSFER
                    </button>
                  </div>
                </div>
                <div
                  class="row justify-content-center item-align-center text-info mt-4 p-2 bg-lighter rounded cursor-pointer position-relative"
                  *ngIf="bridgeFee"
                  tabindex="1"
                  title="Click to view detailed fee calculation"
                  (click)="showFees = !showFees"
                >
                  <span class="col-1 drop-menu position-absolute right-0 top-0 mt-1 -mr-1" [class.open]="showFees">
                    <own-icon icon="arrow-down"></own-icon>
                  </span>
                  <div class="col">
                    <ng-container *ngIf="showFees">
                      <div class="row mr-2">
                        <div class="col">Gas consumption:</div>
                        <div class="col text-right">{{ bridgeFee.gasConsumption }} Gas</div>
                      </div>
                      <div class="row mr-2">
                        <div class="col">Gas price:</div>
                        <div class="col text-right">{{ bridgeFee.gweiGasPrice }} Gwei</div>
                      </div>

                      <div class="row mr-2">
                        <div class="col">ETH fee:</div>
                        <div class="col text-right">{{ bridgeFee.ethFee }} ETH</div>
                      </div>

                      <div class="row mr-2">
                        <div class="col">CHX/ETH price rate:</div>
                        <div class="col text-right">
                          {{ bridgeFee.chxEthPriceRate }}
                        </div>
                      </div>

                      <hr />

                      <div class="row mr-2">
                        <div class="col">Fee on Ethereum:</div>
                        <div class="col text-right">{{ bridgeFee.ethFeeInChx | number: '1.0-7' }} CHX</div>
                      </div>
                      <div class="row mr-2">
                        <div class="col">Fee on WeOwn blockchain:</div>
                        <div class="col text-right">{{ bridgeFee.chxFee | number: '1.0-7' }} CHX</div>
                      </div>

                      <hr />
                    </ng-container>

                    <div class="row" [class.text-bold]="showFees">
                      <div class="col">
                        <div class="float-left">
                          <own-icon icon="info" size="24" color="#3aabb9"></own-icon>
                        </div>
                        Total fee:
                      </div>
                      <div class="col text-right">
                        <div class="row mr-2">
                          <div class="col">{{ bridgeFee.totalFee | number: '1.0-7' }} CHX</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="risksAccepted && bridgeForm && confirmTransfer && !showWarning && !txResult">
            <div class="col">
              <div class="row justify-content-between">
                <div class="col">
                  <h2 class="m-0">{{ bridgeForm.get('fromAmount').value }}</h2>
                </div>
                <div class="col text-right">
                  <h2 class="m-0">
                    {{ fromBlockchain === 'chx' ? 'CHX' : 'wCHX' }}
                  </h2>
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="col text-brand">
                  {{ fromBlockchain === 'chx' ? chxAddress : ethAddress }}
                </div>
                <div class="col-1">
                  <own-icon icon="arrow-down" size="20" color="#848484"></own-icon>
                </div>
              </div>
              <div class="row justify-content-between mt-4">
                <div class="col">
                  <h2 class="m-0">{{ bridgeForm.get('toAmount').value }}</h2>
                </div>
                <div class="col text-right">
                  <h2 class="m-0">
                    {{ toBlockchain === 'eth' ? 'wCHX' : 'CHX' }}
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col text-brand">
                  {{ toBlockchain === 'eth' ? ethAddress : chxAddress }}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <span class="text-info text-small">
                    <own-icon icon="info" size="25" color="#848484"></own-icon>
                    Output value is estimated.
                  </span>
                </div>
              </div>
              <div class="row mt-4 justify-content-center">
                <div class="col col-sm-6 mt-4">
                  <button [disabled]="loading" class="block own-effect" (click)="transfer()">
                    <svg
                      *ngIf="loading"
                      class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="4"></circle>
                      <path
                        class="opacity-75"
                        fill="#dfdfdf"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      ></path>
                    </svg>
                    CONFIRM TRANSFER
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="txResult && inProgress && !showWarning">
            <div class="col-12 text-center">
              <svg
                class="svg-loader"
                version="1.1"
                id="L4"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 100 100"
                enable-background="new 0 0 0 0"
                xml:space="preserve"
              >
                <circle fill="#eb6723" stroke="none" cx="6" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
                </circle>
                <circle fill="#eb6723" stroke="none" cx="26" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
                </circle>
                <circle fill="#eb6723" stroke="none" cx="46" cy="50" r="6">
                  <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
                </circle>
              </svg>
            </div>
            <div class="col-12 text-center">
              <h4>Processing...</h4>
              <p>
                Your {{ fromBlockchain === 'chx' ? 'CHX' : 'wCHX' }} will be added to your account after the transaction
                has been executed.
              </p>
            </div>
            <div class="col-12 mt-5">
              <div class="row justify-content-center">
                <div class="col col-md-6">
                  <a
                    *ngIf="fromBlockchain === 'eth' && !isProduction"
                    class="button outline own-effect block text-center"
                    [href]="'https://rinkeby.etherscan.io/tx/' + txResult.txHash"
                    target="_blank"
                  >
                    VIEW TRANSACTION INFO
                  </a>
                  <a
                    *ngIf="fromBlockchain === 'eth' && isProduction"
                    class="button outline own-effect block text-center"
                    [href]="'https://etherscan.io/tx/' + txResult.txHash"
                    target="_blank"
                  >
                    VIEW TRANSACTION INFO
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center" *ngIf="txResult && !inProgress && !showWarning">
            <div class="col-12">
              <div class="row full-height align-items-center justify-content-between">
                <div class="col-12">
                  <div class="token-success"></div>
                </div>
                <div class="col-12">
                  <h4>Success!</h4>
                  <p class="info">Your transaction has been successfully submitted.</p>
                  <p>
                    <b>
                      <div class="row">
                        <div class="col-12">Transaction:</div>
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12">
                              {{ txResult.txHash }}
                              <button
                                class="button-transparent"
                                title="Copy Transaction"
                                ngxClipboard
                                cbContent="{{ txResult.txHash }}"
                              >
                                <own-icon icon="copy" color="#eb6723"></own-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </b>
                  </p>
                  <div class="mt-5">
                    <div class="row justify-content-center">
                      <div class="col col-md-6">
                        <button
                          *ngIf="fromBlockchain === 'chx'"
                          class="outline own-effect block text-center"
                          [routerLink]="['/info/tx/' + txResult.txHash]"
                        >
                          VIEW TRANSACTION INFO
                        </button>
                        <a
                          *ngIf="fromBlockchain === 'eth' && !isProduction"
                          class="button outline own-effect block text-center"
                          [href]="'https://rinkeby.etherscan.io/tx/' + txResult.txHash"
                          target="_blank"
                        >
                          VIEW TRANSACTION INFO
                        </a>
                        <a
                          *ngIf="fromBlockchain === 'eth' && isProduction"
                          class="button outline own-effect block text-center"
                          [href]="'https://etherscan.io/tx/' + txResult.txHash"
                          target="_blank"
                        >
                          VIEW TRANSACTION INFO
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>
