<div class="column-container">
    <h1 mat-dialog-title>SHOW PRIVATE KEY</h1>
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="CHX address" readonly [value]="walletInfo.address"
                matTooltip="This is your wallet address" id="address-input">
            </textarea>
            <mat-icon matSuffix class="margin-l-15 pointer animate-click" color="accent" matTooltip="Copy CHX Address" 
                ngxClipboard cbContent="{{walletInfo.address}}">
                file_copy
            </mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Private Key" readonly [value]="walletInfo.privateKey"
                matTooltip="This is the private key that you can copy"
                id="private-key-input">
            </textarea>
            <mat-icon matSuffix class="margin-l-15 pointer animate-click" color="accent" matTooltip="Copy Private Key" 
                ngxClipboard cbContent="{{walletInfo.privateKey}}">
                file_copy
            </mat-icon>
        </mat-form-field>
        <mat-divider></mat-divider>
    </div>
    <div mat-dialog-actions class="align-center">
        <button mat-button (click)="onCloseClick()" color="accent" mat-raised-button>CLOSE</button>
    </div>
</div>