<div class="column-container">
        <h1 mat-dialog-title>SHOW PRIVATE KEY</h1>
        <div mat-dialog-content>
                <mat-form-field class="full-width">
                        <textarea matInput placeholder="CHX address" readonly [value]="walletInfo.address"
                                matTooltip="This is your wallet address" id="address-input"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                        <textarea matInput placeholder="private key" readonly [value]="walletInfo.privateKey"
                                matTooltip="This is the private key that you can copy"
                                id="private-key-input"></textarea>
                </mat-form-field>
                <mat-divider></mat-divider>
        </div>
        <div mat-dialog-actions class="align-center">
                <button mat-button (click)="onCloseClick()">CLOSE</button>
                <button (click)="onCopyButtonClick()" color="accent" mat-raised-button>
                        COPY
                </button>
        </div>
</div>