.welcome-token {
  width: 100%;
}

.welcome-button {
  width: 100%;
  padding: 10px 20px;
  color: var(--color-text);
  background-color: transparent;
  border: 1px dashed var(--color-text-info);
  border-radius: 2rem;
  text-align: left;
  box-shadow: none;
  overflow: hidden;
  position: relative;
  transition: all .5s ease-in-out;
}

.plus-icon {
  position: absolute;
  top: -7px;
  left: 0;
  padding: 15px;
  transition: all .5s ease-in-out;
}

.welcome-button:hover {
  color: white;
  box-shadow: inset -350px 0 0 0 var(--color-accent);
  border: 1px solid var(--color-accent);
}

.welcome-button.active {
  border: none;
  background-color: var(--color-bg);
}

.welcome-button:hover .plus-icon {
  background-color: white;
  border-radius: 50%;
}

.address-item {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 20px;
  color: var(--color-text);
  background: var(--color-bg);
  border-radius: 10px;
  transition: all .4s ease-in-out;
}

.address-item .wallet {
  position: absolute;
  left: 0;
  top: 150px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, .2);
  background: var(--color-bg-advanced);
  transform: translateY(-100px);
  transition: all .5s ease-in-out;
}

.address-item.selected {
  color: var(--color-navbar-bg);;
  background: linear-gradient(to right, rgba(227,85,34,1) 0%, rgba(244,113,53,1) 100%);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .3);
}

.address-item.selected .wallet {
  transform: translateX(0);
}

.address-item.selected:hover {
  box-shadow: none;
  background: linear-gradient(to right, rgba(227,85,34,1) 100%, rgba(244,113,53,1) 100%);
}
.address-item.selected:hover .wallet {
  transform: translateX(0);
}

.address-item:hover {
  cursor: pointer;
  color: var(--color-navbar-bg);
  box-shadow: inset 0 -200px 0 var(--color-accent);
}

.address-item:hover .wallet {
  box-shadow: 0 -10px 0 0 rgba(0, 0, 0, .2);
  transform: translateY(-90px);
}

.next, .previous {
  padding: 0;
  height: 30px;
  width: 30px;
  color: var(--color-text);
  background-color: var(--color-bg);
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.next:hover, .previous:hover {
  color: var(--color-navbar-bg);
  background-color: var(--color-accent);
}

.previous {
  border-radius: 7px 0 0 7px;
}

.next {
  border-radius: 0 7px 7px 0;
}

.address-hash {
  font-weight: 600;
  text-transform: uppercase;
}

.quick-action-button {
  position: relative;
  font-weight: 400;
  padding: .5rem 1.5rem .5rem 3.2rem;
  color: var(--color-text);
  background-color: var(--color-navbar-bg);
  box-shadow: none;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.quick-action-button:hover {
  color: var(--color-navbar-bg);
  box-shadow: inset -150px 0 0 0 var(--color-accent);
}

.quick-action-button span {
  position: absolute;
  top: -.2rem;
  left: -.3rem;
  text-align: right;
  padding-right: .7rem;
  padding-top: .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--color-navbar-bg);
}

.quick-action-button.selected {
  color: var(--color-text-info);
  background-color: transparent;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
}

.quick-action-button.selected span,
.advanced-actions .quick-action-button.selected span {
  background-color: transparent;
}

.quick-action-button.selected:hover,
.advanced-actions .quick-action-button.selected:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
}

.advanced-actions .quick-action-button.selected:hover span {
  background-color: transparent;
}

.advanced-dropdown-button {
  background-color: transparent;
  box-shadow: none;
  color: var(--color-text);
  padding: .5rem 1rem;
}

.advanced-dropdown-button:hover {
  text-shadow: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.advanced-actions .quick-action-button,
.advanced-actions .quick-action-button span {
  background-color: var(--color-bg-advanced);
  transition: all .9s ease-in-out;
}

.advanced-actions .quick-action-button:hover {
  box-shadow: inset -430px 0 0 0 var(--color-accent);
}

.advanced-actions .quick-action-button:hover span {
  background-color: var(--color-navbar-bg);
}

@media screen and (max-width: 496px) {
  .quick-action-button {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .quick-action-button:hover {
    box-shadow: inset -430px 0 0 0 var(--color-accent);
  }
}
