  <div class="column-container align-center">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="account hash" [value]="accountHash"
      (input)="accountHash = $event.target.value" required (keydown.enter)="onAccountInfoButtonClick()"></textarea>
    </mat-form-field>
    <button (click)="onAccountInfoButtonClick()" mat-raised-button color="accent" matTooltip="Click to get info for entered account hash.">GET ACCOUNT</button>
  </div>
  <div class="column-container" *ngIf="accountInfo">
    <mat-toolbar class="toolbar-header">Account info</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>

    <mat-form-field class="info-item-margin">
      <textarea matInput placeholder="account hash" [value]="accountInfo.accountHash" disabled></textarea>
    </mat-form-field>

    <mat-form-field class="info-item-margin">
      <textarea matInput placeholder="controller address" [value]="accountInfo.controllerAddress" disabled></textarea>
      <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{accountInfo.controllerAddress}}" class="pointer margin-l-20 animate-click">file_copy</mat-icon>
    </mat-form-field>

    <mat-toolbar class="toolbar-header">Holdings</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>

    <mat-table [dataSource]="accountInfo.holdings" class="mat-elevation-z8 full-width">

      <ng-container matColumnDef="assetcode">
        <mat-header-cell *matHeaderCellDef>ASSET HASH</mat-header-cell>
        <mat-cell *matCellDef="let holding"> {{holding.assetHash}}
          <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{holding.assetHash}}" class="pointer margin-l-20 animate-click">file_copy</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef>BALANCE</mat-header-cell>
        <mat-cell *matCellDef="let holding"> {{holding.balance}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="column-container" *ngIf="errors">
      <mat-toolbar class="toolbar-header">Errors</mat-toolbar>
      <mat-divider class="toolbar-bottom-margin"></mat-divider>
      <mat-list>
          <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
      </mat-list>

  </div>
