<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Search by account hash"
            [value]="accountHash"
            (input)="accountHash = $event.target.value"
            (keydown.enter)="onAccountInfoButtonClick()"
            required>
            <button class="search-button" (click)="onAccountInfoButtonClick()" title="Click to get info for entered account hash.">
              <own-icon icon="search"></own-icon>
            </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="accountInfo">
    <div class="container mt-5" @contentInOut>
      <div class="row">
        <div class="col-12 col-md-6">
          <own-card>
            <own-card-body [padding]="true">
              <div class="row">
                <div class="col-12">
                  <b>Account Hash</b>
                </div>
                <div class="col-12 text-truncate">
                  {{ accountInfo.accountHash }}
                </div>
            </div>
          </own-card-body>
        </own-card>
      </div>
      <div class="col-12 col-md-6 mt-4 mt-md-0">
        <own-card>
          <own-card-body [padding]="true">
            <div class="row">
              <div class="col-12">
                <b>Current Controller Address</b>
                  <div class="row">
                    <div class="col-8 text-truncate">
                      {{accountInfo.controllerAddress}}
                    </div>
                    <div class="col-4 text-right">
                      <button class="button-transparent" ngxClipboard cbContent="{{ accountInfo.controllerAddress }}" title="copy controller address">
                        <own-icon icon="copy" color="#eb6723"></own-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </own-card-body>
          </own-card>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <p class="m-0 card-title p-4">
            <b>Holdings</b>
          </p>
            <ngx-datatable
              class="wallet-table"
              [rows]="accountInfo.holdings"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="50"
              [footerHeight]="20"
              [rowHeight]="'auto'">
            </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="mt-5"></div>

<div *ngIf="errors">
  <h6>Errors</h6>
  <hr>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</div>
