<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="font-bold">
      CHX transfer
    </mat-panel-title>
    <mat-panel-description *ngIf="chxTransfer.amount || chxTransfer.recipientAddress">{{chxTransfer.amount}} CHX to
      {{chxTransfer.recipientAddress}}
    </mat-panel-description>
    <button (click)="onRemoveChxTransferClick()" mat-icon-button color="accent"
      aria-label="delete this row from actions list">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <mat-form-field class="form-margin-right">
    <input matInput placeholder="amount" [value]="chxTransfer.amount" type="number"
      (input)="chxTransfer.amount = $event.target.value">
  </mat-form-field>
  <mat-form-field class="address-field-width">
    <input matInput type="text" placeholder="recipient address" [value]="chxTransfer.recipientAddress || ''"
      (input)="chxTransfer.recipientAddress = $event.target.value">
  </mat-form-field>
  <mat-expansion-panel>