<div class="column-container align-center">
    <mat-form-field class="full-width">
        <textarea matInput placeholder="transaction hash" [value]="transactionHash"
            (input)="transactionHash = $event.target.value" required (keydown.enter)="onTransactionInfoButtonClick()"></textarea>
    </mat-form-field>
    <button (click)="onTransactionInfoButtonClick()" mat-raised-button color="accent"
        matTooltip="Click to get info for entered transaction hash.">GET TRANSACTION</button>
</div>
<div class="column-container" *ngIf="txInfo && ready">
    <mat-toolbar class="toolbar-header">Transaction info</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="transaction hash" disabled value="{{txInfo.txHash}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="sender address" disabled value="{{txInfo.senderAddress}}"></textarea>
        <mat-icon matSuffix color="accent" ngxClipboard cbContent="{{txInfo.senderAddress}}"
            class="pointer margin-l-20 animate-click">file_copy</mat-icon>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="nonce" disabled value="{{txInfo.nonce}}" type="number">
    </mat-form-field>    
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="expiration time" disabled value="{{txInfo.expirationTime}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin">    
        <input matInput placeholder="fee" disabled value="{{txInfo.actionFee}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="total fee" disabled value="{{totalFee}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="txInfo.status">
        <input matInput placeholder="status" disabled value="{{txInfo.status}}" type="text">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="showErrorCode">
        <input matInput placeholder="error code" disabled value="{{txInfo.errorCode}}" type="text">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="txInfo.failedActionNumber && (txInfo.failedActionNumber>0)">
        <input matInput placeholder="failed action number" disabled value="{{txInfo.failedActionNumber}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="txInfo.includedInBlockNumber">
        <input matInput placeholder="included in block number" disabled value="{{txInfo.includedInBlockNumber}}" type="number">
    </mat-form-field>

    <mat-toolbar class="toolbar-header">Actions</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>

    <mat-card *ngFor="let action of txInfo.actions; let actionIndex = index"
        class="tx-action-card toolbar-bottom-margin">
        <mat-card-header>
            <mat-card-title>{{actionIndex + 1}}. {{action.actionType}}</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <!-- TransferChx -->
            <table class="full-width" *ngIf="action.actionType === 'TransferChx'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="amount" disabled type="number"
                                value="{{action.actionData.amount}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="to address" disabled type="text"
                                value="{{action.actionData.recipientAddress}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- DelegateStake -->
            <table class="full-width" *ngIf="action.actionType === 'DelegateStake'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="amount" disabled type="number"
                                value="{{action.actionData.amount}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="validator address" disabled type="text"
                                value="{{action.actionData.validatorAddress}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- ConfigureValidator -->
            <table class="full-width" *ngIf="action.actionType === 'ConfigureValidator'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="network address" disabled type="text"
                                value="{{action.actionData.networkAddress}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="shared reward percent" disabled type="number"
                                value="{{action.actionData.sharedRewardPercent}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="is enabled" disabled type="text"
                                value="{{action.actionData.isEnabled}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- RemoveValidator -->
            <table class="full-width" *ngIf="action.actionType === 'RemoveValidator'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="remove validator" disabled type="text"
                                value="{{txInfo.senderAddress}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- TransferAsset -->
            <table class="full-width" *ngIf="action.actionType === 'TransferAsset'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="amount" disabled value="{{action.actionData.amount}}"
                                type="number">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset" disabled value="{{action.actionData.assetHash}}"
                                type="text">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="from account" disabled type="text"
                                value="{{action.actionData.fromAccountHash}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="to account" disabled type="text"
                                value="{{action.actionData.toAccountHash}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- CreateAssetEmission -->
            <table class="full-width" *ngIf="action.actionType === 'CreateAssetEmission'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="amount" disabled type="number"
                                value="{{action.actionData.amount}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset" disabled type="text"
                                value="{{action.actionData.assetHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="emission account" disabled type="text"
                                value="{{action.actionData.emissionAccountHash}}">
                        </mat-form-field>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

            <!-- CreateAsset -->
            <table class="full-width" *ngIf="action.actionType === 'CreateAsset'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset" disabled type="text"
                                value="{{deriveHash(txInfo.senderAddress, txInfo.nonce, actionIndex + 1)}}">
                        </mat-form-field>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

            <!-- SetAssetCode -->
            <table class="full-width" *ngIf="action.actionType === 'SetAssetCode'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset hash" disabled type="text"
                                value="{{action.actionData.assetHash}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset code" disabled type="text"
                                value="{{action.actionData.assetCode}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>


            <!-- SetAssetController -->
            <table class="full-width" *ngIf="action.actionType === 'SetAssetController'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset" disabled type="text"
                                value="{{action.actionData.assetHash}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="controller address" disabled type="text"
                                value="{{action.actionData.controllerAddress}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- CreateAccount -->
            <table class="full-width" *ngIf="action.actionType === 'CreateAccount'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="account" disabled type="text"
                                value="{{deriveHash(txInfo.senderAddress, txInfo.nonce, actionIndex + 1)}}">
                        </mat-form-field>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

            <!-- SetAccountController -->
            <table class="full-width" *ngIf="action.actionType === 'SetAccountController'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="account" disabled type="text"
                                value="{{action.actionData.accountHash}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="controller address" disabled type="text"
                                value="{{action.actionData.controllerAddress}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- SubmitVote -->
            <table class="full-width" *ngIf="action.actionType === 'SubmitVote'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="account hash" disabled type="text"
                                value="{{action.actionData.accountHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset hash" disabled type="text"
                                value="{{action.actionData.assetHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="resolution hash" disabled type="text"
                                value="{{action.actionData.resolutionHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="vote hash" disabled type="text"
                                value="{{action.actionData.voteHash}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- SubmitVoteWeight -->
            <table class="full-width" *ngIf="action.actionType === 'SubmitVoteWeight'">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="account hash" disabled type="text"
                                value="{{action.actionData.accountHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="asset hash" disabled type="text"
                                value="{{action.actionData.assetHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="resolution hash" disabled type="text"
                                value="{{action.actionData.resolutionHash}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="vote hash" disabled type="text"
                                value="{{action.actionData.voteWeight}}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div class="column-container" *ngIf="errors">
    <mat-toolbar class="toolbar-header">Errors</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
    </mat-list>
</div>