<div class="column-container align-center">
    <mat-form-field class="full-width">
        <textarea matInput placeholder="transaction hash" [value]="transactionHash" (input)="transactionHash = $event.target.value" required></textarea>
    </mat-form-field>
    <button (click)="onTransactionInfoButtonClick()" mat-raised-button color="accent">GET TRANSACTION</button>
</div>
<div class="column-container" *ngIf="txInfo">
    <mat-toolbar class="toolbar-header">Transaction info</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="transaction hash" disabled value="{{txInfo.txHash}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <textarea matInput placeholder="sender address" disabled value="{{txInfo.senderAddress}}"></textarea>
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="nonce" disabled value="{{txInfo.nonce}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin">
        <input matInput placeholder="fee" disabled value="{{txInfo.fee}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin" >
        <input matInput placeholder="status" disabled value="{{transactionStatus}}" type="text">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="txInfo.errorCode && (txInfo.errorCode>0)">
        <input matInput placeholder="error code" disabled value="{{txInfo.errorCode}}" type="number">
    </mat-form-field>
    <mat-form-field class="info-item-margin" *ngIf="txInfo.failedActionNumber && (txInfo.failedActionNumber>0)">
        <input matInput placeholder="number of failed actions" disabled value="{{txInfo.failedActionNumber}}" type="number">
    </mat-form-field>
    <mat-toolbar class="toolbar-header">Actions</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let action of txInfo.actions">{{mapAction(action)}}</mat-list-item>
    </mat-list>
</div>
<div class="column-container" *ngIf="errors">
<mat-toolbar class="toolbar-header">Errors</mat-toolbar>
<mat-divider class="toolbar-bottom-margin"></mat-divider>
<mat-list>
    <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
</mat-list>