@import 'error-1-img.css';
@import 'error-2-img.css';
@import 'error-3-img.css';

.row-container {
    display: flex;
    flex-direction: row;
}

.align-right {
    margin-left: auto;
}

.error-image {
    height:30%; 
    width: 30%;
}

.inner-text {
    align-self: center;  
    word-wrap: break-word
}