<div class="column-container align-center">
    <mat-form-field class="full-width">
      <input matInput placeholder="enter private key" [type]="hide ? 'password' : 'text'" [value]="privateKey" (input)="privateKey = $event.target.value" required/>
      <mat-icon matSuffix (click)="hide = !hide" color="accent" class="pointer">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button (click)="onImportButtonClick()" mat-raised-button color="accent" matTooltip="Enter your private key and click import in order to view info about account.">IMPORT</button>     
</div>
<div class="column-container margin-t-20">
    <mat-toolbar class="toolbar-header">Warnings</mat-toolbar>                
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list-item>
        <mat-icon color="accent">report_problem</mat-icon>
        Imported private keys are not recoverable. 
        Your private key will be unloaded from the wallet upon closing the application or clicking the Unload Private Key button.
    </mat-list-item>
    <mat-list-item>
        <mat-icon color="accent">report_problem</mat-icon>
        This is not a recommended way to access your wallet. Due to the sensitivity of the information involved, this option should only be used in offline settings by experienced users.
    </mat-list-item>
</div> 