<div class="column-container align-center">
    <mat-form-field class="full-width">
      <input matInput placeholder="enter private key" [type]="hide ? 'password' : 'text'" [value]="privateKey" (input)="privateKey = $event.target.value" required/>
      <mat-icon matSuffix (click)="hide = !hide" color="accent" class="pointer">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button (click)="onImportButtonClick()" mat-raised-button color="accent" matTooltip="Enter your private key and click import in order to view info about account.">IMPORT</button>     
</div>
<div class="column-container margin-t-20" *ngIf="errors">
    <mat-toolbar class="toolbar-header">Warnings</mat-toolbar>
    <mat-divider class="toolbar-bottom-margin"></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let error of errors">{{error}}</mat-list-item>
    </mat-list>
</div> 