<div class="container my-5">
  <div class="row">
    <div class="col">
      <own-card>
        <own-card-body [padding]="true">
          <div class="row">
            <div class="col-12 col-md-6 pr-0">
              <div class="mx-4 mb-2">
                <div class="row justify-content-between">
                  <b>My Addresses</b>
                  <div>
                    <button class="previous" (click)="slider.prev()">
                      <
                    </button>
                    <button class="next" (click)="slider.next()">
                      >
                    </button>
                  </div>
                </div>
              </div>
              <div class="border-right">
                <own-slider [showDots]="false" #slider>
                  <own-slide [width]="200">
                    <div class="address-item" [class.selected]="true">
                      <div class="address-index mb-3">
                        Address 01
                      </div>
                      <h4 class="address-balance-chx m-0">
                          470.785 CHX
                      </h4>
                      <div class="address-balance-currency">
                        $244.30
                      </div>
                    </div>
                    </own-slide>
                    <own-slide>
                    <div class="address-item" [class.selected]="false">
                      <div class="address-index mb-3">
                        Address 02
                      </div>
                      <h4 class="address-balance-chx m-0">
                          470.785 CHX
                      </h4>
                      <div class="address-balance-currency">
                        $244.30
                      </div>
                    </div>
                  </own-slide>
                  <own-slide>
                    <div class="address-item" [class.selected]="false">
                      <div class="address-index mb-3">
                        Address 03
                      </div>
                      <h4 class="address-balance-chx m-0">
                          470.785 CHX
                      </h4>
                      <div class="address-balance-currency">
                        $244.30
                      </div>
                    </div>
                  </own-slide>
                </own-slider>
              </div>
            </div>
            <div class="col-12 col-md-6">

                <h6 class="mx-4 mb-2">
                    <div class="row justify-content-end">
                      <button class="action-button-small" (click)="slider.prev()">
                        <span>+</span>
                        Action
                      </button>
                      <button class="button-transparent">
                          <own-icon icon="refresh"></own-icon>
                      </button>
                    </div>
                  </h6>

                  <div class="row mt-4">
                    <div class="col-12 address-hash text-center">
                      CHfkCE1AJFM6VApTGMRaEefk4MpkWC2Xaf6
                      <button class="button-transparent" title="Copy address hash">
                          <own-icon icon="copy" color="#eb6723"></own-icon>
                      </button>
                    </div>
                  </div>

                  <div class="row mt-5 ml-0 ml-md-5">
                    <div class="col-3">Delegated</div>
                    <div class="col-3"><b>400.000</b></div>
                    <div class="col-3">Nonce</div>
                    <div class="col-3"><b>3</b></div>
                  </div>

                  <div class="row ml-0 ml-md-5">
                      <div class="col-3">Available</div>
                      <div class="col-3"><b>110.357</b></div>
                      <div class="col-3">Deposit</div>
                      <div class="col-3"><b>0</b></div>
                    </div>


            </div>
          </div>
        </own-card-body>
      </own-card>

    </div>
  </div>

  <div class="row mt-4 px-5 justify-content-between">
    <div class="col-9">
      <div class="quick-actions">
        <b class="mr-4">Quick actions:</b>
        <button class="quick-action-button selected mr-4">
          <span>
            <own-icon icon="send" size="15" color="#39a2ae"></own-icon>
          </span>
          Send CHX
        </button>

        <button class="quick-action-button mr-4">
          <span>
            <own-icon icon="receive" size="15" color="#39a2ae"></own-icon>
          </span>
            Receive CHX
        </button>

        <button class="quick-action-button">
          <span>
            <own-icon icon="staking" size="15" color="#39a2ae"></own-icon>
          </span>
            Staking
        </button>
      </div>
    </div>

    <div class="col-3 text-right">
      <button class="advanced-dropdown-button">
        <b class="mr-2">Advanced actions</b>
        <own-icon icon="arrow-down"></own-icon>
      </button>
    </div>

  </div>

</div>
