<ng-container *ngIf="isKeyImported">
<div class="container">
  <nav class="tabs mt-2 mt-md-5">
    <ul>
      <li
      class="tab text-center text-md-left cursor-pointer"
      [class.active]="tab === 'config'"
      (click)="selectTab('config')">
            <a>
              Configure Validator
            </a>
      </li>
      <li
      class="tab text-center text-md-left cursor-pointer ml-2"
      [class.active]="tab === 'remove'"
      (click)="selectTab('remove')">
        <a>
          Remove Validator
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container my-5" *ngIf="tab === 'config' && configForm && !submissionErrors && !isSubmited">
    <div class="row justify-content-center" @contentInOut>
      <div class="col-12 col-md-8">
        <own-card>
          <own-card-title>
            <b>Configure Validator</b>
          </own-card-title>
          <own-card-body [padding]="true">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8">
                <form [formGroup]="configForm" (ngSubmit)="configureValidator(configForm)">
                  <div class="row">
                    <div class="col-12">
                      <b>Validator Address</b>
                    </div>
                    <div class="col-12">
                      {{ wallet.address }}
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12">
                      <label class="block">Network Address</label>
                    </div>
                    <div class="col-12">
                      <input class="block" type="text" formControlName="networkAddress">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12 col-md-6">
                      <label class="block">Shared Reward %</label>
                      <input type="number" class="block" formControlName="sharedRewardPercent">
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                      <label class="block">Enabled</label>
                      <div class="row mt-2">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              NO
                            </div>
                            <div class="col">
                              <input class="own-switch" type="checkbox" id="is-enabled" formControlName="isEnabled">
                              <label class="own-switch-label" for="is-enabled"></label>
                            </div>
                            <div class="col">
                              YES
                            </div>
                          </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="row justify-content-center mt-5">
                    <div class="col-12 col-md-10">
                      <button type="submit" class="block own-effect" [disabled]="configForm.invalid">
                        CONFIGURE VALIDATOR
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </own-card-body>
        </own-card>
      </div>
  </div>
</div>


<div class="container my-5" *ngIf="tab === 'remove' && !submissionErrors && !isSubmited">
  <div class="row justify-content-center" @contentInOut>
    <div class="col-12 col-md-8">

      <own-card>
        <own-card-title>
          <b>Remove Validator</b>
        </own-card-title>
        <own-card-body [padding]="true">
          <div class="row text-center">
            <div class="col-12">
              <b>Validator Address</b>
            </div>
            <div class="col-12">
              {{ wallet.address }}
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 mt-5">
              <button class="block own-effect" (click)="removeValidator()" [disabled]="!validator">
                REMOVE VALIDATOR
              </button>
            </div>
          </div>
        </own-card-body>
      </own-card>
    </div>
  </div>
</div>

<div class="container mb-5" *ngIf="isSubmited && txResult && !submissionErrors">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="row full-height align-items-center justify-content-center">
          <div class="col-12 col-md-4">
            <div class="token-success"></div>
          </div>
          <div class="col-12 col-md-7">
            <h4>Success!</h4>
            <p class="info">
              Your transaction has been submitted.
            </p>
            <p>
              <b>
                <div class="row">
                  <div class="col-12">
                    Transaction:
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        {{ txResult.txHash }}
                        <button class="button-transparent" title="Copy Transaction" ngxClipboard cbContent="{{ txResult.txHash }}">
                          <own-icon icon="copy" color="#eb6723"></own-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </b>
            </p>
            <p class="text-center mt-5">
              <button class="outline own-effect mr-4" [routerLink]="['/info/tx/' + txResult.txHash]">
                VIEW TRANSACTION INFO
              </button>
              <button class="own-effect" (click)="reset()">
                CLOSE
              </button>
            </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container mb-5" *ngIf="isSubmited && submissionErrors">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="row full-height align-items-center">
          <div class="col-12 col-md-6">
            <div class="token-fail"></div>
          </div>
          <div class="col-12 col-md-6">
            <h4>Sorry, your transaction was rejected.</h4>
            <p class="info">
              <li *ngFor="let error of submissionErrors">
                {{ error }}
              </li>
            </p>
            <p class="text-center mt-5">
                <button class="outline own-effect" (click)="reset()">
                  TRY AGAIN ?
                </button>
            </p>
      </div>
    </div>
  </div>
</div>
</div>
</ng-container>