<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="input-group">
            <input
            class="form-control"
            type="text"
            placeholder="Search by validator hash"
            [value]="validatorHash"
            (input)="validatorHash = $event.target.value"
            (keydown.enter)="onValidatorInfoButtonClick()"
            required>
            <button class="search-button" (click)="onValidatorInfoButtonClick()" title="Click to get detailed address info.">
                <own-icon icon="search"></own-icon>
            </button>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="validatorsInfo">
  <div class="container my-5" @contentInOut>
    <div class="row">
      <div class="col-12">

        <div class="card">
          <p class="m-0 card-title p-4">
            <b>Validators</b>
          </p>

          <ngx-datatable
            class="wallet-table"
            [rows]="validatorsInfo.validators"
            [columnMode]="ColumnMode.flex"
            [headerHeight]="50"
            [footerHeight]="0"
            rowHeight="auto">

            <ngx-datatable-column name="isActive" [flexGrow]="1" [maxWidth]="40">
              <ng-template let-column="column" ngx-datatable-header-template></ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
              <ng-container *ngIf="value">
                <svg width="24" viewBox="0 0 24 24">
                  <ellipse fill="#1ec163" cx="10" cy="10" rx="10" ry="10" />
                  <g transform="translate(5.088 6.933)">
                    <line
                      fill="none"
                      stroke="#fff"
                      stroke-linecap="round"
                      stroke-width="3px"
                      x2="3.438"
                      y2="3.684"
                      transform="translate(0 3.438)"
                    />
                    <line
                      fill="none"
                      stroke="#fff"
                      stroke-linecap="round"
                      stroke-width="3px"
                      x1="6.385"
                      y2="7.122"
                      transform="translate(3.438)"
                    />
                  </g>
                </svg>
              </ng-container>
                <ng-container *ngIf="!value">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <rect fill="transparent" width="24" height="24"/>
                    <g transform="translate(2 1.97)">
                      <g transform="translate(0 0)">
                        <ellipse fill="#f8333b" cx="10" cy="10" rx="10" ry="10"/>
                        <g transform="translate(6.271 5.926)">
                          <g transform="translate(0 0)">
                            <line fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3px" x1="7.455" y2="8.316"/>
                            <line fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3px" x2="7.455" y2="8.316"/>
                          </g>
                        </g>
                      </g>
                    </g>
                </svg>                
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="validatorAddress"  [flexGrow]="8">
              <ng-template let-column="column" ngx-datatable-header-template>
                Address
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/info/validator', value]"
                  [ngClass]="{ 'validator-disabled': row.isBlacklisted === true || row.isEnabled !== true }">
                  {{ value }}
                </a>
                <span class="validator-hint" [hidden]="!row.isBlacklisted">&nbsp;(blacklisted)</span>
                <span class="validator-hint" [hidden]="row.isEnabled">&nbsp;(disabled)</span>
                <br>
                {{ row.networkAddress }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="sharedRewardPercent" [flexGrow]="1">
              <ng-template let-column="column" ngx-datatable-header-template>Reward %</ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="validatorStakes">
  <div class="container my-5" @contentInOut>
    <div class="row">
      <div class="col-12">

        <div class="card">
          <p class="m-0 card-title p-4">
            <b>Stakes</b>
          </p>

          <ngx-datatable
            class="wallet-table"
            [rows]="validatorStakes.stakes"
            [columnMode]="ColumnMode.flex"
            [headerHeight]="50"
            [footerHeight]="0"
            rowHeight="auto">

            <ngx-datatable-column name="stakerAddress" [flexGrow]="8">
              <ng-template let-column="column" ngx-datatable-header-template>
                Staker Address
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <strong>
                  <a [routerLink]="['/info/address', value]">
                    {{ value }}
                  </a>
                </strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="amount" [flexGrow]="1">
              <ng-template let-column="column" ngx-datatable-header-template>Amount</ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>
</ng-container>
