<div
  class="own-modal"
  [class.open]="isOpen | async"
  (click)="onClickBg($event)"
>
  <div class="own-modal-body" [ngStyle]="{ width: width + 'px' }">
    <button class="close button-transparent">
      <svg viewBox="0 0 40 40" width="12px" (click)="close()">
        <path
          class="path"
          d="M2 2 L20 20 L38 2 M20 20 L20 20 M2 38 L20 20 L38 38"
        />
      </svg>
    </button>
    <ng-content></ng-content>
    <ng-container *ngIf="errors">
      <div class="text-center">
        <div class="token-fail"></div>
      </div>
      <h6 class="text-center">Error!</h6>
      <p class="px-4">
        <li *ngFor="let error of errors">
          {{ error.message ? error.message : error }}
        </li>
      </p>
      <button class="outline own-effect block" (click)="close()">CLOSE</button>
    </ng-container>
  </div>
</div>
